﻿.icon-black {
    color: #000 !important;
}

@font-face {
    font-family: 'Aksorn';
    src: url('../fonts/AksornBold_0_wt.eot');
    src: url('../fonts/AksornBold_0_wt.eot?#iefix') format('embedded-opentype'), url('../fonts/AksornBold_0_wt.woff2') format('woff2'), url('../fonts/AksornBold_0_wt.woff') format('woff'), url('../fonts/AksornBold_0_wt.ttf') format('truetype'), url('AksornBold_0_wt.svg#AksornBold_0_wt') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aksorn';
    src: url('../fonts/AksornRegular.eot');
    src: url('../fonts/AksornRegular.eot?#iefix') format('embedded-opentype'), url('../fonts/AksornRegular.woff2') format('woff2'), url('../fonts/AksornRegular.woff') format('woff'), url('../fonts/AksornRegular.ttf') format('truetype'), url('AksornRegular.svg#AksornRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.aksorn-Bold {
    font-family: 'Aksorn' !important;
    font-weight: bold;
    font-size: 1.4rem;
}

.aksorn {
    font-family: 'Aksorn' !important;
    font-size: 1.4rem;
}

.cursor-pointer {
    cursor: pointer !important;
}

.f-0-6 {
    font-size: 0.6rem !important;
}

.f-0-8 {
    font-size: 0.9rem !important;
}

.f-0-9 {
    font-size: 0.9rem !important;
}

.f-1-0 {
    font-size: 1.1rem !important;
}

.f-1-2 {
    font-size: 1.2rem !important;
}

.f-1-4 {
    font-size: 1.4rem !important;
}

.f-1-6 {
    font-size: 1.6rem !important;
}

.f-1-8 {
    font-size: 1.8rem !important;
}

.f-2-0 {
    font-size: 2.0rem !important;
}

.f-2-2 {
    font-size: 2.2rem !important;
}

.logo-auth {
    height: 60px;
    text-align: center !important;
}

.title-page {
    font-family: 'Aksorn';
    font-size: 1.6rem;
    margin: 0px 0px 30px 0px;
}

.title-page-1 {
    font-family: 'Aksorn';
    font-size: 1.6rem;
    margin: 0px 0px 0px 0px;
}

.card-bodygray {
    color: var(--system_color_text) !important;
    background: var(--system_color_table_header);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    .card-bodygray th:first-child {
        border-top: none !important;
    }

.card-weaccount {
    border: 1px solid #e8eaef;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.1);
    border-radius: 10px;
}

.bg-softblue {
    background: #eaf8fd;
}

.table-softblue {
    background: #eaf8fd;
}

.table-softred {
    background: #fff2f8;
}

.bg-softred {
    background: #fff2f8;
}

.badge-softyellow {
    color: #fea000 !important;
    background: rgba(255,207,85,.2) !important;
}

.table-softyellow {
    color: #000 !important;
    background: rgba(255,207,85,.2) !important;
}

.table-softsetting {
    color: #000 !important;
    background: rgba(141,141,141,.2) !important;
}

.table-report {
    border-bottom: 2px solid #2898cb;
    background: 0 0;
    padding-bottom: 5px;
}

    .table-report th {
        border-top: none !important;
        color: #2898cb;
        background: 0 0;
    }

.table-hover tbody tr td p {
    margin-top:10px;
    margin-bottom:0px;
}

.table-hover-blue tbody tr td p {
    margin-top: 10px;
    margin-bottom: 0px;
}

.table-softgray {
    color: #2e3642 !important;
    background: #edeff4 !important;
}

.badge-softgray {
    color: #434a54;
    background: rgba(170,178,189,.15);
}

.badge-softblue {
    color: #2898cb;
    background: rgba(79,192,232,.15);
}

.badge-softgreen {
    color: #4cb050;
    background: rgba(136,196,38,.15);
}

.badge-softred {
    color: #ed5564;
    background: rgba(237,85,100,.1);
}

.text-softred {
    color: #ed5564 !important;
}

.text-disabled-select {
    color: #aab2bd !important;
    cursor: pointer !important;
}

.cursor-option {
    cursor: pointer !important;
}

.ul-width-10 {
    width: 10%;
}

.ul-width-12 {
    width: 12%;
}

.h-500 {
    min-height: 250px;
}

#loader {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #fff;
    opacity: 1;
    width: 100%;
    height: 100%;
    z-index: 1040;
}

#loaderInner {
    opacity: 1;
    width: 60px;
    height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
}

.paging-active-subtitle {
    color: #2898cb !important;
    background: #f3fbfe !important;
    border: 1px solid #ccd0d9 !important;
}

.paging-non-active-subtitle {
    color: #000 !important;
    background-color: #fff !important;
    border: 1px solid #ccd0d9 !important;
}

.border-fix {
    border: 1px solid #ccd0d9 !important;
}

.border-fix-table {
    border: 1px solid #ccd0d9;
}

.dropdown-menu-search {
    width: 300px;
}

table.scroll tbody,
table.scroll thead {
    display: block;
}

thead tr th {
    height: 30px;
    line-height: 30px;
    /*text-align: left;*/
}

tbody tr td {
    vertical-align: top !important;
}

tfoot tr td {
    vertical-align: top !important;
}

table.scroll tbody {
    height: calc((var(--vh,1vh) * 100) - 292px - 40px) !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.loader-scroll {
    height: calc((var(--vh,1vh) * 100) - 292px - 40px) !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.loader-scroll-report {
    height: calc((var(--vh,1vh) * 115) - 292px - 40px) !important;
    overflow-y: auto;
    overflow-x: hidden;
}


.scroll-modal {
    height: calc((var(--vh,1vh) * 100) - 100px) !important;
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll-card {
    height: calc((var(--vh,1vh) * 100) - 292px - 40px) !important;
    overflow-y: auto;
    overflow-x: hidden;
}


/* modal full */
.modal .modal-dialog-full .modal-content-full .modal-header-full {
    padding: 25px 40px 10px 40px;
}

    .modal .modal-dialog-full .modal-content-full .modal-header-full .close span {
        font-size: 20px;
        font-weight: 400;
        color: #6a6a6a;
    }

.modal .modal-dialog-full .modal-content-full .modal-body-full {
    padding: 0px 20px 10px 20px;
}

.modal .modal-dialog-full .modal-content-full .modal-footer-full {
    padding: 15px 31px;
}

.modal-content-full {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
}


.modal-header-full {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
}

.modal-title-full {
    font-size: 1.2rem;
    font-family: 'Aksorn';
}

.modal-option-item {
    border: none;
    background-color: transparent;
    margin: 0 6.5px;
    padding: 8px 0 5px;
}

.modal-option-link:hover > i.fa {
    color: #2898cb !important;
}

.modal-option-link:hover > span {
    color: #2898cb !important;
    text-decoration: underline;
}

.modal-noscroll {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.modal-option-item .modal-option-link {
    color: #646e7a !important;
    background: 0 0;
    text-decoration: none;
}

    .modal-option-item .modal-option-link > i.fa {
        font-size: 27px;
        display: block;
    }

.modal-subtitle-full {
    line-height: 30px;
    background: #fff;
    padding-right: 30px;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.modal-option-item .modal-option-link > span {
    font-family: cs_chatthaiuiregular;
    font-size: 12px;
    line-height: 1.4em;
    display: block;
    padding-top: 6px;
}
/*    -------------       */
hr {
    box-sizing: content-box;
    height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0;
    background: #e6e9ee;
    height: 1px;
}

.hr-subtitle {
    box-sizing: content-box;
    height: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    background: #e6e9ee;
    height: 1px;
}

.hr-title {
    background: #e6e9ee;
    height: 1px;
    width: 95%;
    position: absolute;
    z-index: 1;
    top: 14.5px;
    left: 0;
}

.h-500px {
    height: 500px !important;
}

.form-textarea {
    height: 75px !important;
}

.form-textarea-1 {
    height: 150px !important;
}



/*Table*/

.table-data {
    margin: 0 50px 20px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #E2E5EA;
    text-align: center;
    box-shadow: 0 11px 35px rgba(24, 44, 79, 0.05);
}

    .table-data .s-table {
        display: grid;
        align-items: center;
    }

        .table-data .s-table.-d4 {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        .table-data .s-table.-d9 {
            grid-template-columns: repeat(9, minmax(0, 1fr));
        }

        .table-data .s-table.-d7 {
            grid-template-columns: repeat(7, minmax(0, 1fr));
        }

        .table-data .s-table.-df7 {
            grid-template-columns: minmax(0, 1fr) repeat(6, minmax(0, 2fr));
        }

        .table-data .s-table.-df3 {
            grid-template-columns: minmax(0, 1fr) repeat(2, minmax(0, 3fr));
        }

        .table-data .s-table.-df3-1 {
            grid-template-columns: minmax(0, 4fr) repeat(2, minmax(0, 2fr));
        }

        .table-data .s-table.-df4 {
            grid-template-columns: minmax(0, 1fr) repeat(3, minmax(0, 3fr));
        }

        .table-data .s-table.-df5 {
            grid-template-columns: minmax(0, 1fr) repeat(4, minmax(0, 2fr));
        }

        .table-data .s-table.-df6 {
            grid-template-columns: minmax(0, 1fr) repeat(5, minmax(0, 2fr));
        }

        .table-data .s-table.-df8 {
            grid-template-columns: minmax(0, 1fr) repeat(7, minmax(0, 2fr));
        }

        .table-data .s-table.-df9 {
            grid-template-columns: minmax(0, 1fr) repeat(8, minmax(0, 2fr));
        }

        .table-data .s-table div {
            padding: 0 10px;
        }

            .table-data .s-table div.title {
                font-weight: 600;
                font-size: 12px;
                color: #7D8A8B;
            }

            .table-data .s-table div.sub {
                font-weight: 400;
                font-size: 12px;
                color: #7D8A8B;
                word-wrap: break-word;
            }

                .table-data .s-table div.sub span,
                .table-data .s-table div.sub a.icon {
                    margin-right: 10px;
                }

                    .table-data .s-table div.sub span:last-child,
                    .table-data .s-table div.sub a.icon:last-child {
                        margin-right: 0;
                    }

                .table-data .s-table div.sub a span {
                    color: #7D8A8B;
                }

                .table-data .s-table div.sub.move-rigth {
                    animation: moveBottom 1.5s;
                    animation-delay: 1.1s;
                }

                .table-data .s-table div.sub .people {
                    display: flex;
                    align-items: center;
                    margin-bottom: 0;
                    color: #242D2E;
                }

                    .table-data .s-table div.sub .people span {
                        font-size: 12px;
                        font-weight: 600;
                    }

                    .table-data .s-table div.sub .people img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-right: 10px;
                    }

                .table-data .s-table div.sub a {
                    font-weight: bold;
                    color: #004A9C;
                }

                .table-data .s-table div.sub.-hl {
                    color: #1B1464;
                    font-weight: 600;
                }

                .table-data .s-table div.sub.-warning {
                    color: #FD7B1F;
                    font-weight: 600;
                }

                .table-data .s-table div.sub.-success {
                    color: #40B630;
                    font-weight: 600;
                }

                .table-data .s-table div.sub.-mark {
                    color: #242D2E;
                    font-weight: 600;
                }

        .table-data .s-table.-sub.-pic {
            padding: 10px 20px;
        }

        .table-data .s-table.-sub.-all {
            padding: 2px 20px;
        }

            .table-data .s-table.-sub.-all .img-source {
                width: 100;
                height: 58px;
                object-fit: cover;
            }

        .table-data .s-table.-title, .table-data .s-table.-sub {
            padding: 20px;
            border-bottom: 1px solid #E2E5EA;
        }

            .table-data .s-table.-title span, .table-data .s-table.-sub span {
                font-size: 18px;
            }

        .table-data .s-table:last-child {
            border-bottom: 0;
        }

.c-fixheight {
    min-height: calc((var(--vh,1vh) * 100) - 292px - 40px) !important;
}

.s-table {
    width: 100%;
}

.border-left-top-none {
    border-top-left-radius: 0px !important;
}

@media (max-width: 1400px) {
    .s-table {
        min-width: 1110px !important;
    }

    .loader-scroll-report {
        height: calc((var(--vh,1vh) * 125) - 292px - 40px) !important;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media (max-width: 992px) {
    .table-data {
        width: 90vw;
        overflow-y: hidden;
        margin: 0 auto;
        overflow-x: scroll;
    }



        .table-data .table-ft.s-grid.-d2.-m2 {
            width: 1110px;
            margin-bottom: 0;
        }
}

.row-modal {
    display: flex;
    flex-wrap: wrap;
}
/*************/
/*Button Status*/
.btn-yellow {
    color: #fea000 !important;
    background: rgba(255,207,85,.2) !important;
}

.btn-blue {
    color: #2898cb;
    background: rgba(79,192,232,.15);
}

    .btn-blue:disabled {
        color: #2898cb !important;
        background: rgba(79,192,232,.15) !important;
        opacity: 1 !important;
    }

.btn-red {
    color: #ed5564;
    background: rgba(237,85,100,.1);
}

    .btn-red:disabled {
        color: #ed5564 !important;
        background: rgba(237,85,100,.1) !important;
        opacity: 1 !important;
    }

.btn-gray {
    color: #434a54;
    background: rgba(170,178,189,.15);
}

.btn-green {
    color: #4cb050;
    background: rgba(136,196,38,.15);
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.btn-radius-5 {
    border-radius: 5px !important;
}
/**************/
.text-success {
    color: #74ac18 !important;
}

.btn-receipt {
    color: rgba(255,255,255,.9);
    background-color: #88c426;
    border-color: #74ac18;
}

.btn-category {
    color: rgb(220, 57, 112);
    background: rgba(220, 57, 112, 0.05);
}

.color_client, .color_lightblue {
    color: #4fc0eb;
}

.color_vendor, .color_yellow {
    color: #ffcf55;
}

.color_approved, .color_lightgreen, .color_vendor_and_client {
    color: #88c426;
}

.color-circle {
    font-size: 8px;
    position: relative;
    top: -2px;
}

.modal-header-del {
    text-align: center;
    padding: 30px 0 5px;
}

.modal-body-del {
    text-align: center;
    min-height: 54px;
}

.modal-footer-del {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #dee2e6;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
}

.flowlabel-blue {
    color: #2898cb !important;
}

button.flowbtnsm {
    font-family: cs_chatthaiuiregular;
    font-size: 15px;
    line-height: 1.53em;
    color: var(--system_color_text);
    height: 30px;
    line-height: 28px;
    padding: 0 12px;
    min-width: 140px;
    text-align: center;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-indent: 0;
    text-shadow: none;
    border: 1px solid transparent;
    cursor: pointer;
}

    button.flowbtnsm.dialog-red-btn {
        background: var(--system_color_red);
        color: var(--system_color_white);
    }

        button.flowbtnsm.dialog-red-btn:active, button.flowbtnsm.dialog-red-btn:focus, button.flowbtnsm.dialog-red-btn:hover {
            background: var(--system_color_red_hover);
        }

    button.flowbtnsm.dialog-green-btn {
        background-color: rgb(136, 196, 38);
        color: var(--system_color_white);
        border-color: #ccd0d9;
    }

        button.flowbtnsm.dialog-green-btn:active, button.flowbtnsm.dialog-green-btn:focus, button.flowbtnsm.dialog-green-btn:hover {
            background-color: rgb(116, 172, 24);
        }

    button.flowbtnsm.dialog-gray-btn {
        color: #434a54;
        background-color: #fff;
        border-color: #ccd0d9;
    }

        button.flowbtnsm.dialog-gray-btn:active, button.flowbtnsm.dialog-gray-btn:focus, button.flowbtnsm.dialog-gray-btn:hover {
            color: #434a54;
            background-color: #fff;
            border-color: #aab2bd;
        }

    button.flowbtnsm.dialog-lightgray-btn {
        color: #999;
        background-color: #fff;
        border-color: #fff;
    }

        button.flowbtnsm.dialog-lightgray-btn:active, button.flowbtnsm.dialog-lightgray-btn:focus, button.flowbtnsm.dialog-lightgray-btn:hover {
            color: #999;
            background-color: #f6f7fb;
            border-color: #e6e9ee;
        }

    button.flowbtnsm.dialog-blue-btn {
        background: var(--system_color_blue_modal);
        color: var(--system_color_white);
    }

        button.flowbtnsm.dialog-blue-btn:active, button.flowbtnsm.dialog-blue-btn:focus, button.flowbtnsm.dialog-blue-btn:hover {
            background: var(--system_color_blue_modal_hover);
        }

    button.flowbtn.close-btn, button.flowbtnsm.close-btn {
        background: var(--system_color_white);
        color: var(--system_color_paragraph);
        border: 1px solid var(--system_color_border);
    }

        button.flowbtnsm.close-btn:hover {
            background: var(--system_color_table_header);
        }

button.close-del {
    padding: 0px 10px 5px 0px;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.close-del {
    float: right;
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

    .close-del:hover, .close-del:focus {
        color: #000;
        text-decoration: none;
        opacity: .75;
    }

    .close-del:not(:disabled):not(.disabled) {
        cursor: pointer;
    }

.modal-content-success {
    border: none;
    border-top: 10px solid rgb(136, 196, 38);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.modal-dialog-success {
    box-shadow: 0 3px 10px 0 rgba(242, 82, 93, 0.2);
    border: 1px solid var(136, 196, 38);
}


.modal-content-alert {
    border: none;
    border-top: 10px solid var(--system_color_modal_blue);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.modal-dialog-alert {
    box-shadow: 0 3px 10px 0 rgba(242, 82, 93, 0.2);
    border: 1px solid var(--system_color_modal_blue);
}

.modal-content-del {
    border: none;
    border-top: 10px solid var(--system_color_red);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.modal-dialog-del {
    box-shadow: 0 3px 10px 0 rgba(242, 82, 93, 0.2);
    border: 1px solid var(--system_color_red);
}

:root {
    --system_color_modal_blue: #3caeda;
    --system_color_text: #2e3642;
    --system_color_paragraph: #485567;
    --system_color_placeholder: #aab2bd;
    --system_color_disable: #c5ccd6;
    --system_color_border: #d0d4dd;
    --system_color_hr: #e6e9ee;
    --system_color_hr_hover: #f0f2f5;
    --system_color_table_header: #edeff4;
    --system_color_gray: #f8f9fb;
    --system_color_white: #fff;
    --system_color_active: #4cb050;
    --system_color_active_hover: #3ca240;
    --system_color_red: #f2525d;
    --system_color_red_hover: #d03d47;
    --system_color_warning: #ffcf55;
    --system_color_upgrade: #fea000;
    --system_color_blue: #3077eb;
    --system_color_blue_hover: #2b71e6;
    --system_background_blue: #eff6ff;
    --color_menu: #526175;
    --color_menu2: #485567;
    --font-prompt: "Prompt";
    --font-chatthai: "cs_chatthaiuiregular";
    --app_color: #3077eb;
    --app_color_hover: #2b71e6;
    --app_color_hover_new: #1c62d3;
    --vh: 1vh;
    --vw: 1vw;
    --system_color_blue_modal: #2898cb;
    --system_color_blue_modal_hover: #1a84b5;
}

.fa-blue {
    color: #3077EB;
}

.fa-org {
    color: #FEA000;
}

.fa-gray {
    color: #D0D4DD;
}

.span-a {
    position: relative;
    display: block;
    margin-top: 12px;
}

a.orange-line {
    cursor: pointer;
    font-family: Aksorn;
    font-size: 13px;
    color: #fea000 !important;
}

a.blue-line {
    cursor: pointer;
    font-family: Aksorn;
    font-size: 13px;
    color: #2898cb !important;
}


a.red-line {
    cursor: pointer;
    font-family: Aksorn;
    font-size: 13px;
    color: #ed5564 !important;
}

.input-group-run {
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: stretch;
    width: 100%;
}

.input-group-append-run {
    background: #ffffff;
    color: #c9c8c8;
    width: auto;
}

.input-group-text-first {
    display: flex;
    align-items: center;
    padding: 0.56rem 1.375rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 0px solid #ced4da;
    border-top: 1px solid #ced4da !important;
    border-bottom: 1px solid #ced4da !important;
    border-left: 1px solid #ced4da !important;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: 36px;
}

.input-group-text-first-text {
    display: flex;
    align-items: center;
    padding: 0.56rem 1.375rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    border: 0px solid #ced4da;
    border-top: 1px solid #ced4da !important;
    border-bottom: 1px solid #ced4da !important;
    border-left: 1px solid #ced4da !important;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid #ced4da !important;
    height: 36px;
}

.input-group-text-mid {
    display: flex;
    align-items: flex-start;
    padding: 0.56rem 1.5rem !important;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    text-align: left;
    white-space: nowrap;
    border: 1px solid #ced4da !important;
    border-radius: 0px !important;
    height: 36px;
}

.input-group-text-end {
    display: flex;
    align-items: flex-start;
    padding: 0.56rem 1.5rem !important;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #495057;
    text-align: left;
    white-space: nowrap;
    border: 0px solid #ced4da !important;
    border-top: 1px solid #ced4da !important;
    border-bottom: 1px solid #ced4da !important;
    border-right: 1px solid #ced4da !important;
    border-bottom-right-radius: 5px !important;
    border-top-right-radius: 5px !important;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    height: 36px;
}

.text-tax {
    color: #646e7a !important;
}

.no-border {
    border: 0px !important;
}

.a-hover-orderby {
    text-decoration: none !important;
}

    .a-hover-orderby:hover {
        text-decoration: underline !important;
    }

.color-status-lightgreen {
    color: #4cb050 !important;
}

.color-status-lightred {
    color: #ed5564 !important;
}

.color-status-lightgray {
    color: #ccd0d9 !important;
}

.color-status-lightyellow {
    color: #fea000 !important;
}

.color-status-lightblue {
    color: #2898cb !important
}

.text-underline {
    text-decoration: underline !important;
}

.tippy-tooltip.light-theme {
}


.tooltip-inner {
    border-radius: 4px;
    font-family: 'Aksorn' !important;
    background: #fff;
    border: 1px solid #ccd0d9;
    text-align: left;
    font-size: 14px;
    line-height: 1.62em;
    color: #646e7a;
    padding: 10px;
    padding-top: 5px;
    box-shadow: 0 5px 7px rgba(204,208,217,.5) !important;
    width: auto;
    min-width: 160px;
    display: block;
    border-top: 10px solid #FEBF00;
    padding-bottom: 10px;
}


    .tooltip-inner .title {
        font-family: 'Aksorn' !important;
        font-size: 15px;
        line-height: 1.53em;
        color: Black;
        font-weight: 700;
        padding: 3px 0 1px;
    }

    .tooltip-inner hr {
        width: 100%;
        margin: 3px 0;
        border-top: 1px solid #e6e9ee;
    }

.modal-scroll-y {
    overflow-y: scroll;
}

.document-bottom {
    display: block;
    text-decoration: none;
    background-color: #f8fdff;
    border: 1px solid #def6ff;
    border-radius: 10px;
    cursor: pointer;
    padding: 2px 10px;
    margin: 6px 0;
    color: #000;
    line-height: 1.3em;
    width: calc(100% - 15px);
}

.document-delete {
    font-size: 13px;
    top: 8px;
    cursor: pointer;
    right: -5px;
    padding: 2px 5px;
}

.modal-content-img {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    display: block;
    max-width: 100%;
    height: auto;
}


.color-sell {
    color:#2898cb !important;
}
.background-sell {
    background-color: #2898cb !important;
}

.color-buy {
    color: #ed5564 !important;
}

.background-buy {
    background-color: #ed5564 !important;
}

.color-setting {
    color: #434a54 !important;
}

.background-setting {
    background-color: #434a54 !important;
}