﻿@using System.Web.Optimization;
@{
    Random d = new Random();
    string random = d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString();
}

@section RenderScriptWithPage
    {
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.th.min.js"></script>
    <script src="~/js/controller/documentexpensecontroller/documentexpensecontroller.js?nocache= + @random"></script>
    <script src="~/js/controller/documentsellcontroller/ParamServiceControl.js?nocache= + @random"></script>

    <script>
        $(document).ready(function () {
            $('.dropdown-menu select.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });

        (function ($) {
            if ($("#datepicker-popup").length) {
                $('#datepicker-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    language: 'th-th',
                    format: "dd-mm-yyyy"
                });
            }
            if ($("#datepicker-popup-1").length) {
                $('#datepicker-popup-1').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    language: 'th-th',
                    format: "dd-mm-yyyy"
                });
            }
            if ($("#inputreceivedate-popup").length) {
                $('#inputreceivedate-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    language: 'th-th',
                    format: "dd-mm-yyyy"
                });
            }

            if ($("#inputreceivechaque-popup").length) {
                $('#inputreceivechaque-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    language: 'th-th',
                    format: "dd-mm-yyyy"
                });
            }
        })(jQuery);

        var $table = $('table.scroll'),
            $bodyCells = $table.find('tbody tr:first').children(),
            colWidth;

        // Adjust the width of thead cells when window resizes
        $(window).resize(function () {
            // Get the tbody columns width array
            colWidth = $bodyCells.map(function () {
                return $(this).width();
            }).get();

            // Set the width of thead columns
            $table.find('thead tr').children().each(function (i, v) {
                $(v).width(colWidth[i]);
            });
        }).resize(); // Trigger resize handler
    </script>

}

<link href="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<title>ค่าใช้จ่าย | BeefAccount</title>
<form autocomplete="off" ng-controller="documentexpensecontroller" data-ng-init="init()">
    <div class="row">
        <div class="col-md-12 ">
            <div class="d-flex">
                <h5 class="title-page-1">
                    ค่าใช้จ่าย
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb pl-0">
                            <li class="breadcrumb-item" aria-current="page">ค่าใช้จ่าย</li>
                            <li class="breadcrumb-item active">แสดงทั้งหมด</li>
                        </ol>
                    </nav>
                </h5>
                <div class="h-25 ml-auto">
                    <a href="@Url.Content("~/")DocumentExpenses/ExpensesAdd" class="btn btn-success btn-fw px-5 aksorn f-1-2">สร้างใหม่</a>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 ">
            <nav>
                <ul class="pagination rounded aksorn f-1-0 ">
                    <li class="page-item border-paiging  text-center" ng-click="OnClickSelectType('ALL')"><a class="page-link paging-active-subtitle" ng-class="{ 'paging-active-subtitle' : Search.BillingType == 'ALL'}">แสดงทั้งหมด</a></li>
                    @*<li class="page-item border-paiging  text-center" ng-click="OnClickSelectType('BN')"><a class="page-link" ng-class="{ 'paging-active-subtitle' : Search.BillingType == 'BN'}"> <i class="fa fa-file-text-o f-0-8 mr-2 "></i>ใบวางบิล</a></li>
                        <li class="page-item border-paiging  text-center" ng-click="OnClickSelectType('CBN')"><a class="page-link" ng-class="{ 'paging-active-subtitle' : Search.BillingType == 'CBN'}"> <i class="fa fa-files-o f-0-8 mr-2 "></i>    ใบวางบิลรวม</a></li>*@
                    <li class="page-item mega-dropdown border-paiging text-center">
                        <a class="page-link paging-non-active-subtitle" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ค้นหา <i class="ml-3 f-0-6  icon-arrow-down"></i></a>
                        <div class="dropdown-menu dropdown-menu-search  border-fix" aria-labelledby="dropdownMenuButton1">
                            <h6 class="dropdown-header aksorn f-1-0">ค้นหา : </h6>
                            <div class="form-group px-4  pb-0 mb-0 pt-1">
                                <input type="text" class="form-control" id="exampleInputtext1" placeholder="" ng-model="Search.InputFilter">
                            </div>
                            <h6 class="dropdown-header text-muted aksorn f-0-8">ค้นหาจากชื่อผู้ติดต่อ , เลขที่เอกสาร , ชื่อโปรเจ็ค</h6>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header aksorn f-1-0">สถานะเอกสาร : </h6>
                            <div class="form-group px-4  pb-1 mb-0 pt-1">
                                <select class="test form-control form-control-sm" id="exampleFormControlSelect3" ng-model="Search.SelectStatus">
                                    <option value="0">สถานะทั้งหมด</option>
                                    <option value="1">รอดำเนินการ</option>
                                    <option value="2">อนุมัติ</option>
                                    <option value="99">ชำระเงินแล้ว</option>
                                    <option value="3">ยกเลิก</option>
                                    <option value="98">รับใบเสร็จแล้ว</option>
                                </select>
                            </div>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header aksorn f-1-0">ช่วงวันที่เริ่มต้น : </h6>
                            <div class="form-group px-4  pb-1 mb-0 pt-1">
                                <div id="datepicker-popup" class="input-group date datepicker">
                                    <input type="text" class="form-control" ng-model="Search.InputFromDate">
                                    <span class="input-group-addon input-group-append border-left">
                                        <span class="mdi mdi-calendar input-group-text"></span>
                                    </span>
                                </div>
                            </div>
                            <h6 class="dropdown-header aksorn f-1-0">ช่วงวันที่สิ้นสุด : </h6>
                            <div class="form-group px-4  pb-1 mb-0 pt-1">
                                <div id="datepicker-popup-1" class="input-group date datepicker">
                                    <input type="text" class="form-control" ng-model="Search.InputToDate">
                                    <span class="input-group-addon input-group-append border-left">
                                        <span class="mdi mdi-calendar input-group-text"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="form-group px-4  pb-0 mb-0 pt-1 ">
                                <button type="button" class="btn btn-inverse-light btn-fw aksorn f-1-0 p-1" ng-click="OnClickClear()">คืนค่า</button>
                                <button type="button" class="btn btn-primary btn-fw aksorn f-1-0 p-1" ng-click="OnClickSearch()">ค้นหา</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card card-weaccount border-fix-table">
                <div class="card-table search-table-outter table-responsive c-fixheight">
                    <div id="loader" class="loader-scroll" ng-show="table.binding == 1">
                        <div id="loaderInner">
                            <div class="circle-loader"></div>
                        </div>
                    </div>
                    <table class="table table-hover  aksorn s-table " ng-show="table.binding == 0">
                        <thead class="table-softred">
                            <tr>
                                <th width="17%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer" ng-class="{ 'text-underline': orderByField == 'PurchaseOrderDate' , 'a-hover-orderby' : orderByField == 'PurchaseOrderDate' }" ng-click="orderByField='PurchaseOrderDate'; reverseSort = !reverseSort">
                                        วันที่
                                        <span class="ml-2" ng-show="orderByField == 'BillingDate'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="20%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer" ng-class="{ 'text-underline': orderByField == 'PurchaseOrderNo' , 'a-hover-orderby' : orderByField == 'PurchaseOrderNo' }" ng-click="orderByField='PurchaseOrderNo'; reverseSort = !reverseSort">
                                        เลขที่เอกสาร
                                        <span class="ml-2" ng-show="orderByField == 'PurchaseOrderNo'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="18%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer" ng-class="{ 'text-underline': orderByField == 'CustomerName' , 'a-hover-orderby' : orderByField == 'CustomerName' }" ng-click="orderByField='CustomerName'; reverseSort = !reverseSort">
                                        ชื่อลูกค้า/ชื่อโปรเจ็ค
                                        <span class="ml-2" ng-show="orderByField == 'CustomerName'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="17%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer" ng-class="{ 'text-underline': orderByField == 'CategoryName' , 'a-hover-orderby' : orderByField == 'DueDate' }" ng-click="orderByField='DueDate'; reverseSort = !reverseSort">
                                        หมวดหมู่
                                        <span class="ml-2" ng-show="orderByField == 'CategoryName'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="15%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer" ng-class="{ 'text-underline': orderByField == 'GrandAmount' , 'a-hover-orderby' : orderByField == 'GrandAmount' }" ng-click="orderByField='GrandAmount'; reverseSort = !reverseSort">
                                        ยอดรวมสุทธิ
                                        <span class="ml-2" ng-show="orderByField == 'GrandAmount'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="15%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer" ng-class="{ 'text-underline': orderByField == 'PurchaseOrderStatus' , 'a-hover-orderby' : orderByField == 'PurchaseOrderStatus' }" ng-click="orderByField='PurchaseOrderStatus'; reverseSort = !reverseSort">
                                        สถานะ
                                        <span class="ml-2" ng-show="orderByField == 'PurchaseOrderStatus'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="3%" class="aksorn f-1-0"></th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr class="cursor-pointer" ng-repeat="values in PurchaseOrder | orderBy:orderByField:reverseSort track by $index">
                                <td width="17%" ng-click="OnClickUpdate(values.PurchaseOrderKey)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0">{{values.PurchaseOrderDate}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="20%" ng-click="OnClickUpdate(values.PurchaseOrderKey)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0">
                                                <i class="fa fa-circle color-circle  mr-2" ng-class="{ 'color-status-lightgray' : values.PurchaseOrderStatus == '1' ,
                                                'color-status-lightyellow' : values.PurchaseOrderStatus == '2',
                                                'color-status-lightred' : values.PurchaseOrderStatus == '3',
                                                   'color-status-lightblue' : values.PurchaseOrderStatus == '98',
                                                'color-status-lightgreen' : values.PurchaseOrderStatus == '99' }"></i>
                                                {{values.PurchaseOrderNo}}
                                                <i class="fa fa-file-text-o f-1-0 ml-2 text-primary" ng-show="values.DocumentRefNo != '' && values.DocumentRefNo != undefined" data-toggle="tooltip" data-html="true" data-placement="right"
                                                   title="<div class='title' >เอกสารที่เกี่ยวข้อง </div> <hr class='mb-2'> เอกสารอ้างอิง <br> {{values.DocumentRefNo}} </div>" onmouseenter="$(this).tooltip('show')"></i>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td width="18%" ng-click="OnClickUpdate(values.PurchaseOrderKey)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0">{{values.CustomerName}}</p>
                                        </div>
                                        <div class="col-12">
                                            <p class="f-0-8 text-muted mb-0">{{values.ProjectName}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%" ng-click="OnClickUpdate(values.PurchaseOrderKey)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0">{{values.DocumentOwner}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="15%" ng-click="OnClickUpdate(values.PurchaseOrderKey)">
                                    <div class="row text-right">
                                        <div class="col-8 pr-0">
                                            <p class="f-1-0">
                                                {{values.GrandAmountText}}

                                            </p>
                                        </div>
                                        <div class="col-4 pl-0">
                                            <i class="fa fa-info-circle f-1-0 ml-2 text-primary" ng-show="values.ReceiveInfo != undefined" data-toggle="tooltip" data-html="true" data-placement="left"
                                               title="{{values.ReceiveInfo.TagHtml}}" onmouseenter="$(this).tooltip('show')"></i>
                                        </div>
                                    </div>
                                </td>
                                <td width="15%">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <div class="dropdown">
                                                <button class="btn btn-block f-1-0 pr-0 text-left mb-2 aksorn text-left"
                                                        ng-class="{ 'btn-gray' : values.PurchaseOrderStatus == '1' ,
                                                    'btn-yellow' : values.PurchaseOrderStatus == '2',
                                                    'btn-red' : values.PurchaseOrderStatus == '3',
                                                        'btn-blue' : values.PurchaseOrderStatus == '98',
                                                    'btn-green' : values.PurchaseOrderStatus == '99' }"
                                                        type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{values.PurchaseOrderStatusName}}  <i class="mt-1 f-0-6 pull-right icon-arrow-down"></i>
                                                </button>
                                                <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuButton2">
                                                    @*<a class="dropdown-item" ng-click="OnClickNextWorkflow(values.PurchaseOrderKey,'99')" ng-show="values.PurchaseOrderStatus == '2'">ชำระเงินแล้ว</a>*@
                                                    <a class="dropdown-item" ng-click="OnClickNextWorkflow(values.PurchaseOrderKey,'2')" ng-show="values.PurchaseOrderStatus == '1'">อนุมัติ</a>
                                                    <a class="dropdown-item" ng-click="OnClickPaymentAdd(values.PurchaseOrderKey)" ng-show="values.PurchaseOrderStatus == '1' || values.PurchaseOrderStatus == '2'">ชำระเงิน</a>
                                                    <a class="dropdown-item" ng-click="OnClickNextWorkflow(values.PurchaseOrderKey,'98')" ng-show="values.PurchaseOrderStatus == '99'">รับใบเสร็จแล้ว</a>

                                                    <div class="dropdown-divider" ng-show="values.PurchaseOrderStatus == '1' || values.PurchaseOrderStatus == '2'"></div>

                                                    <a class="dropdown-item" ng-click="OnClickNextWorkflow(values.PurchaseOrderKey,'3')">ยกเลิก</a>
                                                    <a class="dropdown-item" ng-click="OnClickNextWorkflow(values.PurchaseOrderKey,'1')" ng-show="values.PurchaseOrderStatus != '1'">รีเซ็ต</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td width="3%">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-light mb-2 icon-btn dropdown-toggle-split p-2" id="dropdownMenuIconButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-options"></i>
                                                </button>
                                                <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuIconButton3">

                                                    <a class="dropdown-item py-2 pr-5" ng-click="OnClickUpdate(values.PurchaseOrderKey)"><i class="fa fa-edit mr-2 "></i>แก้ไขเอกสาร</a>
                                                    <a class="dropdown-item py-2" ng-click="OnClickReport(values.PurchaseOrderKey,values.PurchaseOrderNo)"><i class="fa fa-print mr-2 "></i>พิมพ์เอกสาร</a>
                                                    <a class="dropdown-item py-2" ng-click="OnClickDownload(values.PurchaseOrderKey,values.PurchaseOrderNo)"><i class="fa fa-download mr-2 "></i>ดาวน์โหลด</a>
                                                    <a class="dropdown-item py-2" ng-click="OnClickSendMail(values.PurchaseOrderKey,values.PurchaseOrderNo)"><i class="fa fa-envelope mr-2 "></i>ส่งอีเมล</a>
                                                    <a class="dropdown-item py-2" ng-click="OnClickDuplicate(values.PurchaseOrderKey)"><i class="fa fa-files-o mr-2 "></i>สร้างซ้ำ</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item py-2" ng-click="OnclickDelete(values.PurchaseOrderKey)"><i class="fa fa-trash-o mr-2 "></i>ลบเอกสาร</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row p-2">
                    <div class="col-lg-12 grid-margin stretch-card pb-0 ml-3 mt-3 mb-0 ">
                        <h5 class="card-title aksorn f-1-0 mb-0 ml-auto mr-5"> ยอดรวมทั้งหมด : <label class="text-primary">{{BillingSummary}}</label> </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalPO-del" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-del modal-del" role="document">
            <div class="modal-content modal-content-del">
                <div class="modal-header-del">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-6 aksorn">ยืนยันการลบข้อมูล</h5>
                    <button type="button" class="close-del" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body-del">
                    <div>
                        <p class="f-1-0 aksorn">คุณกำลังลบข้อมูล, ต้องการดำเนินการต่อหรือไม่?</p>
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm close-btn mr-3 aksorn" data-dismiss="modal" aria-label="Close">ปิด</button>
                    <button type="button" class="flowbtnsm dialog-red-btn aksorn " ng-click="OnClickConfirmDelete()">ลบข้อมูล</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalPO-alert" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-alert modal-del" role="document">
            <div class="modal-content modal-content-alert">
                <div class="modal-header-del">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-6 aksorn flowlabel-blue ">ไม่สามารถลบเอกสารได้</h5>
                    <button type="button" class="close-del" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body-del">
                    <div>
                        <p class="f-1-0 aksorn">เนื่องจากจะทำให้เลขที่เอกสารไม่ต่อเนื่อง หรือเอกสารมีการเปลี่ยนแปลงสถานะแล้ว</p>
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm dialog-blue-btn aksorn " data-dismiss="modal" aria-label="Close">ตกลง</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalreceipt-receive" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-text-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-primary f-1-6 aksorn">
                        บันทึกการรับชำระเงิน
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row-modal pl-2 mb-4">

                        <div class="col-lg-12 pl-0">
                            <div class="row-modal text-left ">
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">เลขที่เอกสาร: </label>
                                <label class="col-sm-8 pl-0 col-form-label aksorn f-1-0"> {{ReceiptAdd.ReceiptInfo.DocumentNo}} ({{ReceiptAdd.ReceiptInfo.CustomerName}})</label>
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ยอดที่ต้องชำระ:</label>
                                <label class="col-sm-8 pl-0 col-form-label aksorn f-1-0"> {{ReceiptAdd.ReceiptInfo.PaymentAmount}} </label>
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">วันที่รับชำระ:</label>
                                <div class="col-sm-7 pl-0 mt-2">
                                    <div id="inputreceivedate-popup" class="input-group date datepicker no-border">
                                        <input type="text" class="form-control input-group-addon" onkeydown="return false" ng-model="ReceiptAdd.ReceiptInfo.PaymentDate" ng-change="OnChangeReceiptDate()" ng-disabled=" OnDisabled()">
                                    </div>
                                </div>
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">
                                    ยอดรับสุทธิ:
                                    <i class="fa fa-info-circle f-1-0 ml-2 text-primary" data-toggle="tooltip" data-html="true" data-placement="right" data-container="#modalreceipt-receive"
                                       title=" ยอดรับสุทธิหลังหักภาษี ณ ที่จ่าย "></i>
                                </label>

                                <div class="col-sm-5 pl-0 mt-2">
                                    <input type="text" class="form-control" id="exampleInputtext2" decimal-only maxlength="20" placeholder="0.00" ng-model="ReceiptAdd.ReceiptInfo.NetPaymentAmount" ng-blur="OnChangeReceiveCalculate()" ng-disabled="ReceiptAdd.ReceiptInfo.IsPayment">
                                </div>
                                <div class="col-sm-2 pl-0">
                                    <span class="span-a mt-3 f-0-8 aksorn">
                                        <a class="blue-line " ng-click="OnClickChangePaymentAmount()" ng-show="ReceiptAdd.ReceiptInfo.IsPayment"><i class="fa fa-pencil-square-o"></i> แก้ไข</a>
                                    </span>
                                </div>
                                <div class="col-sm-3 text-left pl-0">
                                    <div class="form-check aksorn text-primary f-1-2">
                                        <label class="form-check-label f-1-0" style="display:none">
                                            <input type="checkbox" class="form-check-input" ng-model="ReceiptAdd.ReceiptInfo.IsDiscount" ng-change="OnChangeIsAdjustReceive()" ng-disabled=" ReceiptAdd.IsAdjustDiscount">
                                            เพิ่มรายการปรับลด

                                        </label>
                                    </div>
                                </div>

                                <div class="col-sm-3 pl-0 mt-2">
                                    <select class="form-control text-center" id="exampleFormControlSelect2" ng-model="ReceiptAdd.ReceiptInfo.DiscountType" ng-show="ReceiptAdd.ReceiptInfo.IsDiscount" ng-disabled=" ReceiptAdd.IsAdjustDiscount">
                                        <option value="1">ส่วนลดพิเศษ</option>
                                        <option value="2">ค่านายหน้า/ส่วนแบ่งการขาย</option>
                                        <option value="3">ค่าดำเนินการ</option>
                                        <option value="4">ปัดเศษ</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 pl-0 mt-2">
                                    <input type="text" class="form-control" id="exampleInputtext2" decimal-only placeholder="0.00" ng-show="ReceiptAdd.ReceiptInfo.IsDiscount" ng-blur="OnChangeReceiveCalculate()" ng-model="ReceiptAdd.ReceiptInfo.DiscountAmount" ng-disabled=" ReceiptAdd.IsAdjustDiscount">
                                </div>
                                <div class="col-sm-4 text-left mb-2  pl-0">
                                    <div class="form-check aksorn text-primary f-1-2">
                                        <label class="form-check-label f-1-0">
                                            <input type="checkbox" class="form-check-input" ng-model="ReceiptAdd.ReceiptInfo.IsWithholdingTax" ng-change="OnChangeIsWithhollding()" ng-disabled=" OnDisabled()">
                                            หัก ณ ที่จ่าย:
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3 pl-0 mt-2">
                                    <select class="form-control text-center" id="exampleFormControlSelect2" ng-disabled="!ReceiptAdd.ReceiptInfo.IsPayment" ng-model="ReceiptAdd.ReceiptInfo.SelectWithholding"
                                            ng-show="ReceiptAdd.ReceiptInfo.IsWithholdingTax" ng-change="OnChangeWithholldingReceipt()" ng-options="item as item.Name for item in Parameter.Param_Quotation.Param_WithholdingRateReceipt"></select>
                                </div>
                                <div class="col-sm-4 pl-0 mt-2">
                                    <input type="text" class="form-control" id="exampleInputtext2" decimal-only placeholder="0.00" ng-disabled="ReceiptAdd.ReceiptInfo.SelectWithholding != '0'" ng-blur="OnChangeReceiveCalculate()" ng-show="ReceiptAdd.ReceiptInfo.IsWithholdingTax" ng-model="ReceiptAdd.ReceiptInfo.WithholdingAmount">
                                </div>
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">วีธีการชำระ:</label>
                                <div class="col-sm-7 pl-0">
                                    <select class="form-control text-center" id="exampleFormControlSelect2" ng-model="ReceiptAdd.ReceiptInfo.PaymentType" ng-change="OnChangePaymentType()">
                                        <option value="CA">เงินสด</option>
                                        <option value="TR">โอนเงิน</option>
                                        <option value="CQ">เช็ค</option>
                                        <option value="CC">บัตรเครดิต</option>
                                    </select>
                                </div>
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0" ng-show="ReceiptAdd.ReceiptInfo.PaymentType == 'TR'">
                                    บัญชีรับเงิน: <i class="fa fa-info-circle f-1-0 ml-2 text-primary" data-toggle="tooltip" data-html="true" data-placement="right"
                                                                 title="บัญชีธนาคารของบริษัทเรา " onmouseenter="$(this).tooltip('show')"></i>
                                </label>
                                <div class="col-sm-7 pl-0" ng-show="ReceiptAdd.ReceiptInfo.PaymentType == 'TR'">
                                    <select class="form-control text-center" id="exampleFormControlSelect2" ng-model="ReceiptAdd.ReceiptInfo.SelectBankTransfer" ng-options="item as item.BankName +' ' + item.DepositTypeName + ' ' + item.AccountNo for item in Parameter.BizBank"></select>
                                </div>
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0" ng-show="ReceiptAdd.ReceiptInfo.PaymentType == 'TR' || ReceiptAdd.ReceiptInfo.PaymentType == 'CQ'">
                                  ค่าธรรมเนียม:
                                </label>
                                <div class="col-sm-7 pl-0" ng-show="ReceiptAdd.ReceiptInfo.PaymentType == 'TR' || ReceiptAdd.ReceiptInfo.PaymentType == 'CQ'">
                                    <input type="text" class="form-control" id="exampleInputtext2" decimal-only maxlength="10" placeholder="0.00" ng-model="ReceiptAdd.ReceiptInfo.Fee" ng-blur="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-modal pl-2 mb-4">
                        <div class="col-lg-12 pl-0" style="position:relative;">
                            <h5 class="modal-subtitle-full text-primary pl-0 f-1-2  aksorn">
                                รายละเอียดเพิ่มเติม
                            </h5>
                        </div>
                        <div class="col-lg-12 pl-0" ng-show="ReceiptAdd.ReceiptInfo.PaymentType == 'CQ' || ReceiptAdd.ReceiptInfo.PaymentType == 'CC' || ReceiptAdd.ReceiptInfo.PaymentType == 'TR'">
                            <div class="row-modal text-left ">
                                <label class="col-sm-4 pl-0 col-form-label f-1-0 aksorn">
                                    ธนาคาร:  <i class="fa fa-info-circle f-1-0 ml-2 text-primary" data-toggle="tooltip" data-html="true" data-placement="right"
                                                title="ธนาคารผู้รับเงิน " onmouseenter="$(this).tooltip('show')"></i>
                                </label>
                                <div class="col-sm-7 pl-0">
                                    <select class="form-control" ng-model="ReceiptAdd.ReceiptInfo.SelectBank" ng-options="item as item.Name for item in Parameter.Param_Quotation.Param_Bank">
                                        <option value="" class="text-muted" selected style="display:none">โปรดระบุ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 pl-0" ng-show="ReceiptAdd.ReceiptInfo.PaymentType == 'CQ'">
                            <div class="row-modal text-left ">
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">วันที่หน้าเช็ค:</label>
                                <div class="col-sm-7 pl-0">
                                    <div id="inputreceivechaque-popup" class="input-group date datepicker no-border">
                                        <input type="text" class="form-control input-group-addon" onkeydown="return false" ng-model="ReceiptAdd.ReceiptInfo.ChequeDate" ng-change="OnChangeReceiptDate()" ng-disabled=" OnDisabled()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 pl-0" ng-show="ReceiptAdd.ReceiptInfo.PaymentType == 'CQ'">
                            <div class="row-modal text-left ">
                                <label class="col-sm-4 pl-0 aksorn col-form-label f-1-0">เลขที่เช็ค: </label>
                                <div class="col-sm-7 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" ng-model="ReceiptAdd.ReceiptInfo.ChequeNo" ng-disabled=" OnDisabled()">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 pl-0" ng-show="ReceiptAdd.ReceiptInfo.PaymentType == 'TR'">
                            <div class="row-modal text-left ">
                                <label class="col-sm-4 pl-0 aksorn col-form-label f-1-0">เลขที่บัญชีผู้รับโอน: </label>
                                <div class="col-sm-7 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" ng-model="ReceiptAdd.ReceiptInfo.CustomerAccountNo" ng-disabled=" OnDisabled()">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 pl-0 mt-2">
                            <div class="row-modal text-left ">
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">หมายเหตุ: </label>
                                <div class="col-sm-7 pl-0">
                                    <textarea rows="4" class="form-control form-textarea" id="exampleInputtext2" placeholder="" ng-model="ReceiptAdd.ReceiptInfo.Comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="hr-subtitle" />
                    <div class="row-modal pl-2 mb-4">
                        <div class="col-lg-12 pl-0">
                            <div class="row-modal text-left ">
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ยอดคงเหลือ: </label>
                                <label class="col-sm-7 pl-0 col-form-label aksorn f-1-0" ng-class="{ 'text-danger' : ReceiptAdd.ReceiptInfo.IsCauseType == false}">{{ ReceiptAdd.ReceiptInfo.IsText}} {{ReceiptAdd.ReceiptInfo.Balance}} บาท </label>
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ระบุสาเหตุ: </label>
                                <div class="col-sm-7 pl-0">
                                    <select class="form-control" id="exampleFormControlSelect2" ng-disabled="ReceiptAdd.ReceiptInfo.IsCauseType" ng-model="ReceiptAdd.ReceiptInfo.CauseType">
                                        <option value="" class="text-muted" selected style="display:none">--กรุณาเลือกสาเหตุ--</option>
                                        <option value="1">ค่าธรรมเนียม</option>
                                        <option value="2">เงินขาด/เงินเกิน</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse-light btn-fw aksorn f-1-0" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                    <button type="button" class="btn btn-success btn-fw aksorn f-1-0" ng-click="OnClickReceiptPayment()">บันทึก</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="modal-report" style="padding-right: 17px; ">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="height:850px;">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-4 aksorn flowlabel-blue ">พิมพ์เอกสาร {{document.DocNo}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body-del pl-3">
                    <div id="loader" class="loader-scroll-report mt-5" style="height:800px" ng-show="document.bindding == 1">
                        <div id="loaderInner">
                            <div class="circle-loader"></div>
                        </div>
                    </div>
                    <div class="form-horizontal" ng-show="document.bindding == 0">
                        <div class="box-body">
                            <div id="example1" style="height:700px;"></div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm dialog-lightgray-btn aksorn ml-auto" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- Receipt Ends -->

    <div class="modal fade" id="modalemail-send" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-text-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-primary f-1-6 aksorn">
                        ส่งอีเมล  {{EmailAdd.DocNo}}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row-modal pl-2 mb-2">

                        <div class="col-lg-12 pl-0">
                            <div class="row-modal text-left ">
                                <label class="col-sm-3 pl-0 col-form-label aksorn f-1-0">จาก:</label>
                                <div class="col-sm-8 pl-0 mt-2">
                                    <input type="text" class="form-control" id="exampleInputtext2" ng-model="EmailAdd.MailFrom" placeholder="from@email.com">
                                </div>
                                <label class="col-sm-3 pl-0 col-form-label aksorn f-1-0">ถึง:</label>
                                <div class="col-sm-8 pl-0 mt-2">
                                    <input type="text" class="form-control" id="exampleInputtext2" ng-model="EmailAdd.MailTo" placeholder="to@email.com">
                                </div>
                                <div class="col-sm-3 pl-0 mt-2">
                                </div>
                                <div class="col-sm-8 pl-0 mt-2">
                                    <div class="form-check aksorn text-primary f-1-2">
                                        <label class="form-check-label f-1-0">
                                            <input type="checkbox" class="form-check-input" ng-model="EmailAdd.MailToMe">
                                            ส่งสำเนาหาตนเอง
                                        </label>
                                    </div>
                                </div>
                                <label class="col-sm-3 pl-0 col-form-label aksorn f-1-0">สำเนา(CC):</label>
                                <div class="col-sm-8 pl-0 mt-2">
                                    <input type="text" class="form-control" id="exampleInputtext2" ng-model="EmailAdd.MailCC" placeholder="cc@email.com">
                                </div>
                                <label class="col-sm-3 pl-0 col-form-label aksorn f-1-0">หัวข้อ:</label>
                                <div class="col-sm-8 pl-0 mt-2">
                                    <input type="text" class="form-control" id="exampleInputtext2" ng-model="EmailAdd.Subject">
                                </div>
                                <label class="col-sm-3 pl-0 col-form-label aksorn f-1-0">ข้อความ:</label>
                                <div class="col-sm-8 pl-0 mt-2">
                                    <textarea rows="4" class="form-control mb-1" style="height:300px;" id="exampleInputtext1" ng-model="EmailAdd.Message" placeholder="" maxlength="500"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer mt-1">
                    <button type="button" class="flowbtnsm dialog-lightgray-btn aksorn ml-auto" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                    <button type="button" class="flowbtnsm dialog-blue-btn aksorn  " ng-click="OnClickConfirmEmail()">ส่งอีเมล</button>
                </div>
            </div>
        </div>
    </div>
</form>