﻿
@using System.Web.Optimization;
@{
    Random d = new Random();
    string random = d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString();
}

@section RenderScriptWithPage
    {
    <script src="~/js/controller/contactcontroller/contactcontroller.js?nocache= + @random"></script>
}

    <title>สมุดรายชื่อ | BeefAccount</title>
<form autocomplete="off" ng-controller="contactcontroller" data-ng-init="init()">
    <div class="row">
        <div class="col-md-12 ">
            <div class="d-flex">
                <h5 class="title-page-1">
                    สมุดรายชื่อ
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb pl-0">
                            <li class="breadcrumb-item" aria-current="page">สมุดรายชื่อ</li>
                            <li class="breadcrumb-item active">แสดงทั้งหมด</li>
                        </ol>
                    </nav>
                </h5>
                <div class="h-25 ml-auto">
                    <div class="btn-group">
                        <button type="button" ng-click="OnClickAdd()" class="btn btn-success btn-fw px-5 aksorn f-1-2">สร้างใหม่</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <nav>
                <ul class="pagination rounded aksorn f-1-0 ">
                    <li class="page-item border-paiging text-center" ng-click="OnClickSelectType('ALL')"><a class="page-link" ng-class="{ 'paging-active-subtitle' : Search.ContactType == 'ALL'}">แสดงทั้งหมด</a></li>
                    <li class="page-item border-paiging text-center" ng-click="OnClickSelectType('C')"><a class="page-link" ng-class="{ 'paging-active-subtitle' : Search.ContactType == 'C'}"> <i class="fa fa-circle color-circle color-sell mr-2"></i>ลูกค้า</a></li>
                    <li class="page-item border-paiging text-center" ng-click="OnClickSelectType('S')"><a class="page-link" ng-class="{ 'paging-active-subtitle' : Search.ContactType == 'S'}"> <i class="fa fa-circle color-circle color-buy mr-2"></i>ผู้จำหน่าย</a></li>
                    <li class="page-item border-paiging text-center" ng-click="OnClickSelectType('A')"><a class="page-link" ng-class="{ 'paging-active-subtitle' : Search.ContactType == 'A'}"> <i class="fa fa-circle color-circle corlor-setting mr-2"></i>ลูกค้า / ผู้จำหน่าย</a></li>
                    <li class="page-item mega-dropdown border-paiging text-center">
                        <a class="page-link paging-non-active-subtitle" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ค้นหา <i class="ml-3 f-0-6  icon-arrow-down"></i></a>
                        <div class="dropdown-menu dropdown-menu-search  border-fix" aria-labelledby="dropdownMenuButton1">
                            <h6 class="dropdown-header aksorn f-1-0">ค้นหา : </h6>
                            <div class="form-group px-4  pb-0 mb-0 pt-1">
                                <input type="text" class="form-control" id="exampleInputtext1" placeholder="" ng-model="Search.InputFilter">
                            </div>
                            <h6 class="dropdown-header text-muted aksorn f-0-8">ค้นหาจากชื่อ , รหัสผู้ติดต่อ</h6>
                            <div class="dropdown-divider"></div>
                            <div class="form-group px-4  pb-0 mb-0 pt-1 text-right">
                                <button type="button" class="btn btn-primary btn-fw aksorn f-1-0 p-1" ng-click="OnClickSearch()">ค้นหา</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card card-weaccount border-fix-table">
                <div class="card-table search-table-outter table-responsive c-fixheight">
                    <div id="loader" ng-show="table.binding == 1">
                        <div id="loaderInner">
                            <div class="circle-loader"></div>
                        </div>
                    </div>
                    <table class="table table-hover  aksorn s-table  " ng-show="table.binding == 0">
                        <thead class="table-softsetting">
                            <tr>
                                <th width="35%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='BusinessName'; reverseSort = !reverseSort">
                                        รายชื่อ
                                        <span class="ml-2" ng-show="orderByField == 'BusinessName'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>

                                </th>
                                <th width="15%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='ContactName'; reverseSort = !reverseSort">
                                        ชื่อผู้ติดต่อ
                                        <span class="ml-2" ng-show="orderByField == 'ContactName'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="15%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='ContactMobile'; reverseSort = !reverseSort">
                                        เบอร์ติดต่อ
                                        <span class="ml-2" ng-show="orderByField == 'ContactMobile'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="15%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='Contacttext'; reverseSort = !reverseSort">
                                        อีเมล
                                        <span class="ml-2" ng-show="orderByField == 'Contacttext'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="15%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='BusinessTypeName'; reverseSort = !reverseSort">
                                        ประเภท
                                        <span class="ml-2" ng-show="orderByField == 'BusinessTypeName'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="3%" class="aksorn f-1-0"></th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr class="cursor-pointer" ng-repeat="values in BusinessContact | offset: currentPage*itemsPerPage | limitTo: itemsPerPage  | orderBy:orderByField:reverseSort track by $index">
                                <td width="35%" ng-click="OnClickUpdate(values.ContactKey)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0"><i class="fa fa-circle color-circle  mr-2" ng-class="{ 'color-sell' : values.ContactType == 'C' , 'color-buy' : values.ContactType == 'S' , 'color-setting' : values.ContactType == 'A'}"></i>{{values.BusinessName}}</p>
                                        </div>
                                        <div class="col-12">
                                            <p class="f-0-8 text-muted mb-0">{{values.ContactCode}} | {{values.BranchName}} </p>
                                        </div>
                                    </div>
                                </td>
                                <td width="15%" ng-click="OnClickUpdate(values.ContactKey)">
                                    <p class="f-1-0">
                                        {{values.ContactName}}
                                        </p>
                                </td>
                                <td width="15%" ng-click="OnClickUpdate(values.ContactKey)">
                                    <p class="f-1-0">
                                        {{values.ContactMobile}}
                                        </p>
                                </td>
                                <td width="15%" ng-click="OnClickUpdate(values.ContactKey)">
                                    <p class="f-1-0">
                                        {{values.ContactEmail}}
                                        </p>
                                </td>
                                <td width="15%" ng-click="OnClickUpdate(values.ContactKey)">
                                    <p class="f-1-0">
                                        {{values.ContactTypeName}}
                                        </p>
                                </td>
                                <td width="3%">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-light mb-2 icon-btn dropdown-toggle-split p-2" id="dropdownMenuIconButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-options"></i>
                                                </button>
                                                <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuIconButton3">
                                                    <a class="dropdown-item" ng-click="OnClickUpdate(values.ContactKey)"><i class="fa fa-edit mr-2 "></i>แก้ไขผู้ติดต่อ</a>
                                                    <a class="dropdown-item py-2"  ng-click="OnClickDuplicate(values.ContactKey)"><i class="fa fa-files-o mr-2 "></i>สร้างซ้ำผู้ติดต่อ</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item py-2 text-softred"  ng-click="OnclickDelete(values.ContactKey)"><i class="fa fa-trash-o mr-2 "></i>ลบผู้ติดต่อ</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-12   grid-margin stretch-card pb-0 ml-3 mt-3 mb-0">
                        <nav>
                            <ul class="pagination" ng-show="itemsCount  > 0">
                                <li class="page-item" ng-class="prevPageDisabled()" ng-click="prevPage()"><a class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                <li class="page-item" ng-class="{active : n.code === currentPage}" ng-repeat="n in retpage" ng-if="n.show == 1" ng-click="setPage(n.code)"><a class="page-link">{{n.name}}</a></li>
                                <li class="page-item"><a class="page-link" ng-class="nextPageDisabled()" ng-click="nextPage()"><i class="mdi mdi-chevron-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Customer Add Start -->
    <div class="modal fade modal-scroll-y" id="modalcontact-add" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-text " role="document">
            <div class="modal-content ">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-primary f-1-6 aksorn">
                        สร้างรายชื่อผู้ติดต่อ
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body scroll" >
                    <div class="row text-left  pl-2">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                            <h5 class="modal-subtitle-full text-primary pl-0 f-1-2  aksorn">
                                ค้นหาจากฐานข้อมูลกรมสรรพากร
                                <button type="button" class="btn btn-outline-primary aksorn ml-3 f-1-0 " ng-click="OnClickRevenue()"><i class="fa fa-search f-0-8"></i>ค้นหาจากฐานข้อมูล</button>
                            </h5>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0">
                            <div class="col-lg-12 pl-0" style="position:relative;">
                                <h5 class="modal-subtitle-full text-primary pl-0 f-1-2  aksorn">
                                    ข้อมูลผู้ติดต่อ
                                </h5>
                                <div class="hr-title">&nbsp;</div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-12 col-sm-12 col-12 pl-0">

                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ประเภทผู้ติดต่อ: </label>
                                <div class="col-sm-7 pl-0">
                                    <select class="form-control" id="exampleFormControlSelect2" ng-model="BusinessContactAdd.BusinessType">
                                        <option value="C">นิติบุคคล</option>
                                        <option value="I">บุคคลธรรมดา</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">รหัสผู้ติดต่อ: </label>
                                <div class="col-sm-7 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" ng-model="BusinessContactAdd.ContactCode" maxlength="50">
                                </div>
                            </div>
                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ชื่อธุรกิจ: </label>
                                <div class="col-sm-7 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" ng-model="BusinessContactAdd.BusinessName" max="200">
                                </div>
                            </div>
                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ที่อยู่: </label>
                                <div class="col-sm-7 pl-0">
                                    <textarea rows="4" class="form-control form-textarea" id="exampleInputtext2" placeholder="" ng-model="BusinessContactAdd.Address" maxlength="500"></textarea>
                                </div>
                            </div>
                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">เลขผู้เสียภาษี:</label>
                                <div class="col-sm-7 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" number-only ng-model="BusinessContactAdd.TaxID" maxlength="13">
                                </div>
                            </div>
                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0 mt-2">สำนักงาน/สาขา:</label>
                                <div class="col-sm-4 pl-0">
                                    <div class="form-radio aksorn">
                                        <label class="form-check-label f-1-0">
                                            <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="H" ng-model="BusinessContactAdd.BranchType">
                                            สำนักงานใหญ่
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3 pl-0">
                                    <div class="form-radio aksorn">
                                        <label class="form-check-label f-1-0">
                                            <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="B" ng-model="BusinessContactAdd.BranchType">
                                            สาขา
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row-modal" ng-show="BusinessContactAdd.BranchType == 'B'">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0"></label>
                                <div class="col-sm-7 pl-0">
                                    <div class="input-group-run">
                                        <div class="input-group-append-run col-6 p-0">
                                            <input type="text" class="form-control input-group-text-first-text aksorn" ng-model="BusinessContactAdd.BranchCode" maxlength="20" placeholder="รหัสสาขา">
                                        </div>
                                        <div class="input-group-append-run col-6 p-0">
                                            <input type="text" class="form-control input-group-text-end aksorn" ng-model="BusinessContactAdd.BranchName" maxlength="200" placeholder="ชื่อสาขา">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-11 pl-0" style="position:relative;">
                                <h5 class="modal-subtitle-full text-primary pl-0 f-1-2  aksorn">
                                    รายละเอียดผู้ติดต่อ
                                </h5>
                                <div class="hr-title">&nbsp;</div>
                            </div>
                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ชื่อผู้ติดต่อ: </label>
                                <div class="col-sm-7 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" maxlength="100" ng-model="BusinessContactAdd.ContactName">
                                </div>
                            </div>
                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">อีเมล:</label>
                                <div class="col-sm-7 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" maxlength="100" ng-model="BusinessContactAdd.ContactEmail">
                                </div>
                            </div>
                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">เบอร์มือถือ: </label>
                                <div class="col-sm-7 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" maxlength="10" ng-model="BusinessContactAdd.ContactMobile">
                                </div>
                            </div>
                            <div class="col-lg-11 pl-0" style="position:relative;">
                                <h5 class="modal-subtitle-full text-primary pl-0 f-1-2  aksorn">
                                    ข้อมูลธนาคาร
                                </h5>
                                <div class="hr-title">&nbsp;</div>
                            </div>
                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ธนาคาร: </label>
                                <div class="col-sm-7 pl-0">
                                    <select class="form-control" ng-model="BusinessContactAdd.SelectBank" ng-options="item as item.Name for item in Parameter.Param_Bank">
                                        <option value="" class="text-muted" selected style="display:none">--กรุณาเลือกธนาคาร--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">เลขที่บัญชี:</label>
                                <div class="col-sm-7 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" number-only placeholder="" maxlength="20" ng-model="BusinessContactAdd.AccountNo">
                                </div>
                            </div>
                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">สาขาธนาคาร: </label>
                                <div class="col-sm-7 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" max="50" ng-model="BusinessContactAdd.AccountBranch">
                                </div>
                            </div>
                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0 mt-2">ประเภทบัญชี:</label>
                                <div class="col-sm-4 pl-0">
                                    <div class="form-radio aksorn">
                                        <label class="form-check-label f-1-0">
                                            <input type="radio" class="form-check-input" name="bankmeme" id="membershipRadios1" value="S" ng-model="BusinessContactAdd.AccountType">
                                            บัญชีออมทรัพย์
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4 pl-0">
                                    <div class="form-radio aksorn">
                                        <label class="form-check-label f-1-0">
                                            <input type="radio" class="form-check-input" name="bankmeme" id="membershipRadios1" value="C" ng-model="BusinessContactAdd.AccountType">
                                            บัญชีกระแสรายวัน
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-5  col-md-12 col-sm-12 col-12 col-12 pl-0">
                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0 mt-2">ประเภท : </label>
                                <div class="col-sm-4 pl-0">
                                    <div class="form-check aksorn">
                                        <label class="form-check-label f-1-0">
                                            <input type="checkbox" class="form-check-input" id="client" value="C" ng-model="BusinessContactAdd.ContactType1">
                                            ลูกค้า
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-4 pl-0">
                                    <div class="form-check aksorn">
                                        <label class="form-check-label f-1-0">
                                            <input type="checkbox" class="form-check-input" id="supplier" value="S" ng-model="BusinessContactAdd.ContactType2">
                                            ผู้จำหน่าย
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">เครดิต(วัน): </label>
                                <div class="col-sm-8 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" number-only ng-model="BusinessContactAdd.CreditDate">
                                </div>
                            </div>
                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">เบอร์สำนักงาน: </label>
                                <div class="col-sm-8 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" ng-model="BusinessContactAdd.OfficeNumber" maxlength="20">
                                </div>
                            </div>
                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">เบอร์โทรสาร: </label>
                                <div class="col-sm-8 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" ng-model="BusinessContactAdd.FaxNumber" maxlength="20">
                                </div>
                            </div>
                            <div class="row-modal">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">เว็บไซต์: </label>
                                <div class="col-sm-8 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" ng-model="BusinessContactAdd.WebSite" maxlength="100">
                                </div>
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ที่อยู่สำหรับจัดส่ง: </label>
                                <div class="col-sm-8 pl-0">
                                    <textarea rows="4" class="form-control form-textarea" id="exampleInputtext2" placeholder="" maxlength="200" ng-model="BusinessContactAdd.ShippingAddress"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 pl-0" style="position:relative;">
                                <h5 class="modal-subtitle-full text-primary pl-0 f-1-2  aksorn">
                                    ข้อมูลเพิ่มเติม
                                </h5>
                                <div class="hr-title">&nbsp;</div>
                            </div>
                            <div class="row-modal">

                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">โน้ต: </label>
                                <div class="col-sm-8 pl-0">
                                    <textarea rows="4" class="form-control form-textarea" id="exampleInputtext2" placeholder="" maxlength="2000" ng-model="BusinessContactAdd.Note"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse-light btn-fw aksorn f-1-0" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                    <button type="button" class="btn btn-success btn-fw aksorn f-1-0" ng-click="OnClickSave()">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Customer Add Ends -->
    <!-- E-Tax Modal starts -->
    <div class="modal fade" id="modalrevenute-list" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-primary f-1-6 aksorn">
                        ค้นหาข้อมูลรายละเอียดธุรกิจ จากฐานข้อมูลกรมสรรพากร
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row-modal  mb-3">
                        <div class="col-lg-10 pl-0">
                            <div class="form-group row-modal text-left ">
                                <label for="exampleInputtext2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ค้นหา : </label>
                                <div class="col-sm-10 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="พิมพ์ชื่อธุรกิจ , เลขประจำตัวผู้เสียภาษี ตัวอย่างเช่น 'We Develop หรือ 00177422145'" ng-model="BusinessRevenue.InputText">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 pl-0">
                            <button type="button" class="btn btn-outline-primary aksorn f-1-0 btn-block" ng-click="OnClickFilterRevenue()"><i class="fa fa-search f-0-8" ></i>ค้นหา</button>
                        </div>
                    </div>
                    <div class="row-modal ">
                        <div class="col-lg-12  grid-margin stretch-card pl-0 ">
                          
                            <!-- Table Start-->
                            <div class="card card-weaccount border-fix-table w-100 " >
                                <div class="card-table search-table-outter table-responsive h-500px" >
                                    <div id="loader" ng-show="revenue.binding == 1">
                                        <div id="loaderInner">
                                            <div class="circle-loader"></div>
                                        </div>
                                    </div>
                                    <table class="table aksorn s-table" ng-show="revenue.binding == 0">
                                        <thead class="badge-softblue">
                                            <tr>
                                                <th width="15%" class="aksorn f-1-0">เลขที่ผู้เสียภาษี</th>
                                                <th width="20%" class="aksorn f-1-0">ชื่อบริษัท</th>
                                                <th width="10%" class="aksorn f-1-0">สาขา</th>
                                                <th width="10%" class="aksorn f-1-0">เลขที่</th>
                                                <th width="20%" class="aksorn f-1-0">ที่อยู่</th>
                                                <th width="15%" class="aksorn f-1-0"></th>
                                            </tr>
                                        </thead>
                                        <tbody  ng-repeat="values in BusinessRevenue.List | offset: revcurrentPage*revitemsPerPage | limitTo: revitemsPerPage ">
                                            <tr>
                                                <td>
                                                    <p class="f-1-0">
                                                        {{values.NID}}
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="f-1-0" style="line-height:25px;">
                                                        {{values.CompanyName}}
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">
                                                        {{values.BranchNoName}}
                                                    </p>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">{{values.BranchNo}}</p>
                                                </td>
                                                <td>
                                                    <p class="f-1-0" style="line-height:25px; letter-spacing:0.5px;">{{values.Address}}</p>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-outline-primary aksorn f-1-0 btn-block" ng-click="OnClickChooseRevenue($index)">เลือก</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Table End-->

                        </div>
                        <div class="col-lg-12  grid-margin stretch-card pb-0 pl-0 mb-0">
                            <nav>
                                <ul class="pagination" ng-show="revitemsCount  > 0">
                                    <li class="page-item" ng-class="revprevPageDisabled()" ng-click="revprevPage()"><a class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                    <li class="page-item" ng-class="{active : n.code === revcurrentPage}" ng-repeat="n in revretpage" ng-if="n.show == 1" ng-click="revsetPage(n.code)"><a class="page-link">{{n.name}}</a></li>
                                    <li class="page-item"><a class="page-link" ng-class="revnextPageDisabled()" ng-click="revnextPage()"><i class="mdi mdi-chevron-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- E-Tax Modal Ends -->
    <div class="modal fade" id="modalcontact-del" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-del modal-del" role="document">
            <div class="modal-content modal-content-del">
                <div class="modal-header-del">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-6 aksorn">ยืนยันการลบผู้ติดต่อนี้</h5>
                    <button type="button" class="close-del" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body-del">
                    <div>
                        <p class="f-1-0 aksorn">คุณกำลังลบผู้ติดต่อ, ต้องการดำเนินการต่อหรือไม่?</p>
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm close-btn mr-3 aksorn" data-dismiss="modal" aria-label="Close">ปิด</button>
                    <button type="button" class="flowbtnsm dialog-red-btn aksorn " ng-click="OnClickConfirmDelete()">ลบข้อมูล</button>
                </div>
            </div>
        </div>
    </div>
</form>