﻿@using System.Web.Optimization;
@{
    Random d = new Random();
    string random = d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString();
}

@section RenderScriptWithPage
    {
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.th.min.js"></script>
    <script src="~/js/controller/homecontroller/dashboardcontroller.js?nocache= + @random"></script>
    <script src="~/js/controller/documentsellcontroller/ParamServiceControl.js?nocache= + @random"></script>
    <script src="~/lib/vendors/loader.js"></script>
    <script src="~/lib/vendors/google-charts.js"></script>
    <script>
        $(document).ready(function () {
            $('.dropdown-menu select.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });

        (function ($) {
            if ($("#imputstartdate-receive-popup").length) {
                $('#imputstartdate-receive-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    language: 'th-th',
                    format: "dd-mm-yyyy"
                });
            }

            if ($("#imputstartdate-pay-popup").length) {
                $('#imputstartdate-pay-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    language: 'th-th',
                    format: "dd-mm-yyyy"
                });
            }
        })(jQuery);

        var $table = $('table.scroll'),
            $bodyCells = $table.find('tbody tr:first').children(),
            colWidth;

        // Adjust the width of thead cells when window resizes
        $(window).resize(function () {
            // Get the tbody columns width array
            colWidth = $bodyCells.map(function () {
                return $(this).width();
            }).get();

            // Set the width of thead columns
            $table.find('thead tr').children().each(function (i, v) {
                $(v).width(colWidth[i]);
            });
        }).resize(); // Trigger resize handler
    </script>

}
<form autocomplete="off" ng-controller="dashboardcontroller" data-ng-init="init()">
    <title>ภาพรวม | BeefAccount</title>
    <div class="row">
        <div class="col-md-12 ">
            <h5 class="title-page">ภาพรวมบริษัท</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card card-weaccount">
                <div id="loader" class="loader-scroll" style="height:auto !important;" ng-show="donutreceive.binding == 1">
                    <div id="loaderInner">
                        <div class="circle-loader"></div>
                    </div>
                </div>
                <div class="card-htitle">
                    <h4 class="f-1-2 aksorn">
                        ยอดขายทั้งหมด
                        <i class="fa fa-info-circle f-1-0 ml-2 text-primary" data-toggle="tooltip" data-html="true" data-placement="right"
                           title=" <span>ข้อมูลในกราฟประกอบด้วยยอดของ<br>ใบวางบิล ใบกำกับภาษี ใบเพิ่มหนี้และปรับลดด้วยใบลดหนี้</span>" onmouseenter="$(this).tooltip('show')"></i>

                       
                    </h4>

                </div>
                <div class="card-body ">
                    <div class="google-chart-container">

                        <div id="Donut-chart" class="google-charts "></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card card-weaccount">
                <div id="loader" class="loader-scroll" style="height:auto !important;" ng-show="barreceive.binding == 1">
                    <div id="loaderInner">
                        <div class="circle-loader"></div>
                    </div>
                </div>
                <div class="card-htitle">
                    <h4 class="f-1-2 aksorn">
                        สรุปยอดเก็บเงิน
                        <i class="fa fa-info-circle f-1-0 ml-2 text-primary" data-toggle="tooltip" data-html="true" data-placement="right"
                           title="<span>ข้อมูลกราฟสีเขียวประกอบด้วยยอดของ<br>ใบวางบิล ใบกำกับภาษี ใบเพิ่มหนี้และปรับลดด้วยใบลดหนี้ <br>สถานะรอเก็บเงิน , เก็บเงินแล้ว</span>" onmouseenter="$(this).tooltip('show')"></i>
                    </h4>
                </div>
                <div class="card-body">
                    <div class="google-chart-container d-flex align-items-center justify-content-center h-100">
                        <div id="Bar-chart" class="google-charts"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card card-weaccount">
                <div id="loader" class="loader-scroll" style="height:auto !important;" ng-show="donutpay.binding == 1">
                    <div id="loaderInner">
                        <div class="circle-loader"></div>
                    </div>
                </div>
                <div class="card-htitle">
                    <h4 class="f-1-2 aksorn">
                        ค่าใช้จ่ายทั้งหมด
                        <i class="fa fa-info-circle f-1-0 ml-2 text-primary" data-toggle="tooltip" data-html="true" data-placement="right"
                           title=" <span>ข้อมูลในกราฟประกอบด้วยยอดของ<br>ใบรับสินค้า ค่าใช้จ่าย</span>" onmouseenter="$(this).tooltip('show')"></i>
                    </h4>
                </div>
                <div class="card-body ">
                    <div class="google-chart-container">

                        <div id="Donut-chart1" class="google-charts "></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card card-weaccount">
                <div id="loader" class="loader-scroll" style="height:auto !important;" ng-show="barpay.binding == 1">
                    <div id="loaderInner">
                        <div class="circle-loader"></div>
                    </div>
                </div>
                <div class="card-htitle">
                    <h4 class="f-1-2 aksorn">
                        สรุปยอดชำระเงิน
                        <i class="fa fa-info-circle f-1-0 ml-2 text-primary" data-toggle="tooltip" data-html="true" data-placement="right"
                           title=" <span>ข้อมูลกราฟสีแาดงประกอบด้วยยอดของใบรับสินค้า <br> ค่าใช้จ่าย สถานะชำระเงินแล้ว</span>" onmouseenter="$(this).tooltip('show')"></i>
                    </h4>

                </div>
                <div class="card-body">
                    <div class="google-chart-container d-flex align-items-center justify-content-center h-100">
                        <div id="Bar-chart1" class="google-charts"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card card-weaccount">
                <div id="loader" class="loader-scroll" style="height:auto !important;" ng-show="areaall.binding == 1">
                    <div id="loaderInner">
                        <div class="circle-loader"></div>
                    </div>
                </div>
                <div class="card-htitle">
                    <h4 class="f-1-2 aksorn">
                        รายได้และค่าใช้จ่ายตามเอกสาร
                        <i class="fa fa-info-circle f-1-0 ml-2 text-primary" data-toggle="tooltip" data-html="true" data-placement="right"
                           title=" <span>ข้อมูลกราฟสีฟ้าประกอบด้วยยอดของ<br>ใบวางบิล ใบกำกับภาษี ใบเพิ่มหนี้และปรับลดด้วยใบลดหนี้ <br> ส่วนข้อมูลกราฟสีแดงประกอบด้วยยอดของใบรับสินค้า ค่าใช้จ่าย</span>" onmouseenter="$(this).tooltip('show')"></i>
                    </h4>

                </div>
                <div class="card-body ">
                    <div class="google-chart-container">
                        <div id="area-chart" class="google-charts "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card card-weaccount">
                <div class="card-htitle">
                    <div id="loader" class="loader-scroll" ng-show="receive.binding == 1">
                        <div id="loaderInner">
                            <div class="circle-loader"></div>
                        </div>
                    </div>
                    <h4 class="f-1-2 aksorn">
                        ยอดค้างรับ
                        <i class="fa fa-info-circle f-1-0 ml-2 text-primary" data-toggle="tooltip" data-html="true" data-placement="right"
                           title="ข้อมูลในรายการประกอบด้วยยอดของ <br> ใบวางบิล ใบกำกับภาษี ใบเสร็จรับเงิน <br> ใบเพิ่มหนี้และปรับลดด้วยใบลดหนี้" onmouseenter="$(this).tooltip('show')"></i>
                    </h4>
                </div>
                <div class="card-table mt-2 table-responsive ">
                    <div class="col-lg-5 col-md-3 col-sm-6 col-12 mb-3">
                        <div id="imputstartdate-receive-popup" class="input-group date datepicker no-border">
                            <input type="text" class="form-control input-group-addon" onkeydown="return false" ng-model="receive.InputFromDate" ng-change="OnFilterReceive()">
                        </div>
                    </div>
                    <h5 class="ml-4  card-title aksorn f-1-0 mb-0"><i class="icon-arrow-up-circle text-primary f-0-8"></i> ยอดค้างรับ : <label class="text-primary">{{receive.Total}}</label> </h5>
                    <table class="table aksorn scroll s-table" style="width:768px;">
                        <thead class="bg-softblue ">
                            <tr>
                                <th width="80%" class="aksorn f-1-0">เอกสาร</th>
                                <th width="20%" class="aksorn f-1-0">สถานะ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="values in receive.list">
                                <td>
                                    <div class="row">
                                        <div class="col-9">
                                            <p class="f-1-0">{{values.CustomerName}}</p>
                                        </div>
                                        <div class="col-3">
                                            <p class="f-1-0 text-right">{{values.GrandAmountText}}</p>
                                        </div>
                                        <div class="col-3">
                                            <p class="f-0-8 text-muted mb-0">{{values.DocumentNo}}</p>
                                        </div>
                                        <div class="col-9">
                                            <p class="f-0-8 text-muted mb-0">ครบกำหนด {{values.DueDate}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-12 ">
                                            <button class="btn btn-block f-1-0 pr-0 text-left mb-2 aksorn text-left"
                                                    ng-class="{ 'btn-gray' : values.DocumentStatus == '1' ,
                                                    'btn-yellow' : values.DocumentStatus == '2'}"
                                                    type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{values.DocumentStatusName}}
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 grid-margin stretch-card">
            <div class="card card-weaccount">
                <div class="card-htitle">
                    <div id="loader" class="loader-scroll" ng-show="pay.binding == 1">
                        <div id="loaderInner">
                            <div class="circle-loader"></div>
                        </div>
                    </div>
                    <h4 class="f-1-2 aksorn">
                        ยอดค้างจ่าย
                        <i class="fa fa-info-circle f-1-0 ml-2 text-primary" data-toggle="tooltip" data-html="true" data-placement="right"
                           title="ข้อมูลในรายการประกอบด้วยยอดของ <br> ใบรับสินค้า ค่าใช้จ่าย" onmouseenter="$(this).tooltip('show')"></i>
                    </h4>

                </div>
                <div class="card-table mt-2 table-responsive">
                    <div class="col-lg-5 col-md-3 col-sm-6 col-12 mb-3">
                        <div id="imputstartdate-pay-popup" class="input-group date datepicker no-border">
                            <input type="text" class="form-control input-group-addon" onkeydown="return false" ng-model="pay.InputFromDate" ng-change="OnFilterPay()">
                        </div>
                    </div>
                    <h5 class=" ml-4 card-title aksorn f-1-0 mb-0"><i class="icon-arrow-down-circle text-primary f-0-8"></i> ยอดค้างจ่าย : <label class="text-danger">{{pay.Total}}</label> </h5>
                    <table class="table aksorn scroll s-table" style="width:768px;">
                        <thead class="bg-softred ">
                            <tr>
                                <th width="80%" class="aksorn f-1-0">เอกสาร</th>
                                <th width="20%" class="aksorn f-1-0">สถานะ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="values in pay.list">
                                <td>
                                    <div class="row">
                                        <div class="col-9">
                                            <p class="f-1-0">{{values.CustomerName}}</p>
                                        </div>
                                        <div class="col-3">
                                            <p class="f-1-0 text-right">{{values.GrandAmountText}}</p>
                                        </div>
                                        <div class="col-3">
                                            <p class="f-0-8 text-muted mb-0">{{values.DocumentNo}}</p>
                                        </div>
                                        <div class="col-9">
                                            <p class="f-0-8 text-muted mb-0">ครบกำหนด {{values.DueDate}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-12 ">
                                            <button class="btn btn-block f-1-0 pr-0 text-left mb-2 aksorn text-left"
                                                    ng-class="{ 'btn-gray' : values.DocumentStatus == '1' ,
                                                    'btn-yellow' : values.DocumentStatus == '2'}"
                                                    type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {{values.DocumentStatusName}}
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>