﻿
@using System.Web.Optimization;
@{
    Random d = new Random();
    string random = d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString();
}

@section RenderScriptWithPage
    {
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.th.min.js"></script>
    <script src="~/js/controller/reportcontroller/reportexpensecontroller.js?nocache= + @random"></script>

    <script>
        $(document).ready(function () {
            $('.dropdown-menu select.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });

        (function ($) {
            if ($("#imputstartdate-popup").length) {
                $('#imputstartdate-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    language: 'th-th',
                    format: "dd-mm-yyyy"
                });
            }
            if ($("#inputenddate-popup").length) {
                $('#inputenddate-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    language: 'th-th',
                    format: "dd-mm-yyyy"
                });
            }
            if ($("#inputmonthdate-popup").length) {
                $('#inputmonthdate-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    format: "mm-yyyy",
                    viewMode: "months",
                    minViewMode: "months",
                    language: 'th-th'
                });
            }
            if ($("#inputyeardate-popup").length) {
                $('#inputyeardate-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    format: "yyyy",
                    viewMode: "years",
                    minViewMode: "years"
                });
            }
        })(jQuery);

        var $table = $('table.scroll'),
            $bodyCells = $table.find('tbody tr:first').children(),
            colWidth;

        // Adjust the width of thead cells when window resizes
        $(window).resize(function () {
            // Get the tbody columns width array
            colWidth = $bodyCells.map(function () {
                return $(this).width();
            }).get();

            // Set the width of thead columns
            $table.find('thead tr').children().each(function (i, v) {
                $(v).width(colWidth[i]);
            });
        }).resize(); // Trigger resize handler
    </script>

}

<link href="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<title>สรุปค่าใช้จ่าย | BeefAccount</title>
<form autocomplete="off" ng-controller="reportexpensecontroller" data-ng-init="init()">
    <div class="row mb-4">
        <div class="col-md-12 ">
            <div class="d-flex">
                <h5 class="title-page-1">
                    รายงานสรุปค่าใช้จ่าย
                </h5>
                <div class="h-25 ml-auto">
                    <button type="button" class="btn btn-twitter btn-fw px-5 aksorn f-1-2" ng-click="OnChangeDate()">
                        แสดงผลรายงาน
                    </button>
                    <button type="button" class="btn btn-primary btn-fw px-5 aksorn f-1-2" ng-click="OnClickExportExcel()">ดาวน์โหลดเป็น Excel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card card-weaccount border-fix-table  pt-4 px-4 pb-1">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="aksorn f-1-0">ช่วงเวลา:</label>
                            <select class="form-control" id="exampleFormControlSelect2" ng-model="Search.Selectionfilter" ng-change="OnSelection()">
                                @*<option value="1">
                        เดือนปัจจุบัน
                    </option>*@
                                <option value="2">
                                    เดือน
                                </option>
                                <option value="5">
                                    เลือกช่วงวันที่
                                </option>
                                @*<option value="3">
                        ปีปัจจุบัน
                    </option>*@
                                <option value="4">
                                    ปี
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12" ng-show="Search.Selectionfilter == '5'">
                        <label for="exampleInputEmail1" class="aksorn f-1-0 mb-0">วันที่เริ่มต้น:</label>
                        <div id="imputstartdate-popup" class="input-group date datepicker no-border">
                            <input type="text" class="form-control input-group-addon" onkeydown="return false" ng-model="Search.InputFromDate">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12" ng-show="Search.Selectionfilter == '5'">
                        <label for="exampleInputEmail1" class="aksorn f-1-0 mb-0">วันที่สิ้นสุด:</label>
                        <div id="inputenddate-popup" class="input-group date datepicker no-border">
                            <input type="text" class="form-control input-group-addon" onkeydown="return false" ng-model="Search.InputToDate">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12" ng-show="Search.Selectionfilter == '2'">
                        <label for="exampleInputEmail1" class="aksorn f-1-0 mb-0 mt-0">เดือน:</label>
                        <div id="inputmonthdate-popup" class="input-group date datepicker no-border mb-2">
                            <input type="text" class="form-control input-group-addon" onkeydown="return false" ng-model="Search.InputToMonth">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12" ng-show="Search.Selectionfilter == '4'">
                        <label for="exampleInputEmail1" class="aksorn f-1-0 mb-0">ปี:</label>
                        <div id="inputyeardate-popup" class="input-group date datepicker no-border">
                            <input type="text" class="form-control input-group-addon" onkeydown="return false" ng-model="Search.InputToYear">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="aksorn f-1-0">สถานะ:</label>
                            <select class="form-control" id="exampleFormControlSelect2" ng-model="Search.SelectStatus" ng-change="OnChangeStatus()">
                                <option value="0">
                                    แสดงทั้งหมด
                                </option>
                                <option value="1">
                                    รอดำเนินการ
                                </option>
                                <option value="2">
                                    รอเก็บเงิน
                                </option>
                                <option value="99">
                                    เก็บเงินแล้ว / ดำเนินการแล้ว
                                </option>
                                <option value="3">
                                    ยกเลิก
                                </option>
                                <option value="99">
                                    เปิดใบเสร็จแล้ว
                                </option>

                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card card-weaccount border-fix-table scroll-card">
                <div class="card-table search-table-outter table-responsive p-4">
                    <div id="loader" class="loader-scroll" ng-show="table.binding == 1">
                        <div id="loaderInner">
                            <div class="circle-loader"></div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-12 ">
                            <div class="d-flex">
                                <h5 class="title-page-1 text-primary f-2-0">
                                    รายงานสรุปค่าใช้จ่าย
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6 col-sm-12 ">
                            <label for="exampleInputEmail2" class="col-sm-3 pl-0 col-form-label aksorn-Bold f-1-0">ณ วันที่ </label>
                            <label for="exampleInputEmail2" class="col-sm-8 col-12 pl-0 col-form-label aksorn f-1-0">{{BusinessHeader.DateNow}}</label>
                            <label for="exampleInputEmail2" class="col-sm-3 pl-0 col-form-label aksorn-Bold f-1-0">ช่วงเวลา</label>
                            <label for="exampleInputEmail2" class="col-sm-8 col-12 pl-0 col-form-label aksorn f-1-0">{{BusinessHeader.StartDate}} - {{BusinessHeader.EndDate}}</label>
                            <label for="exampleInputEmail2" class="col-sm-3 pl-0 col-form-label aksorn-Bold f-1-0">เลขที่</label>
                            <label for="exampleInputEmail2" class="col-sm-8 col-12 pl-0 col-form-label aksorn f-1-0">{{BusinessHeader.DocumentNo}}</label>
                        </div>
                        <div class="col-md-4 col-sm-6 text-right">
                            <label for="exampleInputEmail2" class="col-sm-12 pl-0 col-form-label aksorn-Bold f-1-0">มูลค่ารวม</label>
                            <label for="exampleInputEmail2" class="col-sm-12 pl-0 col-form-label aksorn f-1-8 text-primary">{{BusinessHeader.Amount}}</label>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <label for="exampleInputEmail2" class="col-sm-12 pl-0 col-form-label aksorn-Bold f-1-0">ภาษีมูลค่าเพิ่ม</label>
                            <label for="exampleInputEmail2" class="col-sm-12 pl-0 col-form-label aksorn f-1-8 text-tax">{{BusinessHeader.VAT}}</label>
                        </div>
                    </div>
                    <table class="table s-report table-hover-blue  aksorn s-table" ng-show="table.binding == 0">
                        <thead class="table-report">
                            <tr>
                                <th width="14%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='DocumentNo'; reverseSort = !reverseSort">
                                        เลขที่เอกสาร
                                        <span class="ml-2" ng-show="orderByField == 'DocumentNo'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="12%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='DocumentDate'; reverseSort = !reverseSort">
                                        วันที่
                                        <span class="ml-2" ng-show="orderByField == 'DocumentDate'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="15%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='CustomerName'; reverseSort = !reverseSort">
                                        ชื่อผู้จำหน่าย/ชื่อโปรเจ็ค
                                        <span class="ml-2" ng-show="orderByField == 'CustomerName'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="15%" class="aksorn text-left f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='CategoryName'; reverseSort = !reverseSort">
                                        หมวดหมู่
                                        <span class="ml-2" ng-show="orderByField == 'CategoryName'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="12%" class="aksorn text-right f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='Total'; reverseSort = !reverseSort">
                                        มูลค่า
                                        <span class="ml-2" ng-show="orderByField == 'Total'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="12%" class="aksorn text-right f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='VAT'; reverseSort = !reverseSort">
                                        ภาษีมูลค่าเพิ่ม
                                        <span class="ml-2" ng-show="orderByField == 'VAT'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="12%" class="aksorn text-right f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='GrandAmount'; reverseSort = !reverseSort">
                                        ยอดรวมสุทธิ
                                        <span class="ml-2" ng-show="orderByField == 'GrandAmount'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="15%" class="aksorn text-center f-1-0">สถานะ</th>
                                <th width="3%" class="aksorn f-1-0"></th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr class="cursor-pointer" ng-repeat="values in BusinessDocument | offset: currentPage*itemsPerPage | limitTo: itemsPerPage | orderBy:orderByField:reverseSort track by $index">
                                <td width="12%" ng-click="OnClickUpdate(values.DocumentKey,values.DocumentType)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0">
                                                <i class="fa fa-circle color-circle  mr-2" ng-class="{ 'color-status-lightgray' : values.DocumentStatus == '1' ,
                                                'color-status-lightyellow' : values.DocumentStatus == '2',
                                                'color-status-lightred' : values.DocumentStatus == '3',
                                                'color-status-lightblue' : values.DocumentStatus == '99' ||  values.DocumentStatus == '98' }"></i>
                                                {{values.DocumentNo}}
                                                <i class="fa fa-file-text-o  f-1-0 ml-2 text-primary"
                                                   ng-show="values.DocumentRefNo != '' && values.DocumentRefNo != undefined" data-toggle="tooltip" data-html="true" data-placement="right"
                                                   title="<div class='title' >เอกสารที่เกี่ยวข้อง </div> <hr class='mb-2'> เอกสารอ้างอิง <br> {{values.DocumentRefNo}} </div>" onmouseenter="$(this).tooltip('show')"></i>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td width="12%" ng-click="OnClickUpdate(values.DocumentKey,values.DocumentType)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0">{{values.DocumentDate}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="15%" ng-click="OnClickUpdate(values.DocumentKey,values.DocumentType)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0">{{values.CustomerName}}</p>
                                        </div>
                                        <div class="col-12">
                                            <p class="f-0-8 text-muted mb-0">{{values.ProjectName}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="15%" ng-click="OnClickUpdate(values.DocumentKey,values.DocumentType)">
                                    <div class="row text-left">
                                        <div class="col-12">
                                            <p class="f-1-0">{{values.CategoryName}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="12%" ng-click="OnClickUpdate(values.DocumentKey,values.DocumentType)">
                                    <div class="row text-right">
                                        <div class="col-12">
                                            <p class="f-1-0">{{values.TotalText}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="12%" ng-click="OnClickUpdate(values.DocumentKey,values.DocumentType)">
                                    <div class="row text-right">
                                        <div class="col-12">
                                            <p class="f-1-0">{{values.VATText}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="12%" ng-click="OnClickUpdate(values.DocumentKey,values.DocumentType)">
                                    <div class="row text-right">
                                        <div class="col-12">
                                            <p class="f-1-0">{{values.GrandAmountText}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="15%" ng-click="OnClickUpdate(values.DocumentKey,values.DocumentType)">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <div class="dropdown">
                                                <button class="btn btn-block f-1-0 pr-0 text-left mb-2 aksorn text-left"
                                                        ng-class="{ 'btn-gray' : values.DocumentStatus == '1' ,
                                                    'btn-yellow' : values.DocumentStatus == '2',
                                                    'btn-red' : values.DocumentStatus == '3',
                                                    'btn-blue' :  values.DocumentStatus == '98' ,
                                                        'btn-green' : values.DocumentStatus == '99' }"
                                                        type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{values.DocumentStatusName}} </i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td width="3%">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-light mb-2 icon-btn dropdown-toggle-split p-2" id="dropdownMenuIconButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-options"></i>
                                                </button>
                                                <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuIconButton3">
                                                    <a class="dropdown-item py-2" ng-click="OnClickReport(values.DocumentKey,values.DocumentNo,values.DocumentType)"><i class="fa fa-print mr-2 "></i>พิมพ์เอกสาร</a>
                                                    <a class="dropdown-item py-2" ng-click="OnClickDownload(values.DocumentKey,values.DocumentNo,values.DocumentType)"><i class="fa fa-download mr-2 "></i>ดาวน์โหลด</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-lg-12   grid-margin stretch-card pb-0 ml-3  mb-0">
                                            <nav>
                                                <ul class="pagination" ng-show="itemsCount  > 0">
                                                    <li class="page-item" ng-class="prevPageDisabled()" ng-click="prevPage()"><a class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                                    <li class="page-item" ng-class="{active : n.code === currentPage}" ng-repeat="n in retpage" ng-if="n.show == 1" ng-click="setPage(n.code)"><a class="page-link">{{n.name}}</a></li>
                                                    <li class="page-item"><a class="page-link" ng-class="nextPageDisabled()" ng-click="nextPage()"><i class="mdi mdi-chevron-right"></i></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="modal-report" style="padding-right: 17px; ">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="height:850px;">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-4 aksorn flowlabel-blue ">พิมพ์เอกสาร {{document.DocNo}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body-del pl-3">
                    <div id="loader" class="loader-scroll-report mt-5" style="height:800px" ng-show="document.bindding == 1">
                        <div id="loaderInner">
                            <div class="circle-loader"></div>
                        </div>
                    </div>
                    <div class="form-horizontal" ng-show="document.bindding == 0">
                        <div class="box-body">
                            <div id="example1" style="height:700px;"></div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm dialog-lightgray-btn aksorn ml-auto" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</form>