﻿

@using System.Web.Optimization;
@{
    Random d = new Random();
    string random = d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString();
}

@section RenderScriptWithPage
    {
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.th.min.js"></script>
    <script src="~/js/controller/reportcontroller/reportaccountpayablecontroller.js?nocache= + @random"></script>
    <script src="~/js/controller/documentsellcontroller/ParamServiceControl.js?nocache= + @random"></script>

    <script>
        $(document).ready(function () {
            $('.dropdown-menu select.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });

        (function ($) {
            if ($("#imputstartdate-popup").length) {
                $('#imputstartdate-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    language: 'th-th',
                    format: "dd-mm-yyyy"
                });
            }
        })(jQuery);

        var $table = $('table.scroll'),
            $bodyCells = $table.find('tbody tr:first').children(),
            colWidth;

        // Adjust the width of thead cells when window resizes
        $(window).resize(function () {
            // Get the tbody columns width array
            colWidth = $bodyCells.map(function () {
                return $(this).width();
            }).get();

            // Set the width of thead columns
            $table.find('thead tr').children().each(function (i, v) {
                $(v).width(colWidth[i]);
            });
        }).resize(); // Trigger resize handler
    </script>

}
<link href="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<title>เจ้าหนี้ตามเอกสาร | BeefAccount</title>
<form autocomplete="off" ng-controller="reportaccountpayablecontroller" data-ng-init="init()">
    <div class="row mb-4">
        <div class="col-md-12 ">
            <div class="d-flex">
                <h5 class="title-page-1">
                    รายงานเจ้าหนี้ตามเอกสาร
                </h5>
                <div class="h-25 ml-auto">
                    <button type="button" class="btn btn-twitter btn-fw px-5 aksorn f-1-2" ng-click="OnChangeDate()">
                        แสดงผลรายงาน
                    </button>
                    <button type="button" class="btn btn-primary btn-fw px-5 aksorn f-1-2" ng-click="OnClickExportExcel()">ดาวน์โหลดเป็น Excel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card card-weaccount border-fix-table  pt-4 px-4 pb-1">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <label for="exampleInputEmail1" class="aksorn f-1-0 mb-0">วันที่:</label>
                        <div id="imputstartdate-popup" class="input-group date datepicker no-border">
                            <input type="text" class="form-control input-group-addon" onkeydown="return false" ng-model="Search.InputFromDate" >
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="aksorn f-1-0">สถานะ:</label>
                            <select class="form-control" id="exampleFormControlSelect2" ng-model="Search.SelectStatus" ng-change="OnChangeStatus()">
                                <option value="0">
                                    แสดงทั้งหมด
                                </option>
                                <option value="1">
                                    รอดำเนินการ / รออนุมัติ
                                </option>
                                <option value="2">
                                    อนุมัติ
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card card-weaccount border-fix-table scroll-card">
                <div class="card-table search-table-outter table-responsive p-4">
                    <div id="loader" class="loader-scroll" ng-show="table.binding == 1">
                        <div id="loaderInner">
                            <div class="circle-loader"></div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-12 ">
                            <div class="d-flex">
                                <h5 class="title-page-1 text-primary f-2-0">
                                    รายงานเจ้าหนี้ตามเอกสาร
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-9 col-sm-12 ">
                            <label for="exampleInputEmail2" class="col-sm-2 col-md-2 pl-0 col-form-label aksorn-Bold f-1-0">วันที่ </label>
                            <label for="exampleInputEmail2" class="col-sm-8 col-12 pl-0 col-form-label aksorn f-1-0">{{BusinessHeader.DateNow}}</label>
                            <label for="exampleInputEmail2" class="col-sm-2 col-md-2 pl-0 col-form-label aksorn-Bold f-1-0">ณ วันที่ </label>
                            <label for="exampleInputEmail2" class="col-sm-8 col-12 pl-0 col-form-label aksorn f-1-0">{{BusinessHeader.StartDate}}</label>
                        </div>
                        <div class="col-md-3 col-sm-6 text-left">
                            <label for="exampleInputEmail2" class="col-sm-12 pl-0 col-form-label aksorn-Bold f-1-0">มูลค่ารวม</label>
                            <label for="exampleInputEmail2" class="col-sm-12 pl-0 col-form-label aksorn f-1-8 text-primary">{{BusinessHeader.Amount}}</label>
                        </div>
                    </div>
                    <table class="table s-report table-hover-blue  aksorn s-table">
                        <thead class="table-report">
                            <tr>
                                <th width="15%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='DocumentNo'; reverseSort = !reverseSort">
                                        เลขที่เอกสาร
                                        <span class="ml-2" ng-show="orderByField == 'DocumentNo'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="15%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='DocumentDate'; reverseSort = !reverseSort">
                                        วันที่
                                        <span class="ml-2" ng-show="orderByField == 'DocumentDate'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="15%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='DueDate'; reverseSort = !reverseSort">
                                        วันครบกำหนด
                                        <span class="ml-2" ng-show="orderByField == 'DueDate'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="30%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='CustomerName'; reverseSort = !reverseSort">
                                        ชื่อผู้จำหน่าย/ชื่อโปรเจ็ค
                                        <span class="ml-2" ng-show="orderByField == 'CustomerName'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="15%" class="aksorn text-right f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='GrandAmount'; reverseSort = !reverseSort">
                                        ยอดค้างชำระ
                                        <span class="ml-2" ng-show="orderByField == 'GrandAmount'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="10%" class="aksorn f-1-0">สถานะ</th>
                                <th width="3%" class="aksorn f-1-0"></th>
                            </tr>
                        </thead>
                        <tbody class="border-0" ng-repeat="customer in BusinessDocumentByCustomer | offset: currentPage*itemsPerPage | limitTo: itemsPerPage  | orderBy:orderByField:reverseSort track by $index">
                            <tr class="cursor-pointer table-hover-blue-th " ng-click="OnClickCustomer(customer.ContactKey)">
                                <td colspan="4">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0 text-primary mt-2"><i class="fa  pr-2" ng-class="{ 'fa-angle-right' : Search.SelectTab != customer.ContactKey , 'fa-angle-down' : Search.SelectTab == customer.ContactKey }"></i>{{customer.BusinessName}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-12 text-right">
                                            <p class="f-1-0 text-primary mt-2">{{customer.Total}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr class="cursor-pointer" ng-repeat="values in customer.Document" ng-if="Search.SelectTab == customer.ContactKey">
                                <td width="15%" ng-click="OnClickUpdate(values.DocumentKey,values.DocumentType)">
                                    <div class="row">
                                        <div class="col-12 pl-4">
                                            <p class="f-1-0">
                                                <i class="fa fa-circle color-circle  mr-2" ng-class="{ 'color-status-lightgray' : values.DocumentStatus == '1' ,
                                                'color-status-lightyellow' : values.DocumentStatus == '2' }"></i>
                                                {{values.DocumentNo}}
                                                <i class="fa  f-1-0 ml-2 text-primary" ng-class="{ 'fa fa-files-o' : values.DocumentType == 'CRE' , 'fa-file-text-o' : values.DocumentType != 'CRE' }"
                                                   ng-show="values.DocumentRefNo != '' && values.DocumentRefNo != undefined" data-toggle="tooltip" data-html="true" data-placement="right"
                                                   title="<div class='title' >เอกสารที่เกี่ยวข้อง </div> <hr class='mb-2'> เอกสารอ้างอิง <br> {{values.DocumentRefNo}} </div>" onmouseenter="$(this).tooltip('show')"></i>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td width="15%" ng-click="OnClickUpdate(values.DocumentKey,values.DocumentType)">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <p class="f-1-0">{{values.DocumentDate}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="15%" ng-click="OnClickUpdate(values.DocumentKey,values.DocumentType)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0">{{values.DueDate}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="30%" ng-click="OnClickUpdate(values.DocumentKey,values.DocumentType)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0">{{values.CustomerName}}</p>
                                        </div>
                                        <div class="col-12">
                                            <p class="f-0-8 text-muted mb-0">{{values.ProjectName}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="15%" ng-click="OnClickUpdate(values.DocumentKey,values.DocumentType)">
                                    <div class="row text-right">
                                        <div class="col-12">
                                            <p class="f-1-0" ng-show="values.DocumentType != 'CN'">{{values.GrandAmountText}}</p>
                                            <p class="f-1-0" ng-show="values.DocumentType == 'CN'">({{values.GrandAmountText}})</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="10%" ng-click="OnClickUpdate(values.DocumentKey,values.DocumentType)">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <div class="dropdown">
                                                <button class="btn btn-block f-1-0 pr-0 text-left mb-2 aksorn text-left"
                                                        ng-class="{ 'btn-gray' : values.DocumentStatus == '1' ,
                                                    'btn-yellow' : values.DocumentStatus == '2'}"
                                                        type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{values.DocumentStatusName}}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td width="3%">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-light mb-2 icon-btn dropdown-toggle-split p-2" id="dropdownMenuIconButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-options"></i>
                                                </button>
                                                <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuIconButton3">
                                                    <a class="dropdown-item py-2" ng-click="OnClickReport(values.DocumentKey,values.DocumentNo,values.DocumentType)"><i class="fa fa-print mr-2 "></i>พิมพ์เอกสาร</a>
                                                    <a class="dropdown-item py-2" ng-click="OnClickDownload(values.DocumentKey,values.DocumentNo,values.DocumentType)"><i class="fa fa-download mr-2 "></i>ดาวน์โหลด</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-lg-12   grid-margin stretch-card pb-0 ml-3  mb-0">
                                            <nav>
                                                <ul class="pagination" ng-show="itemsCount  > 0">
                                                    <li class="page-item" ng-class="prevPageDisabled()" ng-click="prevPage()"><a class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                                    <li class="page-item" ng-class="{active : n.code === currentPage}" ng-repeat="n in retpage" ng-if="n.show == 1" ng-click="setPage(n.code)"><a class="page-link">{{n.name}}</a></li>
                                                    <li class="page-item"><a class="page-link" ng-class="nextPageDisabled()" ng-click="nextPage()"><i class="mdi mdi-chevron-right"></i></a></li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="modal-report" style="padding-right: 17px; ">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="height:850px;">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-4 aksorn flowlabel-blue ">พิมพ์เอกสาร {{document.DocNo}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body-del pl-3">
                    <div id="loader" class="loader-scroll-report mt-5" style="height:800px" ng-show="document.bindding == 1">
                        <div id="loaderInner">
                            <div class="circle-loader"></div>
                        </div>
                    </div>
                    <div class="form-horizontal" ng-show="document.bindding == 0">
                        <div class="box-body">
                            <div id="example1" style="height:700px;"></div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm dialog-lightgray-btn aksorn ml-auto" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</form>