﻿
@using System.Web.Optimization;
@{
    Random d = new Random();
    string random = d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString();
}

@section RenderScriptWithPage
    {
    <script src="~/js/controller/businesscontroller/businessbankaccountcontroller.js?nocache= + @random"></script>
}

    <title>บัญชีธนาคาร | BeefAccount</title>
<div id="main" ng-controller="businessbankaccountcontroller" data-ng-init="init()">

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card card-weaccount">
                <div class="card-body ">
                    <div class="row mb-3">
                        <div class="col-md-12 ">
                            <div class="d-flex">
                                <h4 class="f-1-6 aksorn">
                                    บัญชีธนาคาร
                                </h4>
                                <div class="h-25 ml-auto">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary px-4 aksorn f-1-0 px-3" ng-click="OnClickAdd()">เพิ่มบัญชีธนาคาร</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pl-3 mb-3">
                        <label for="exampleInputtext2" class="col-sm-12 pl-0 pb-0  col-form-label aksorn-Bold f-1-2">บัญชีธนาคารในธุรกิจของคุณ </label>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-12 grid-margin stretch-card ">
                            <div class="card ">
                                <div class="card-table search-table-outter table-responsive c-fixheight">
                                    <div id="loader" ng-show="table.binding == 1">
                                        <div id="loaderInner">
                                            <div class="circle-loader"></div>
                                        </div>
                                    </div>
                                    <table class="table table-hover-gray  aksorn  s-table" ng-show="table.binding == 0">
                                        <thead class="card-bodygray">
                                            <tr>
                                                <th width="30%" class="aksorn f-1-0">ธนาคาร/สาขาธนาคาร</th>
                                                <th width="30%" class="aksorn f-1-0">ชื่อบัญชี / ประเภทบัญชี</th>
                                                <th width="30%" class="aksorn f-1-0">เลขที่บัญชี</th>
                                                <th width="3%" class="aksorn f-1-0"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="">
                                            <tr ng-repeat="values in BusinessAccount  | offset: currentPage*itemsPerPage | limitTo: itemsPerPage  ">
                                                <td>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <p class="f-1-0">{{values.BankName}}</p>
                                                        </div>
                                                        <div class="col-12">
                                                            <p class="f-0-8 text-muted mb-0">{{values.BranchName}}</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row p-0">
                                                        <div class="col-12">
                                                            <p class="f-1-0">{{values.AccountName}}</p>
                                                        </div>
                                                        <div class="col-12">
                                                            <p class="f-0-8 text-muted mb-0">
                                                                {{values.DepositTypeName}}
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-left">
                                                    <p class="f-1-0">{{values.AccountNo}}</p>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-12 ">
                                                            <div class="dropdown">
                                                                <button type="button" class="btn btn-light mb-2 icon-btn dropdown-toggle-split p-2" id="dropdownMenuIconButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="icon-options"></i>
                                                                </button>
                                                                <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuIconButton3">
                                                                    <a class="dropdown-item py-2 text-softred" ng-click="OnclickDelete(values.UID)"><i class="fa fa-trash-o mr-2 "></i>ลบบัญชีธนาคาร</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12  grid-margin stretch-card pb-0 pl-0 mb-0">
                            <nav>
                                <ul class="pagination" ng-show="itemsCount  > 0">
                                    <li class="page-item" ng-class="prevPageDisabled()" ng-click="prevPage()"><a class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                    <li class="page-item" ng-class="{active : n.code === currentPage}" ng-repeat="n in retpage" ng-if="n.show == 1" ng-click="setPage(n.code)"><a class="page-link">{{n.name}}</a></li>
                                    <li class="page-item"><a class="page-link" ng-class="nextPageDisabled()" ng-click="nextPage()"><i class="mdi mdi-chevron-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Account Modal starts -->
    <div class="modal fade" id="modalbank-add" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-text-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full f-1-6 aksorn">สร้างบัญชีธนาคาร</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row-modal pl-0 mb-4">
                        <div class="col-lg-12 pl-0">
                            <div class=" row-modal text-left  my-2">
                                <label for="exampleInputtext2" class="col-sm-3 pl-0 col-form-label aksorn f-1-0">ธนาคาร: </label>
                                <div class="col-sm-9 pl-0">
                                    <select class="form-control" ng-model="BusinessAccountAdd.SelectBank" ng-options="item as item.Name for item in Parameter.Param_Bank">
                                        <option value="" class="text-muted" selected style="display:none">-- กรุณาเลือกธนาคาร --</option>
                                    </select>
                                </div>
                            </div>
                            <div class=" row-modal text-left my-2">
                                <label for="exampleInputtext2" class="col-sm-3 pl-0 col-form-label aksorn f-1-0">เลขที่บัญชี: </label>
                                <div class="col-sm-9 pl-0">
                                    <input type="text" class="form-control" ng-model="BusinessAccountAdd.AccountNo" number-only placeholder="" maxlength="25">
                                </div>
                            </div>
                            <div class=" row-modal text-left my-2">
                                <label for="exampleInputtext2" class="col-sm-3 pl-0 col-form-label aksorn f-1-0">สาขาธนาคาร:</label>
                                <div class="col-sm-9 pl-0">
                                    <input type="text" class="form-control" ng-model="BusinessAccountAdd.BranchName" placeholder="" maxlength="100">
                                </div>
                            </div>
                            <div class=" row-modal text-left my-2">
                                <label for="exampleInputtext2" class="col-sm-3 pl-0 col-form-label aksorn f-1-0">ชื่อบัญชี:</label>
                                <div class="col-sm-9 pl-0">
                                    <input type="text" class="form-control" ng-model="BusinessAccountAdd.AccountName" placeholder="" maxlength="200">
                                </div>
                            </div>
                            <div class=" row-modal text-left my-2">
                                <label for="exampleInputtext2" class="col-sm-3 pl-0 col-form-label aksorn f-1-0">ประเภทบัญชี:</label>
                                <div class="col-sm-3 pl-0">
                                    <div class="form-radio aksorn">
                                        <label class="form-check-label f-1-0">
                                            <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="S" ng-model="BusinessAccountAdd.DepositType">
                                            ออมทรัพย์
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3 pl-0">
                                    <div class="form-radio aksorn">
                                        <label class="form-check-label f-1-0">
                                            <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="C" ng-model="BusinessAccountAdd.DepositType">
                                            กระแสรายวัน
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3 pl-0">
                                    <div class="form-radio aksorn">
                                        <label class="form-check-label f-1-0">
                                            <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="F" ng-model="BusinessAccountAdd.DepositType">
                                            ฝากประจำ
                                            <i class="input-helper"></i>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-subtitle" />
                            <div class=" row-modal text-left">
                                <button type="button" class="btn btn-inverse-light btn-fw ml-auto mr-3 aksorn f-1-0" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                                <button type="button" class="btn btn-primary btn-fw aksorn f-1-0" ng-click="OnClickSave()">บันทึกบัญชีธนาคาร</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Account Ends -->
    <div class="modal fade" id="modalbank-del" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-del modal-del" role="document">
            <div class="modal-content modal-content-del">
                <div class="modal-header-del">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-6 aksorn">ยืนยันการลบบัญชีธนาคารนี้</h5>
                    <button type="button" class="close-del" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body-del">
                    <div>
                        <p class="f-1-0 aksorn">คุณกำลังลบบัญชีธนาคาร, ต้องการดำเนินการต่อหรือไม่?</p>
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm close-btn mr-3 aksorn" data-dismiss="modal" aria-label="Close">ปิด</button>
                    <button type="button" class="flowbtnsm dialog-red-btn aksorn " ng-click="OnClickConfirmDelete()">ลบข้อมูล</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalbank-alert" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-alert modal-del" role="document">
            <div class="modal-content modal-content-alert">
                <div class="modal-header-del">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-6 aksorn flowlabel-blue ">ไม่สามารถลบบัญชีธนาคารได้</h5>
                    <button type="button" class="close-del" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body-del">
                    <div>
                        <p class="f-1-0 aksorn">เนื่องจากบัญชีมีความเคลื่อนไหวแล้ว</p>
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm dialog-blue-btn aksorn " data-dismiss="modal" aria-label="Close">ตกลง</button>
                </div>
            </div>
        </div>
    </div>
</div>
