﻿
@using System.Web.Optimization;
@{
    Random d = new Random();
    string random = d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString();
}

@section RenderScriptWithPage
    {
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.th.min.js"></script>
    <script src="~/js/controller/businesscontroller/businessdocumentrunningcontroller.js?nocache= + @random"></script>

}

<link href="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<title>เลขรันและหัวเอกสาร | BeefAccount</title>
<div class="row" ng-controller="businessdocumentrunningcontroller" data-ng-init="init()">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card card-weaccount">
            <div class="card-body ">
                <div id="loader" ng-show="table.binding == 1">
                    <div id="loaderInner">
                        <div class="circle-loader"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12 ">
                        <div class="d-flex">
                            <h4 class="f-1-6 aksorn">
                                แก้ไขข้อมูลเอกสาร
                            </h4>
                            <div class="h-25 ml-auto">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-success px-4 aksorn f-1-0 px-3" ng-click="OnClickSave()">บันทึกข้อมูล</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row pl-3 ">
                    <div class="col-lg-6 pl-0" style="position:relative;">
                        <h5 class="modal-subtitle-full text-primary pl-0 f-1-2  aksorn">
                            รูปแบบการรันเลขเอกสาร
                        </h5>
                        <div class="hr-title">&nbsp;</div>
                    </div>
                </div>
                <div class="row pl-3 pb-3">
                    <div class="col-sm-3 pl-0">
                        <div class="form-radio aksorn">
                            <label class="form-check-label f-1-0">
                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="YM" ng-model="BusinessParameter.RunningType.ParameterValue" ng-change="OnChangeDocumentTypeRadio()" ng-disabled="BusinessParameter.RunningType.Disabled == 1">
                                ปี/เดือน {{FixedYM}}
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3 pl-0">
                        <div class="form-radio aksorn">
                            <label class="form-check-label f-1-0">
                                <input type="radio" class="form-check-input" name="membershipRadios" id="membershipRadios1" value="YY" ng-model="BusinessParameter.RunningType.ParameterValue" ng-change="OnChangeDocumentTypeRadio()" ng-disabled="BusinessParameter.RunningType.Disabled == 1">
                                ปี {{FixedYY}}
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessParameter.RunningType.Disabled == 1">
                        <span class="span-a mt-3">
                            <a class="orange-line " ng-click="OnClickChangeDisabled(1)"><i class="fa fa-refresh"></i> รีเซ็ทเลขรัน</a>
                        </span>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessParameter.RunningType.Disabled == 0">
                        <span class="span-a mt-3">
                            <a class="red-line " ng-click="OnClickChangeDisabled(1)"><i class="fa fa-close"></i> ยกเลิกการแก้ไข</a>
                        </span>
                    </div>
                </div>
                <div class="row pl-3 pt-3 pb-2 ">
                    <div class="col-lg-6 pl-0" style="position:relative;">
                        <h5 class="modal-subtitle-full text-primary pl-0 f-1-2  aksorn">
                            ตั้งค่าเลขเริ่มต้นเอกสาร
                        </h5>
                        <div class="hr-title">&nbsp;</div>
                    </div>
                </div>
                <div class="row pl-3 pb-3 ">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ใบเสนอราคา:</label>
                    <div class="col-sm-4 pl-0">
                        <div class="input-group-run">
                            <div class="input-group-append-run col-3 p-0">
                                <span class="input-group-text-first aksorn-Bold">QT</span>
                            </div>
                            <div class="input-group-append-run col-6 p-0">
                                <div id="datepicker-popup" class="input-group date datepicker no-border">
                                    <input type="text" class="form-control input-group-text-mid aksorn-Bold input-group-addon" onkeydown="return false" ng-model="BusinessDocumentRuning.QuotationSuffix" ng-disabled="BusinessDocumentRuning.QuotationDisabled == 1">
                                </div>
                            </div>
                            <div class="input-group-append-run col-3 p-0">
                                <input type="text" class="form-control input-group-text-end aksorn-Bold" placeholder="0001" maxlength="6" number-only ng-model="BusinessDocumentRuning.QuotationNextNumber" ng-disabled="BusinessDocumentRuning.QuotationDisabled == 1">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessDocumentRuning.QuotationDisabled == 1">
                        <span class="span-a mt-1">
                            <a class="orange-line " ng-click="OnClickChangeDisabled(2)"><i class="fa fa-refresh"></i> รีเซ็ทเลขรัน</a>
                        </span>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessDocumentRuning.QuotationDisabled == 0">
                        <span class="span-a mt-1">
                            <a class="red-line " ng-click="OnClickChangeDisabled(2)"><i class="fa fa-close"></i> ยกเลิกการแก้ไข</a>
                        </span>
                    </div>
                </div>
                <div class="row pl-3 pb-3 ">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ใบวางบิล/ใบแจ้งหนี้:</label>
                    <div class="col-sm-4 pl-0">
                        <div class="input-group-run">
                            <div class="input-group-append-run col-3 p-0">
                                <span class="input-group-text-first aksorn-Bold">BL</span>
                            </div>
                            <div class="input-group-append-run col-6 p-0">
                                <div id="datepicker-popup-1" class="input-group date datepicker no-border">
                                    <input type="text" class="form-control input-group-text-mid aksorn-Bold input-group-addon" onkeydown="return false" ng-model="BusinessDocumentRuning.BillingSuffix" ng-disabled="BusinessDocumentRuning.BillingDisabled == 1">
                                </div>
                            </div>
                            <div class="input-group-append-run col-3 p-0">
                                <input type="text" class="form-control input-group-text-end aksorn-Bold" placeholder="0001" maxlength="6" number-only ng-model="BusinessDocumentRuning.BillingNextNumber" ng-disabled="BusinessDocumentRuning.BillingDisabled == 1">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessDocumentRuning.BillingDisabled == 1">
                        <span class="span-a mt-1">
                            <a class="orange-line " ng-click="OnClickChangeDisabled(3)"><i class="fa fa-refresh"></i> รีเซ็ทเลขรัน</a>
                        </span>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessDocumentRuning.BillingDisabled == 0">
                        <span class="span-a mt-1">
                            <a class="red-line " ng-click="OnClickChangeDisabled(3)"><i class="fa fa-close"></i> ยกเลิกการแก้ไข</a>
                        </span>
                    </div>
                </div>
                <div class="row pl-3 pb-3 ">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ใบกำกับภาษี/ใบเสร็จ:</label>
                    <div class="col-sm-4 pl-0">
                        <div class="input-group-run">
                            <div class="input-group-append-run col-3 p-0">
                                <span class="input-group-text-first aksorn-Bold">INV</span>
                            </div>
                            <div class="input-group-append-run col-6 p-0">
                                <div id="datepicker-popup-2" class="input-group date datepicker no-border">
                                    <input type="text" class="form-control input-group-text-mid aksorn-Bold input-group-addon" onkeydown="return false" ng-model="BusinessDocumentRuning.DeliveryNoteSuffix"  ng-disabled="BusinessDocumentRuning.DeliveryNoteDisabled == 1">
                                </div>
                            </div>
                            <div class="input-group-append-run col-3 p-0">
                                <input type="text" class="form-control input-group-text-end aksorn-Bold" placeholder="0001" maxlength="6" number-only ng-model="BusinessDocumentRuning.DeliveryNoteNextNumber"  ng-disabled="BusinessDocumentRuning.DeliveryNoteDisabled == 1">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessDocumentRuning.DeliveryNoteDisabled == 1">
                        <span class="span-a mt-1">
                            <a class="orange-line " ng-click="OnClickChangeDisabled(4)"><i class="fa fa-refresh"></i> รีเซ็ทเลขรัน</a>
                        </span>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessDocumentRuning.DeliveryNoteDisabled == 0">
                        <span class="span-a mt-1">
                            <a class="red-line " ng-click="OnClickChangeDisabled(4)"><i class="fa fa-close"></i> ยกเลิกการแก้ไข</a>
                        </span>
                    </div>
                </div>
                <div class="row pl-3 pb-3 ">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">เงินสด:</label>
                    <div class="col-sm-4 pl-0">
                        <div class="input-group-run">
                            <div class="input-group-append-run col-3 p-0">
                                <span class="input-group-text-first aksorn-Bold">CA</span>
                            </div>
                            <div class="input-group-append-run col-6 p-0">
                                <div id="datepicker-popup-3" class="input-group date datepicker no-border">
                                    <input type="text" class="form-control input-group-text-mid aksorn-Bold input-group-addon" onkeydown="return false" ng-model="BusinessDocumentRuning.CashSuffix"  ng-disabled=BusinessDocumentRuning.CashDisabled == 1">
                                </div>
                            </div>
                            <div class="input-group-append-run col-3 p-0">
                                <input type="text" class="form-control input-group-text-end aksorn-Bold" placeholder="0001" maxlength="6" number-only ng-model="BusinessDocumentRuning.CashNextNumber"  ng-disabled=BusinessDocumentRuning.CashDisabled == 1">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show=BusinessDocumentRuning.CashDisabled == 1">
                        <span class="span-a mt-1">
                            <a class="orange-line " ng-click="OnClickChangeDisabled(5)"><i class="fa fa-refresh"></i> รีเซ็ทเลขรัน</a>
                        </span>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessDocumentRuning.CashDisabled == 0">
                        <span class="span-a mt-1">
                            <a class="red-line " ng-click="OnClickChangeDisabled(5)"><i class="fa fa-close"></i> ยกเลิกการแก้ไข</a>
                        </span>
                    </div>
                </div>
                <div class="row pl-3 pb-3 ">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ใบเสร็จรับเงิน:</label>
                    <div class="col-sm-4 pl-0">
                        <div class="input-group-run">
                            <div class="input-group-append-run col-3 p-0">
                                <span class="input-group-text-first aksorn-Bold">RE</span>
                            </div>
                            <div class="input-group-append-run col-6 p-0">
                                <div id="datepicker-popup-4" class="input-group date datepicker no-border">
                                    <input type="text" class="form-control input-group-text-mid aksorn-Bold input-group-addon" onkeydown="return false" ng-model="BusinessDocumentRuning.ReceiptSuffix" ng-disabled="BusinessDocumentRuning.ReceiptDisabled == 1">
                                </div>
                            </div>
                            <div class="input-group-append-run col-3 p-0">
                                <input type="text" class="form-control input-group-text-end aksorn-Bold" placeholder="0001" maxlength="6" number-only ng-model="BusinessDocumentRuning.ReceiptNextNumber" ng-disabled="BusinessDocumentRuning.ReceiptDisabled == 1">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessDocumentRuning.ReceiptDisabled == 1">
                        <span class="span-a mt-1">
                            <a class="orange-line " ng-click="OnClickChangeDisabled(6)"><i class="fa fa-refresh"></i> รีเซ็ทเลขรัน</a>
                        </span>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessDocumentRuning.ReceiptDisabled == 0">
                        <span class="span-a mt-1">
                            <a class="red-line " ng-click="OnClickChangeDisabled(6)"><i class="fa fa-close"></i> ยกเลิกการแก้ไข</a>
                        </span>
                    </div>
                </div>
                <div class="row pl-3 pb-3 ">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ใบลดหนี้:</label>
                    <div class="col-sm-4 pl-0">
                        <div class="input-group-run">
                            <div class="input-group-append-run col-3 p-0">
                                <span class="input-group-text-first aksorn-Bold">CN</span>
                            </div>
                            <div class="input-group-append-run col-6 p-0">
                                <div id="datepicker-popup-5" class="input-group date datepicker no-border">
                                    <input type="text" class="form-control input-group-text-mid aksorn-Bold input-group-addon" onkeydown="return false" ng-model="BusinessDocumentRuning.CreditSuffix" ng-disabled="BusinessDocumentRuning.CreditDisabled == 1">
                                </div>
                            </div>
                            <div class="input-group-append-run col-3 p-0">
                                <input type="text" class="form-control input-group-text-end aksorn-Bold" placeholder="0001" maxlength="6" number-only ng-model="BusinessDocumentRuning.CreditNextNumber" ng-disabled="BusinessDocumentRuning.CreditDisabled == 1">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessDocumentRuning.CreditDisabled == 1">
                        <span class="span-a mt-1">
                            <a class="orange-line " ng-click="OnClickChangeDisabled(7)"><i class="fa fa-refresh"></i> รีเซ็ทเลขรัน</a>
                        </span>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessDocumentRuning.CreditDisabled == 0">
                        <span class="span-a mt-1">
                            <a class="red-line " ng-click="OnClickChangeDisabled(7)"><i class="fa fa-close"></i> ยกเลิกการแก้ไข</a>
                        </span>
                    </div>
                </div>
                <div class="row pl-3 pb-3 ">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ใบเพิ่มหนี้:</label>
                    <div class="col-sm-4 pl-0">
                        <div class="input-group-run">
                            <div class="input-group-append-run col-3 p-0">
                                <span class="input-group-text-first aksorn-Bold">DN</span>
                            </div>
                            <div class="input-group-append-run col-6 p-0">
                                <div id="datepicker-popup-6" class="input-group date datepicker no-border">
                                    <input type="text" class="form-control input-group-text-mid aksorn-Bold input-group-addon" onkeydown="return false" ng-model="BusinessDocumentRuning.DebitSuffix" ng-disabled="BusinessDocumentRuning.DebitDisabled == 1">
                                </div>
                            </div>
                            <div class="input-group-append-run col-3 p-0">
                                <input type="text" class="form-control input-group-text-end aksorn-Bold" placeholder="0001" maxlength="6" number-only ng-model="BusinessDocumentRuning.DebitNextNumber" ng-disabled="BusinessDocumentRuning.DebitDisabled == 1">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessDocumentRuning.DebitDisabled == 1">
                        <span class="span-a mt-1">
                            <a class="orange-line " ng-click="OnClickChangeDisabled(8)"><i class="fa fa-refresh"></i> รีเซ็ทเลขรัน</a>
                        </span>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessDocumentRuning.DebitDisabled == 0">
                        <span class="span-a mt-1">
                            <a class="red-line " ng-click="OnClickChangeDisabled(8)"><i class="fa fa-close"></i> ยกเลิกการแก้ไข</a>
                        </span>
                    </div>
                </div>
                <div class="row pl-3 pb-3  mt-3">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ใบสั่งซื้อ:</label>
                    <div class="col-sm-4 pl-0">
                        <div class="input-group-run">
                            <div class="input-group-append-run col-3 p-0">
                                <span class="input-group-text-first aksorn-Bold">PO</span>
                            </div>
                            <div class="input-group-append-run col-6 p-0">
                                <div id="datepicker-popup-7" class="input-group date datepicker no-border">
                                    <input type="text" class="form-control input-group-text-mid aksorn-Bold input-group-addon" onkeydown="return false" ng-model="BusinessDocumentRuning.PurchaseSuffix" ng-disabled="BusinessDocumentRuning.PurchaseDisabled == 1">
                                </div>
                            </div>
                            <div class="input-group-append-run col-3 p-0">
                                <input type="text" class="form-control input-group-text-end aksorn-Bold" placeholder="0001" maxlength="6" number-only ng-model="BusinessDocumentRuning.PurchaseNextNumber" ng-disabled="BusinessDocumentRuning.PurchaseDisabled == 1">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessDocumentRuning.PurchaseDisabled == 1">
                        <span class="span-a mt-1">
                            <a class="orange-line " ng-click="OnClickChangeDisabled(9)"><i class="fa fa-refresh"></i> รีเซ็ทเลขรัน</a>
                        </span>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessDocumentRuning.PurchaseDisabled == 0">
                        <span class="span-a mt-1">
                            <a class="red-line " ng-click="OnClickChangeDisabled(9)"><i class="fa fa-close"></i> ยกเลิกการแก้ไข</a>
                        </span>
                    </div>
                </div>
                <div class="row pl-3 pb-3 pb-4">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ใบรับสินค้า:</label>
                    <div class="col-sm-4 pl-0">
                        <div class="input-group-run">
                            <div class="input-group-append-run col-3 p-0">
                                <span class="input-group-text-first aksorn-Bold">RI</span>
                            </div>
                            <div class="input-group-append-run col-6 p-0">
                                <div id="datepicker-popup-8" class="input-group date datepicker no-border">
                                    <input type="text" class="form-control input-group-text-mid aksorn-Bold input-group-addon" onkeydown="return false" ng-model="BusinessDocumentRuning.ReceivingSuffix" ng-disabled="BusinessDocumentRuning.ReceivingDisabled == 1">
                                </div>
                            </div>
                            <div class="input-group-append-run col-3 p-0">
                                <input type="text" class="form-control input-group-text-end aksorn-Bold" placeholder="0001" maxlength="6" number-only ng-model="BusinessDocumentRuning.ReceivingNextNumber" ng-disabled="BusinessDocumentRuning.ReceivingDisabled == 1">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessDocumentRuning.ReceivingDisabled == 1">
                        <span class="span-a mt-1">
                            <a class="orange-line " ng-click="OnClickChangeDisabled(10)"><i class="fa fa-refresh"></i> รีเซ็ทเลขรัน</a>
                        </span>
                    </div>
                    <div class="col-sm-3 pl-0" ng-show="BusinessDocumentRuning.ReceivingDisabled == 0">
                        <span class="span-a mt-1">
                            <a class="red-line " ng-click="OnClickChangeDisabled(10)"><i class="fa fa-close"></i> ยกเลิกการแก้ไข</a>
                        </span>
                    </div>
                </div>
                <div class="row pl-3 pt-3 ">
                    <div class="col-lg-6 pl-0" style="position:relative;">
                        <h5 class="modal-subtitle-full text-primary pl-0 f-1-2  aksorn">
                            ชื่อหัวเอกสาร
                        </h5>
                        <div class="hr-title">&nbsp;</div>
                    </div>
                </div>
                <div class="row pl-3 pb-3">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ใบสั่งซื้อ:</label>
                    <div class="col-sm-4 pl-0">
                        <select class="form-control" id="exampleFormControlSelect2" ng-model="BusinessParameter.DocumentPurchase.ParameterValue">
                            <option value="1">ใบสั่งซื้อ | Purchase Order</option>
                        </select>
                    </div>
                </div>
                <div class="row pl-3 pb-3">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ใบเสนอราคา:</label>
                    <div class="col-sm-4 pl-0">
                        <select class="form-control" id="exampleFormControlSelect2" ng-model="BusinessParameter.DocumentQuotation.ParameterValue">
                            <option value="1">สัญญาโฆษณา | Advertising Contract</option>
                            <option value="2">ใบส่งของ | Delivery Note</option>
                            <option value="3">ใบสั่งงาน | Job order</option>
                            <option value="4">ใบเสนอราคา | Price Quotation</option>
                            <option value="5">ใบเสนอราคา | Quotation</option>
                            <option value="6">ใบสั่งขาย | Sales/Job order</option>
                            <option value="7">สัญญาบริการ | Sevice Contract</option>
                            <option value="8">ใบส่งมอบบริการ | Summary Timesheet</option>

                        </select>
                    </div>
                </div>
                <div class="row pl-3 pb-3 ">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ใบวางบิล:</label>
                    <div class="col-sm-4 pl-0">
                        <select class="form-control" id="exampleFormControlSelect2" ng-model="BusinessParameter.DocumentBilling.ParameterValue">
                            <option value="1">ใบวางบิล | Billing Note</option>
                            <option value="2">ใบส่งสินค้าชั่วคราว | Delivery Bill</option>
                        </select>
                    </div>
                </div>
                <div class="row pl-3 pb-3 ">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ใบแจ้งหนี้:</label>
                    <div class="col-sm-4 pl-0">
                        <select class="form-control" id="exampleFormControlSelect2" ng-model="BusinessParameter.DocumentDelivery.ParameterValue">
                            <option value="1">ใบส่งสินค้า | Delivery Note</option>
                            <option value="2">ใบส่งสินค้า/ใบแจ้งหนี้ | Delivery Note/Invoice</option>
                            <option value="3">ใบแจ้งหนี้ | Invoice</option>
                        </select>
                    </div>
                </div>
                <div class="row pl-3 pb-3 ">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ใบเสร็จรับเงิน:</label>
                    <div class="col-sm-4 pl-0">
                        <select class="form-control" id="exampleFormControlSelect2" ng-model="BusinessParameter.DocumentReceipt.ParameterValue">
                            <option value="1">ใบเสร็จรับเงิน | Receipt</option>
                        </select>
                    </div>
                </div>
                <div class="row pl-3 pb-3 ">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ใบลดหนี้:</label>
                    <div class="col-sm-4 pl-0">
                        <select class="form-control" id="exampleFormControlSelect2" ng-model="BusinessParameter.DocumentCredit.ParameterValue">
                            <option value="1">ใบลดหนี้ | Credit Note</option>
                        </select>
                    </div>
                </div>
                <div class="row pl-3 pb-3 ">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">ใบเพิ่มหนี้:</label>
                    <div class="col-sm-4 pl-0">
                        <select class="form-control" id="exampleFormControlSelect2" ng-model="BusinessParameter.DocumentDebit.ParameterValue">
                            <option value="1">ใบเพิ่มหนี้ | Debit Note</option>
                        </select>
                    </div>
                </div>
                <div class="row pl-3 pb-3 ">
                    <label for="exampleInputEmail2" class="col-sm-2 pl-0 col-form-label aksorn f-1-0">เงินสด:</label>
                    <div class="col-sm-4 pl-0">
                        <select class="form-control" id="exampleFormControlSelect2" ng-model="BusinessParameter.DocumentCash.ParameterValue">
                            <option value="1">ใบเสร็จรับเงิน (เงินสด) | Receipt (Cash)</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
