﻿
@using System.Web.Optimization;
@{
    Random d = new Random();
    string random = d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString();
}

@section RenderScriptWithPage
    {
    <script src="~/js/controller/businesscontroller/businessdocumentremarkcontroller.js?nocache= + @random"></script>
}

<link href="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<title>หมายเหตุเอกสาร | BeefAccount</title>
<div id="main" ng-controller="businessdocumentremarkcontroller" data-ng-init="init()">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card card-weaccount">
                <div class="card-body ">
                    <div class="row mb-3">
                        <div class="col-md-12 ">
                            <div class="d-flex">
                                <h4 class="f-1-6 aksorn">
                                    หมายเหตุเอกสาร
                                </h4>
                                <div class="h-25 ml-auto">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary px-4 aksorn f-1-0 px-3" ng-click="OnClickAdd()">เพิ่มหมายเหตุเอกสาร</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pl-3 pb-0">
                        <label for="exampleInputEmail2" class="col-sm-12 pl-0 pb-0 text-primary col-form-label aksorn-Bold f-1-2">ระบุหมายเหตุแยกตามเอกสาร </label>
                    </div>
                    <div class="row pl-3 mb-2 mt-0 pt-0">
                        <label for="exampleInputEmail2" class="col-sm-12 pl-0 col-form-label aksorn f-1-0">หมายเหตุจะระบุในท้ายเอกสารตามเอกสารที่กำหนด </label>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-12 grid-margin stretch-card">
                            <div class="card ">
                                <div class="card-table search-table-outter table-responsive c-fixheight">
                                    <div id="loader" ng-show="table.binding == 1">
                                        <div id="loaderInner">
                                            <div class="circle-loader"></div>
                                        </div>
                                    </div>
                                    <table class="table table-hover-gray  aksorn  s-table" ng-show="table.binding == 0">
                                        <thead class="card-bodygray">
                                            <tr>
                                                <th width="22%" class="aksorn f-1-0">เอกสาร</th>
                                                <th width="75%" class="aksorn f-1-0">หมายเหตุ</th>
                                                <th width="3%" class="aksorn f-1-0"></th>
                                            </tr>
                                        </thead>
                                        <tbody class="">
                                            <tr ng-repeat="values in BusinessDocument  |  limitTo: itemsPerPage  ">
                                                <td width="22%">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <p class="f-1-0">{{values.DocumentTypeName}}</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td width="75%">
                                                    <p class="f-1-0">{{values.DocumentText}}</p>
                                                </td>
                                                <td width="3%">
                                                    <div class="row">
                                                        <div class="col-12 ">
                                                            <div class="dropdown">
                                                                <button type="button" class="btn btn-light mb-2 icon-btn dropdown-toggle-split p-2" id="dropdownMenuIconButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <i class="icon-options"></i>
                                                                </button>
                                                                <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuIconButton3">
                                                                    <a class="dropdown-item" ng-click="OnClickUpdate(values.DocumentKey)"><i class="fa fa-edit mr-2 "></i>แก้ไขหมายเหตุ</a>
                                                                    <a class="dropdown-item py-2 text-softred" ng-click="OnclickDelete(values.DocumentKey)"><i class="fa fa-trash-o mr-2 "></i>ลบเอกสาร</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Remark Modal starts -->
    <div class="modal fade" id="modaldoc-add" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-text-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full f-1-6 aksorn">สร้างหมายเหตุเอกสาร</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row-modal pl-0 mb-4">
                        <div class="col-lg-12 pl-0">
                            <div class=" row-modal text-left  my-2">
                                <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">เอกสาร: </label>
                                <div class="col-sm-8 pl-0">
                                    <select class="form-control" id="exampleFormControlSelect2" ng-model="BusinessDocumentRemarkAdd.DocumentType" ng-disabled="BusinessDocumentRemarkAdd.updated    ">
                                        <option value="" class="text-muted" selected style="display:none">--กรุณาเลือกเอกสารที่ต้องการระบุหมายเหตุแยก--</option>
                                        <optgroup class="text-muted" label="เอกสารทั้งหมด">
                                            <option ng-class="{ 'text-black' : ChecklistDocument('ALL') == 0 ,'text-disabled-select' : ChecklistDocument('ALL') == 1}" ng-disabled="ChecklistDocument('ALL')" value="ALL">เอกสารซื้อและขายทั้งหมดในระบบ</option>
                                            <option disabled>─────────────────</option>
                                        </optgroup>
                                        <optgroup class="text-muted" label="เอกสารขาย">
                                            <option class="" value="QT" ng-class="{ 'text-black' : ChecklistDocument('QT') == 0 ,'text-disabled-select' : ChecklistDocument('QT') == 1}" ng-disabled="ChecklistDocument('QT')">
                                                ใบเสนอราคา
                                            </option>
                                            <option class="" value="BL" ng-class="{'text-black' : ChecklistDocument('BL') == 0 , 'text-disabled-select' : ChecklistDocument('BL') == 1}" ng-disabled="ChecklistDocument('BL')">
                                                ใบวางบิล
                                            </option>
                                            <option class="" value="INV" ng-class="{'text-black' : ChecklistDocument('INV') == 0 , 'text-disabled-select' : ChecklistDocument('INV') == 1}" ng-disabled="ChecklistDocument('INV')">
                                                ใบแจ้งหนี้
                                            </option>
                                            <option class="" value="RE" ng-class="{'text-black' : ChecklistDocument('RE') == 0 , 'text-disabled-select' : ChecklistDocument('RE') == 1}" ng-disabled="ChecklistDocument('RE')">
                                                ใบเสร็จรับเงิน
                                            </option>
                                            <option class="" value="CA" ng-class="{'text-black' : ChecklistDocument('CA') == 0 , 'text-disabled-select' : ChecklistDocument('CA') == 1}" ng-disabled="ChecklistDocument('CA')">
                                                ใบเสร็จรับเงิน (เงินสด)
                                            </option>
                                            <option class="" value="CN" ng-class="{'text-black' : ChecklistDocument('CN') == 0 , 'text-disabled-select' : ChecklistDocument('CN') == 1}" ng-disabled="ChecklistDocument('CN')">
                                                ใบลดหนี้
                                            </option>
                                            <option class="" value="DN" ng-class="{'text-black' : ChecklistDocument('DN') == 0 , 'text-disabled-select' : ChecklistDocument('DN') == 1}" ng-disabled="ChecklistDocument('DN')">
                                                ใบเพิ่มหนี้
                                            </option>
                                            <option disabled>─────────────────</option>
                                        </optgroup>
                                        <optgroup class="text-muted" label="เอกสารซื้อ">
                                            <option class="" value="PO" ng-class="{'text-black' : ChecklistDocument('PO') == 0 , 'text-disabled-select' : ChecklistDocument('PO') == 1}" ng-disabled="ChecklistDocument('PO')">
                                                ใบสั่งซื้อ
                                            </option>
                                            <option class="" value="RI" ng-class="{'text-black' : ChecklistDocument('RI') == 0 , 'text-disabled-select' : ChecklistDocument('RI') == 1}" ng-disabled="ChecklistDocument('RI')">
                                                ใบรับสินค้า
                                            </option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                            <div class=" row-modal text-left my-2">
                                <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">หมายเหตุ: </label>
                                <div class="col-sm-8 pl-0">
                                    <textarea rows="6" class="form-control form-textarea-1" id="exampleInputEmail2" ng-model="BusinessDocumentRemarkAdd.DocumentText" placeholder=""></textarea>
                                </div>
                            </div>
                            <hr class="hr-subtitle" />
                            <div class=" row-modal text-left">
                                <button type="button" class="btn btn-inverse-light btn-fw ml-auto mr-3 aksorn f-1-0" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                                <button type="button" class="btn btn-primary btn-fw aksorn f-1-0" ng-click="OnClickSave()">บันทึกหมายเหตุ</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Remark Ends -->
    <div class="modal fade" id="modaldocu-del" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-del modal-del" role="document">
            <div class="modal-content modal-content-del">
                <div class="modal-header-del">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-6 aksorn">ยืนยันการลบหมายเหตุเอกสารนี้</h5>
                    <button type="button" class="close-del" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body-del">
                    <div>
                        <p class="f-1-0 aksorn">คุณกำลังลบหมายเหตุเอกสาร, ต้องการดำเนินการต่อหรือไม่?</p>
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm close-btn mr-3 aksorn" data-dismiss="modal" aria-label="Close">ปิด</button>
                    <button type="button" class="flowbtnsm dialog-red-btn aksorn " ng-click="OnClickConfirmDelete()">ลบข้อมูล</button>
                </div>
            </div>
        </div>
    </div>
</div>