﻿

@using System.Web.Optimization;
@{
    Random d = new Random();
    string random = d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString();
}

@section RenderScriptWithPage
    {
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.th.min.js"></script>
    <script src="~/js/controller/documentsellcontroller/billingcontroller.js?nocache= + @random"></script>

    <script>
        $(document).ready(function () {
            $('.dropdown-menu select.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });

        (function ($) {
            if ($("#datepicker-popup").length) {
                $('#datepicker-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    language: 'th-th',
                    format: "dd-mm-yyyy"
                });
            }
            if ($("#datepicker-popup-1").length) {
                $('#datepicker-popup-1').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    language: 'th-th',
                    format: "dd-mm-yyyy"
                });
            }
        })(jQuery);

        var $table = $('table.scroll'),
            $bodyCells = $table.find('tbody tr:first').children(),
            colWidth;

        // Adjust the width of thead cells when window resizes
        $(window).resize(function () {
            // Get the tbody columns width array
            colWidth = $bodyCells.map(function () {
                return $(this).width();
            }).get();

            // Set the width of thead columns
            $table.find('thead tr').children().each(function (i, v) {
                $(v).width(colWidth[i]);
            });
        }).resize(); // Trigger resize handler
    </script>

}

<link href="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<title>ใบวางบิล | BeefAccount</title>
<form autocomplete="off" ng-controller="billingcontroller" data-ng-init="init()">
    <div class="row">
        <div class="col-md-12 ">
            <div class="d-flex">
                <h5 class="title-page-1">
                    ใบวางบิล
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb pl-0">
                            <li class="breadcrumb-item" aria-current="page">ใบวางบิล</li>
                            <li class="breadcrumb-item active">แสดงทั้งหมด</li>
                        </ol>
                    </nav>
                </h5>
                <div class="h-25 ml-auto">

                    <div class="btn-group">
                        <button type="button" class="btn btn-success  aksorn f-1-2" ng-click="OnClickAdd()">สร้างใหม่</button>
                        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuSplitButton3">
                            <a class="dropdown-item  aksorn f-1-0" ng-click="OnClickCumulativeAdd()">สร้างใบวางบิลรวม</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <nav>
                <ul class="pagination rounded aksorn f-1-0 ">
                    <li class="page-item border-paiging  text-center" ng-click="OnClickSelectType('ALL')"><a class="page-link paging-active-subtitle" ng-class="{ 'paging-active-subtitle' : Search.BillingType == 'ALL'}">แสดงทั้งหมด</a></li>
                    <li class="page-item border-paiging  text-center" ng-click="OnClickSelectType('BL')"><a class="page-link" ng-class="{ 'paging-active-subtitle' : Search.BillingType == 'BL'}"> <i class="fa fa-file-text-o f-0-8 mr-2 "></i>ใบวางบิล</a></li>
                    <li class="page-item border-paiging  text-center" ng-click="OnClickSelectType('CBL')"><a class="page-link" ng-class="{ 'paging-active-subtitle' : Search.BillingType == 'CBL'}"> <i class="fa fa-files-o f-0-8 mr-2 "></i>    ใบวางบิลรวม</a></li>
                    <li class="page-item mega-dropdown border-paiging text-center">
                        <a class="page-link paging-non-active-subtitle" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ค้นหา <i class="ml-3 f-0-6  icon-arrow-down"></i></a>
                        <div class="dropdown-menu dropdown-menu-search  border-fix" aria-labelledby="dropdownMenuButton1">
                            <h6 class="dropdown-header aksorn f-1-0">ค้นหา : </h6>
                            <div class="form-group px-4  pb-0 mb-0 pt-1">
                                <input type="text" class="form-control" id="exampleInputtext1" placeholder="" ng-model="Search.InputFilter">
                            </div>
                            <h6 class="dropdown-header text-muted aksorn f-0-8">ค้นหาจากชื่อผู้ติดต่อ , เลขที่เอกสาร , ชื่อโปรเจ็ค</h6>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header aksorn f-1-0">สถานะเอกสาร : </h6>
                            <div class="form-group px-4  pb-1 mb-0 pt-1">
                                <select class="test form-control form-control-sm" id="exampleFormControlSelect3" ng-model="Search.SelectStatus">
                                    <option value="0">สถานะทั้งหมด</option>
                                    <option value="1">รอวางบิล</option>
                                    <option value="2">วางบิลแล้ว</option>
                                    <option value="99">เปิดบิลแล้ว</option>
                                    <option value="3">ยกเลิก</option>
                                    <option value="98">เปิดใบเสร็จแล้ว</option>
                                </select>
                            </div>
                            <div class="dropdown-divider"></div>
                            <h6 class="dropdown-header aksorn f-1-0">ช่วงวันที่เริ่มต้น : </h6>
                            <div class="form-group px-4  pb-1 mb-0 pt-1">
                                <div id="datepicker-popup" class="input-group date datepicker">
                                    <input type="text" class="form-control" ng-model="Search.InputFromDate">
                                    <span class="input-group-addon input-group-append border-left">
                                        <span class="mdi mdi-calendar input-group-text"></span>
                                    </span>
                                </div>
                            </div>
                            <h6 class="dropdown-header aksorn f-1-0">ช่วงวันที่สิ้นสุด : </h6>
                            <div class="form-group px-4  pb-1 mb-0 pt-1">
                                <div id="datepicker-popup-1" class="input-group date datepicker">
                                    <input type="text" class="form-control" ng-model="Search.InputToDate">
                                    <span class="input-group-addon input-group-append border-left">
                                        <span class="mdi mdi-calendar input-group-text"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="form-group px-4  pb-0 mb-0 pt-1 ">
                                <button type="button" class="btn btn-inverse-light btn-fw aksorn f-1-0 p-1" ng-click="OnClickClear()">คืนค่า</button>
                                <button type="button" class="btn btn-primary btn-fw aksorn f-1-0 p-1" ng-click="OnClickSearch()">ค้นหา</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card card-weaccount border-fix-table">
                <div class="card-table search-table-outter table-responsive c-fixheight">
                    <div id="loader" class="loader-scroll" ng-show="table.binding == 1">
                        <div id="loaderInner">
                            <div class="circle-loader"></div>
                        </div>
                    </div>
                    <table class="table table-hover  aksorn  s-table" ng-show="table.binding == 0">
                        <thead class="table-softblue">
                            <tr>
                                <th width="17%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer" ng-class="{ 'text-underline': orderByField == 'BillingDate' , 'a-hover-orderby' : orderByField == 'BillingDate' }" ng-click="orderByField='BillingDate'; reverseSort = !reverseSort">
                                        วันที่
                                        <span class="ml-2" ng-show="orderByField == 'BillingDate'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="20%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer" ng-class="{ 'text-underline': orderByField == 'BillingNo' , 'a-hover-orderby' : orderByField == 'BillingNo' }" ng-click="orderByField='BillingNo'; reverseSort = !reverseSort">
                                        เลขที่เอกสาร
                                        <span class="ml-2" ng-show="orderByField == 'BillingNo'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="18%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer" ng-class="{ 'text-underline': orderByField == 'CustomerName' , 'a-hover-orderby' : orderByField == 'CustomerName' }" ng-click="orderByField='CustomerName'; reverseSort = !reverseSort">
                                        ชื่อลูกค้า/ชื่อโปรเจ็ค
                                        <span class="ml-2" ng-show="orderByField == 'CustomerName'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="17%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer" ng-class="{ 'text-underline': orderByField == 'DueDate' , 'a-hover-orderby' : orderByField == 'DueDate' }" ng-click="orderByField='DueDate'; reverseSort = !reverseSort">
                                        วันครบกำหนด
                                        <span class="ml-2" ng-show="orderByField == 'DueDate'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="12%" class="aksorn f-1-0 text-right">
                                    <a class="text-black cursor-pointer" ng-class="{ 'text-underline': orderByField == 'GrandAmount' , 'a-hover-orderby' : orderByField == 'GrandAmount' }" ng-click="orderByField='GrandAmount'; reverseSort = !reverseSort">
                                        ยอดรวมสุทธิ
                                        <span class="ml-2" ng-show="orderByField == 'GrandAmount'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="15%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer" ng-class="{ 'text-underline': orderByField == 'BillingStatus' , 'a-hover-orderby' : orderByField == 'BillingStatus' }" ng-click="orderByField='BillingStatus'; reverseSort = !reverseSort">
                                        สถานะ
                                        <span class="ml-2" ng-show="orderByField == 'BillingStatus'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="3%" class="aksorn f-1-0"></th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr class="cursor-pointer" ng-repeat="values in BusinessBilling | offset: currentPage*itemsPerPage | limitTo: itemsPerPage  | orderBy:orderByField:reverseSort track by $index">
                                <td width="17%" ng-click="OnClickUpdate(values.BillingKey,values.BillingType)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0">{{values.BillingDate}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="20%" ng-click="OnClickUpdate(values.BillingKey,values.BillingType)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0">
                                                <i class="fa fa-circle color-circle  mr-2" ng-class="{ 'color-status-lightgray' : values.BillingStatus == '1' ,
                                                'color-status-lightyellow' : values.BillingStatus == '2',
                                                'color-status-lightred' : values.BillingStatus == '3',
                                                'color-status-lightblue' : values.BillingStatus == '99' ||  values.BillingStatus == '98' }"></i>
                                                {{values.BillingNo}}
                                                <i class="fa  f-1-0 ml-2 text-primary" ng-class="{ 'fa fa-files-o' : values.BillingType == 'CBL' , 'fa-file-text-o' : values.BillingType == 'BL' }"
                                                   ng-show="values.DocumentRefNo != '' && values.DocumentRefNo != undefined" data-toggle="tooltip" data-html="true" data-placement="right"
                                                   title="<div class='title' >เอกสารที่เกี่ยวข้อง </div> <hr class='mb-2'> เอกสารอ้างอิง <br> {{values.DocumentRefNo}} </div>" onmouseenter="$(this).tooltip('show')"></i>
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td width="18%" ng-click="OnClickUpdate(values.BillingKey,values.BillingType)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0">{{values.CustomerName}}</p>
                                        </div>
                                        <div class="col-12">
                                            <p class="f-0-8 text-muted mb-0">{{values.ProjectName}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="17%" ng-click="OnClickUpdate(values.BillingKey,values.BillingType)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0" ng-show="values.CreditType == 'CD'">{{values.DueDate}}</p>
                                            <p class="f-1-0" ng-show="values.CreditType == 'CN'">ไม่แสดงวันที่</p>
                                            <p class="f-1-0" ng-show="values.CreditType == 'CA'">-</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="12%" ng-click="OnClickUpdate(values.BillingKey,values.BillingType)">
                                    <div class="row text-right">
                                        <div class="col-12">
                                            <p class="f-1-0">{{values.GrandAmountText}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="15%">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <div class="dropdown">
                                                <button class="btn btn-block f-1-0 pr-0 text-left mb-2 aksorn text-left"
                                                        ng-class="{ 'btn-gray' : values.BillingStatus == '1' ,
                                                    'btn-yellow' : values.BillingStatus == '2',
                                                    'btn-red' : values.BillingStatus == '3',
                                                    'btn-blue' : values.BillingStatus == '99' ||  values.BillingStatus == '98' }"
                                                        type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    {{values.BillingStatusName}}  <i class="mt-1 f-0-6 pull-right icon-arrow-down" ng-hide="values.BillingType == 'CBL' && values.BillingStatus == '98'"></i>
                                                </button>
                                                <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuButton2" ng-hide="values.BillingType == 'CBL' && values.BillingStatus == '98'">
                                                    <a class="dropdown-item py-2" ng-click="OnClickNextWorkflow(values.BillingKey,'2')" ng-show="values.BillingStatus == '1'">วางบิลแล้ว</a>
                                                    <a class="dropdown-item" ng-click="OnClickNextWorkflow(values.BillingKey,'99')" ng-show="(values.BillingStatus == '1' || values.BillingStatus == '2') ">เปิดบิลแล้ว</a>
                                                    <div class="dropdown-divider" ng-show="(values.BillingStatus == '1' || values.BillingStatus == '2') && values.BillingType == 'BL'"></div>
                                                    <a class="dropdown-item py-2" ng-show="(values.BillingStatus == '1' || values.BillingStatus == '2') && values.BillingType == 'BL'" ng-click="OnClickDocumentReference(values.BillingKey,'INV')">สร้างใบแจ้งหนี้</a>
                                                    <div class="dropdown-divider" ng-show="(values.BillingStatus == '1' || values.BillingStatus == '2') && values.BillingType == 'BL'"></div>
                                                    @*/* Cumulative */*@
                                                    <div class="dropdown-divider" ng-show="(values.BillingStatus == '1' || values.BillingStatus == '2') && values.BillingType == 'CBL'"></div>
                                                    <a class="dropdown-item py-2" ng-show="(values.BillingStatus == '1' || values.BillingStatus == '2') && values.BillingType == 'CBL'" ng-click="OnClickDocumentReference(values.BillingKey,'CRE')">สร้างใบเสร็จรับเงินรวม</a>
                                                    <div class="dropdown-divider" ng-show="(values.BillingStatus == '1' || values.BillingStatus == '2') && values.BillingType == 'CBL'"></div>

                                                    <a class="dropdown-item" ng-click="OnClickNextWorkflow(values.BillingKey,'3')" ng-show="values.BillingStatus != '3' && values.BillingType == 'BL'">ยกเลิก</a>
                                                    <a class="dropdown-item" ng-click="OnClickNextWorkflow(values.BillingKey,'3')" ng-show="(values.BillingStatus != '3' && values.BillingStatus != '98') && values.BillingType == 'CBL'">ยกเลิก</a>
                                                    <a class="dropdown-item" ng-click="OnClickNextWorkflow(values.BillingKey,'1')" ng-show="values.BillingStatus != '1' && values.BillingStatus != '98'">รีเซ็ต</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td width="3%">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-light mb-2 icon-btn dropdown-toggle-split p-2" id="dropdownMenuIconButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-options"></i>
                                                </button>
                                                <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuIconButton3">
                                                    <a class="dropdown-item py-2 pr-5" ng-click="OnClickUpdate(values.BillingKey,values.BillingType)"><i class="fa fa-edit mr-2 "></i>แก้ไขเอกสาร</a>
                                                    <a class="dropdown-item py-2" ng-click="OnClickReportContent(values.BillingKey,values.BillingNo,'Report')"><i class="fa fa-print mr-2 "></i>พิมพ์เอกสาร</a>
                                                    <a class="dropdown-item py-2" ng-click="OnClickReportContent(values.BillingKey,values.BillingNo,'Download')"><i class="fa fa-download mr-2 "></i>ดาวน์โหลด</a>
                                                    <a class="dropdown-item py-2" ng-click="OnClickSendMail(values.BillingKey,values.BillingNo)"><i class="fa fa-envelope mr-2 "></i>ส่งอีเมล</a>
                                                    <a class="dropdown-item py-2" ng-show="values.BillingType != 'CBL'" ng-click="OnClickDuplicate(values.BillingKey)"><i class="fa fa-files-o mr-2 "></i>สร้างซ้ำ</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item py-2" ng-click="OnclickDelete(values.BillingKey)"><i class="fa fa-trash-o mr-2 "></i>ลบเอกสาร</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row p-2">
                    <div class="col-lg-5   grid-margin stretch-card pb-0 ml-3  mb-0">
                        <nav>
                            <ul class="pagination" ng-show="itemsCount  > 0">
                                <li class="page-item" ng-class="prevPageDisabled()" ng-click="prevPage()"><a class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                <li class="page-item" ng-class="{active : n.code === currentPage}" ng-repeat="n in retpage" ng-if="n.show == 1" ng-click="setPage(n.code)"><a class="page-link">{{n.name}}</a></li>
                                <li class="page-item"><a class="page-link" ng-class="nextPageDisabled()" ng-click="nextPage()"><i class="mdi mdi-chevron-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-6 grid-margin stretch-card pb-0 ml-3 mt-3 mb-0 ">
                        <h5 class="card-title aksorn f-1-0 mb-0 ml-auto mr-5"> ยอดรวมทั้งหมด : <label class="text-primary">{{BillingSummary}}</label> </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalbilling-del" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-del modal-del" role="document">
            <div class="modal-content modal-content-del">
                <div class="modal-header-del">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-6 aksorn">ยืนยันการลบข้อมูล</h5>
                    <button type="button" class="close-del" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body-del">
                    <div>
                        <p class="f-1-0 aksorn">คุณกำลังลบข้อมูล, ต้องการดำเนินการต่อหรือไม่?</p>
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm close-btn mr-3 aksorn" data-dismiss="modal" aria-label="Close">ปิด</button>
                    <button type="button" class="flowbtnsm dialog-red-btn aksorn " ng-click="OnClickConfirmDelete()">ลบข้อมูล</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalbilling-alert" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-alert modal-del" role="document">
            <div class="modal-content modal-content-alert">
                <div class="modal-header-del">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-6 aksorn flowlabel-blue ">ไม่สามารถลบเอกสารได้</h5>
                    <button type="button" class="close-del" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body-del">
                    <div>
                        <p class="f-1-0 aksorn">เนื่องจากจะทำให้เลขที่เอกสารไม่ต่อเนื่อง หรือเอกสารมีการเปลี่ยนแปลงสถานะแล้ว</p>
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm dialog-blue-btn aksorn " data-dismiss="modal" aria-label="Close">ตกลง</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="modal-content-report" style="padding-right: 17px; ">
        <div class="modal-dialog modal-del">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-4 aksorn flowlabel-blue ">{{document.typedesc}}เอกสาร {{document.DocNo}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body-del pl-3">
                    <div class="row">
                        <div class="col-md-2 text-left">
                            <div class="form-check aksorn text-primary f-1-2 ">
                                <label class="form-check-label f-1-0">
                                    <input type="checkbox" class="form-check-input" checked ng-model="document.original" ng-change="OnClickContentOriginalChange()">
                                    ต้นฉบับ
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 text-left">
                            <div class="form-check aksorn text-primary f-1-2  ">
                                <label class="form-check-label f-1-0">
                                    <input type="checkbox" class="form-check-input" checked ng-model="document.copy">
                                    สำเนา
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm dialog-lightgray-btn aksorn ml-auto" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                    <button type="button" class="flowbtnsm dialog-blue-btn aksorn ml-2" ng-disabled="!document.original && !document.copy" ng-click="OnClickReportType()">{{document.typedesc}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade in" id="modal-report" style="padding-right: 17px; ">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="height:850px;">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-4 aksorn flowlabel-blue ">พิมพ์เอกสาร {{document.DocNo}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body-del pl-3">
                    <div id="loader" class="loader-scroll-report mt-5" style="height:800px" ng-show="document.bindding == 1">
                        <div id="loaderInner">
                            <div class="circle-loader"></div>
                        </div>
                    </div>
                    <div class="form-horizontal" ng-show="document.bindding == 0">
                        <div class="box-body">
                            <div id="example1" style="height:700px;"></div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm dialog-lightgray-btn aksorn ml-auto" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalemail-send" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-text-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-primary f-1-6 aksorn">
                        ส่งอีเมล  {{EmailAdd.DocNo}}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row-modal pl-2 mb-2">

                        <div class="col-lg-12 pl-0">
                            <div class="row-modal text-left ">
                                <label class="col-sm-3 pl-0 col-form-label aksorn f-1-0">จาก:</label>
                                <div class="col-sm-8 pl-0 mt-2">
                                    <input type="text" class="form-control" id="exampleInputtext2" ng-model="EmailAdd.MailFrom" placeholder="from@email.com">
                                </div>
                                <label class="col-sm-3 pl-0 col-form-label aksorn f-1-0">ถึง:</label>
                                <div class="col-sm-8 pl-0 mt-2">
                                    <input type="text" class="form-control" id="exampleInputtext2" ng-model="EmailAdd.MailTo" placeholder="to@email.com">
                                </div>
                                <div class="col-sm-3 pl-0 mt-2">
                                </div>
                                <div class="col-sm-8 pl-0 mt-2">
                                    <div class="form-check aksorn text-primary f-1-2">
                                        <label class="form-check-label f-1-0">
                                            <input type="checkbox" class="form-check-input" ng-model="EmailAdd.MailToMe">
                                            ส่งสำเนาหาตนเอง
                                        </label>
                                    </div>
                                </div>
                                <label class="col-sm-3 pl-0 col-form-label aksorn f-1-0">สำเนา(CC):</label>
                                <div class="col-sm-8 pl-0 mt-2">
                                    <input type="text" class="form-control" id="exampleInputtext2" ng-model="EmailAdd.MailCC" placeholder="cc@email.com">
                                </div>
                                <label class="col-sm-3 pl-0 col-form-label aksorn f-1-0">หัวข้อ:</label>
                                <div class="col-sm-8 pl-0 mt-2">
                                    <input type="text" class="form-control" id="exampleInputtext2" ng-model="EmailAdd.Subject">
                                </div>
                                <label class="col-sm-3 pl-0 col-form-label aksorn f-1-0">ข้อความ:</label>
                                <div class="col-sm-8 pl-0 mt-2">
                                    <textarea rows="4" class="form-control mb-1" style="height:300px;" id="exampleInputtext1" ng-model="EmailAdd.Message" placeholder="" maxlength="500"></textarea>
                                </div>
                                    <label class="col-sm-3 pl-0 col-form-label aksorn f-1-0 mt-3">ใบวางบิล</label>
                                <div class="col-sm-3 pl-0 mt-2">
                                    <div class="form-check aksorn text-primary f-1-2">
                                        <label class="form-check-label f-1-0">
                                            <input type="checkbox" class="form-check-input" ng-model="EmailAdd.Content1">
                                            ต้นฉบับ
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3 pl-0 mt-2">
                                    <div class="form-check aksorn text-primary f-1-2">
                                        <label class="form-check-label f-1-0">
                                            <input type="checkbox" class="form-check-input" ng-model="EmailAdd.Content2">
                                            สำเนา
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer mt-1">
                    <button type="button" class="flowbtnsm dialog-lightgray-btn aksorn ml-auto" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                    <button type="button" class="flowbtnsm dialog-blue-btn aksorn  " ng-click="OnClickConfirmEmail()">ส่งอีเมล</button>
                </div>
            </div>
        </div>
    </div>
</form>