﻿

@using System.Web.Optimization;
@{
    Random d = new Random();
    string random = d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString();
}
@section RenderScriptWithPage
    {
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.th.min.js"></script>
    <script src="~/lib/dropify/dropify.min.js"></script>
    <script src="~/js/controller/documentsellcontroller/billingcumulativeaddcontroller.js?nocache= + @random"></script>
    <script src="~/js/controller/documentsellcontroller/ParamServiceControl.js?nocache= + @random"></script>
    <script>
        $(document).ready(function () {
            $("body").addClass("noscroll");

            $('.dropdown-menu select.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });

        $(".settings-close").click(function () {
            $("#theme-settings").removeClass("open");
        });

        $("#setting-table").on("click", function () {
            $("#theme-settings").toggleClass("open");
        });

        (function ($) {
            'use strict';
            $('.dropify').dropify();
        })(jQuery);

        (function ($) {
            if ($("#inputdatedue-popup").length) {
                $('#inputdatedue-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    language: 'th-th',
                    container: '#modalbilling-add',
                    format: "dd-mm-yyyy"
                });
            }

            if ($("#inputquotationdate-popup").length) {
                $('#inputquotationdate-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    language: 'th-th',
                    container: '#modalbilling-add',
                    format: "dd-mm-yyyy"
                });
            }
        })(jQuery);

        var $table = $('table.scroll'),
            $bodyCells = $table.find('tbody tr:first').children(),
            colWidth;

        // Adjust the width of thead cells when window resizes
        $(window).resize(function () {
            // Get the tbody columns width array
            colWidth = $bodyCells.map(function () {
                return $(this).width();
            }).get();

            // Set the width of thead columns
            $table.find('thead tr').children().each(function (i, v) {
                $(v).width(colWidth[i]);
            });
        }).resize(); // Trigger resize handler

        $('#modalbilling-add').modal('show');


    </script>

}


<link href="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<title>ใบวางบิลรวม | BeefAccount</title>
<form autocomplete="off" ng-controller="billingcumulativeaddcontroller" data-ng-init="init()">
    <!-- Dummy Modal Ends -->
    <div class="theme-setting-wrapper">

        <div id="theme-settings" class="settings-panel border-fix-table" style="top:0px !important;">
            <i class="settings-close mdi mdi-close"></i>
            <p class="settings-heading aksorn f-1-2">ตั้งค่าเอกสาร</p>
            <div class="row ml-4">
                <div class="col-sm-12 pt-2">
                    <label for="exampleInputtext1" class="aksorn f-1-0 text-muted">สำหรับเอกสาร {{BillingAdd.BillingNo}}</label>
                </div>
                <div class="col-sm-12 ">
                    <label for="exampleInputtext1" class="aksorn f-1-0"> <i class="fa fa-file-text-o f-1-0 ml-2 text-primary"></i>   ฟังชั่นเอกสาร</label>
                </div>

                <div class="col-sm-12  ml-2">
                    <div class="form-check aksorn text-primary f-1-2">
                        <label class="form-check-label f-1-0">
                            <input type="checkbox" class="form-check-input" ng-model="BillingAdd.IsTaxHeader" ng-change="OnChangeIsTaxHeader()" disabled>
                            ภาษีมูลค่าเพิ่มแยกรายการ
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 ml-2">
                    <div class="form-check aksorn text-primary f-1-2">
                        <label class="form-check-label f-1-0">
                            <input type="checkbox" class="form-check-input" ng-model="BillingAdd.IsDiscountHeader" ng-change="OnChangeIsDiscountHeader()" disabled>
                            ส่วนลดแยกรายการ
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Modal starts -->
    <div class="modal fade pr-0 modal-noscroll" id="modalbilling-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog-full modal-full" role="document">
            <div class="modal-content-full">
                <div class="modal-header-full d-flex">
                    <div class="modal-header-title">
                        <h5 class="modal-title-full"><i class="fa fa-file-text-o f-1-0 mr-2 text-primary"></i>สร้างใบวางบิล</h5>
                        <h5 class="modal-subtitle-full text-primary f-1-6 aksorn">{{BillingAdd.BillingNo}}</h5>
                        <button type="button" class="btn  btn-fw aksorn f-1-0 px-3" style="cursor:default"
                                ng-class="{ 'btn-gray' : BillingAdd.BillingStatus == '1' ,
                                'btn-yellow' : BillingAdd.BillingStatus == '2',
                                'btn-red' : BillingAdd.BillingStatus == '3',
                                'btn-blue' : BillingAdd.BillingStatus == '99' ||  BillingAdd.BillingStatus == '98' }" ng-show="BillingAdd.BillingStatus != undefined">
                            {{BillingAdd.BillingStatusName}}
                        </button>
                    </div>
                    <div class="modal-header-button">
                        <button type="button" ng-click="OnClickCancel()" class="btn btn-inverse-light btn-fw aksorn f-1-2">ปิดหน้าต่าง</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success  aksorn f-1-2" ng-click="OnClickSave()">บันทึกเอกสาร</button>
                            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuSplitButton3">
                                <a class="dropdown-item  aksorn f-1-0" ng-click="OnClickSave(1)">บันทึกแล้วปิด</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body-full">
                    <div class="row ">
                        <div class="col-lg-12  grid-margin stretch-card ">
                            <div class="card card-weaccount border-fix-table scroll-modal  ">
                                <div id="loader" ng-show="table.binding == 1">
                                    <div id="loaderInner">
                                        <div class="circle-loader"></div>
                                    </div>
                                </div>
                                <div class="card-table search-table-outter p-4 pb-5" ng-show="table.binding == 0">

                                    <!-- Hedear Start-->
                                    <div class="row-modal">
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label for="exampleInputtext1" class="aksorn-Bold f-1-0">ชื่อลูกค้า</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control aksorn f-1-0" placeholder="เลือกรายชื่อลูกค้า" aria-label="Username" disabled ng-model="BillingAdd.CustomerName" maxlength="200">
                                                    <div class="dropdown ">
                                                        <div class="input-group-append bg-primary cursor-pointer " id="dropdownMenuIconButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="input-group-text bg-transparent px-2" ng-hide=" OnDisabled()" ng-show="BillingAdd.CustomerKey == undefined"><i class="  icon-user-follow text-white"></i></span>
                                                            <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuIconButton6">
                                                                <a class="dropdown-item aksorn f-1-0 text-primary" ng-click="OnClickContactPopup()"><i class="icon-magnifier mr-2 "></i>ค้นหาจากสมุดรายชื่อ</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputtext1" class="aksorn-Bold f-1-0">รายละเอียด</label>
                                                <textarea rows="4" class="form-control h-25 mb-1" id="exampleInputtext1" ng-model="BillingAdd.CustomerAddress " placeholder="รายละเอียดที่อยู่" maxlength="500"></textarea>
                                                <input type="text" class="form-control mb-1" id="exampleInputtext1" ng-model="BillingAdd.CustomerTaxID " placeholder="เลขที่ประจำตัวผู้เสียภาษี" maxlength="20" disabled>
                                                <input type="text" class="form-control" id="exampleInputtext1" ng-model="BillingAdd.CustomerBranch " placeholder="สำนักงาน/สาขาเลขที่" maxlength="100">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label for="exampleInputtext1" class="aksorn f-1-0 col-12"></label>
                                                <label for="exampleInputtext1" class="aksorn f-1-0 col-12"></label>
                                                <label for="exampleInputtext1" class="aksorn f-1-0 col-12"></label>
                                            </div>
                                            <div class="row-modal mt-5" ng-show="BillingAdd.CustomerContactName != undefined && BillingAdd.CustomerContactName != ''">
                                                <label for="exampleInputtext1" class="aksorn-Bold f-1-0 pr-0 col-sm-3">ผู้ติดต่อ:</label>
                                                <label for="exampleInputtext1" class="aksorn f-1-0 pl-0 col-sm-9">{{BillingAdd.CustomerContactName}}</label>
                                                <label for="exampleInputtext1" class="aksorn-Bold f-1-0  pr-0 col-sm-3">โทร:</label>
                                                <label for="exampleInputtext1" class="aksorn f-1-0 pl-0 col-sm-9">{{BillingAdd.CustomerContactPhone}}</label>
                                                <label for="exampleInputtext1" class="aksorn-Bold f-1-0  pr-0 col-sm-3">อีเมล:</label>
                                                <label for="exampleInputtext1" class="aksorn f-1-0 pl-0 col-sm-9">{{BillingAdd.CustomerContactEmail}}</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4  col-md-6 col-sm-12 col-12 ml-auto text-right">
                                            <button class="modal-option-item  cursor-pointer" ng-click="OnClickReportContent('Report')">
                                                <a class="modal-option-link ">
                                                    <i aria-hidden="true" class="fa fa-print"></i>
                                                    <span class="aksorn f-0-8">พิมพ์เอกสาร</span>
                                                </a>
                                            </button>
                                            <button class="modal-option-item  cursor-pointer" ng-click="OnClickReportContent('Download')">
                                                <a class="modal-option-link ">
                                                    <i aria-hidden="true" class="fa fa-download"></i>
                                                    <span class="aksorn f-0-8">ดาวน์โหลด</span>
                                                </a>
                                            </button>
                                            <button class="modal-option-item  cursor-pointer" id="setting-table">
                                                <a class="modal-option-link ">
                                                    <i aria-hidden="true" class="fa fa-ellipsis-h"></i>
                                                    <span class="aksorn f-0-8">เพิ่มเติม</span>
                                                </a>
                                            </button>

                                            <div class="form-group text-left">
                                                <div class="  row ">
                                                    <label for="exampleInputtext1" class="aksorn f-1-0">จำนวนเงินรวมทั้งสิ้น</label>
                                                </div>
                                                <div class=" row ">
                                                    <h5 class="modal-subtitle-full text-primary f-2-0 aksorn">{{BillingAdd.GrandAmount}}</h5>
                                                </div>
                                                <div class="form-group row ">
                                                    <label class="col-sm-4 col-form-label aksorn-Bold pl-0 f-1-0">วันที่ : </label>
                                                    <div class="col-sm-8">
                                                        <div id="inputquotationdate-popup" class="input-group date datepicker no-border">
                                                            <input type="text" class="form-control input-group-addon" onkeydown="return false" ng-model="BillingAdd.BillingDate" ng-change="OnChangeBillingDate()" ng-disabled=" OnDisabled()">
                                                        </div>
                                                    </div>
                                                    <label class="col-sm-4 col-form-label aksorn-Bold pl-0 f-1-0">เครดิต : </label>
                                                    <div class="col-sm-8 ">
                                                        <select class="form-control" id="exampleFormControlSelect2" ng-model="BillingAdd.CreditType" ng-change="OnChangeCreditType()" ng-disabled=" OnDisabled()">
                                                            <option value="CD">เครดิต (วัน)</option>
                                                            <option value="CA">เงินสด</option>
                                                            <option value="CN">เครดิต (ไม่แสดงวันที่)</option>
                                                        </select>
                                                    </div>
                                                    <label class="col-sm-4 col-form-label aksorn-Bold pl-0 f-1-0">เครดิต (วัน) : </label>
                                                    <div class="col-sm-8 ">
                                                        <input type="text" class="form-control" id="exampleInputtext2" ng-model="BillingAdd.CreditDay" number-only ng-blur="OnChangeCredit()" maxlength="4" ng-disabled="BillingAdd.CreditType == 'CA' || OnDisabled()">
                                                    </div>
                                                    <label class="col-sm-4 col-form-label aksorn-Bold pl-0 f-1-0" ng-show="BillingAdd.CreditType == 'CD'">ครบกำหนด : </label>
                                                    <div class="col-sm-8" ng-show="BillingAdd.CreditType == 'CD'">
                                                        <div id="inputdatedue-popup" class="input-group date datepicker no-border">
                                                            <input type="text" class="form-control input-group-addon" onkeydown="return false" ng-model="BillingAdd.DueDate" ng-change="OnChangeDateDue()" ng-disabled=" OnDisabled()">
                                                        </div>
                                                    </div>
                                                    <label class="col-sm-4 col-form-label aksorn-Bold pl-0 f-1-0">พนักงานขาย : </label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" id="exampleFormControlSelect2" ng-model="BillingAdd.SelectSale" ng-options="item as item.EmployeeName for item in Parameter.Param_Employee" ng-disabled=" OnDisabled() || UserProfile.Position == '004'">
                                                            <option value="" class="text-muted" selected style="display:none">--กรุณาเลือกพนักงานขาย--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Hedear End-->
                                    <hr>
                                    <!-- Detail Start-->
                                    <div class="row-modal">
                                        <div class="col-lg-8">
                                            <div class="form-group row ">
                                                <label class="col-sm-3 col-form-label aksorn-Bold f-1-0 px-1">ชื่อโปรเจค : </label>
                                                <div class="col-sm-9 px-1">
                                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" maxlength="100" ng-model="BillingAdd.ProjectName">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group row ">
                                                <label class="col-sm-4 col-form-label aksorn-Bold f-1-0 px-1">เลขที่อ้างอิง : </label>
                                                <div class="col-sm-8 px-1">
                                                    <input type="text" class="form-control" id="exampleInputtext2" maxlength="50" placeholder="" ng-model="BillingAdd.ReferenceNo" ng-disabled=" OnDisabled()">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Table Start-->
                                    <div class="row-modal">
                                        <div class="card card-weaccount border-fix-table w-100 ">
                                            <div class="card-table search-table-outter table-responsive ">
                                                <table class="table aksorn s-table">
                                                    <thead class="badge-softblue">
                                                        <tr>
                                                            <th width="5%" class="aksorn f-1-0 text-center">ลำดับ</th>
                                                            <th width="15%" class="aksorn f-1-0">เลขที่เอกสาร</th>
                                                            <th width="15%" class="aksorn text-leftf-1-0">วันที่เอกสาร</th>
                                                            <th width="15%" class="aksorn text-left f-1-0">วันครบกำหนด</th>
                                                            <th width="10%" class="aksorn text-right f-1-0">ยอดรวมก่อนภาษี</th>
                                                            <th width="10%" class="aksorn text-right f-1-0">มูลค่าที่ต้องชำระ</th>
                                                            <th width="5%" class="aksorn f-1-0"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="values in BillingAdd.BillingCumulativeDetail">
                                                        <tr>
                                                            <td class="text-center">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <p class="f-1-0">{{values.Sequence}}</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-left">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <p class="f-1-0">{{values.DocumentNo}}</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-left">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <p class="f-1-0">{{values.DocumentDate}}</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-left">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <p class="f-1-0">{{values.DueDate}}</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-right">
                                                                <div class="row">
                                                                    <div class="col-12 ">
                                                                        <p class="f-1-0" ng-show="values.DocumentType != 'CN'">{{values.TotalAfterDiscountAmount}}</p>
                                                                        <p class="f-1-0" ng-show="values.DocumentType == 'CN'">({{values.TotalAfterDiscountAmount}})</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-right">
                                                                <div class="row">
                                                                    <div class="col-12 ">
                                                                        <p class="f-1-0" ng-show="values.DocumentType != 'CN'">{{values.GrandAmount}}</p>
                                                                        <p class="f-1-0" ng-show="values.DocumentType == 'CN'">({{values.GrandAmount}})</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="row">
                                                                    <div class="col-12 ">
                                                                        <div class="dropdown">
                                                                            <button type="button" class="btn btn-light mb-2 icon-btn dropdown-toggle-split p-2" id="dropdownMenuIconButton3" ng-click="OnClickDocumentDetailDelete(values.DocumentCategoryKey)" ng-hide=" OnDisabled()">
                                                                                <i class="fa fa-trash-o"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-12 pl-0 mt-3">
                                            <button type="button" ng-click="OnClickDocumentPopup()" ng-hide="OnDisabled()"
                                                    class="btn btn-outline-primary btn-radius-5 aksorn f-1-0">
                                                <i aria-hidden="true" class="fa fa-plus"></i>เพิ่มรายการเอกสาร
                                            </button>
                                        </div>
                                    </div>
                                    <!-- Table End-->
                                    <!-- Detail End-->
                                    <!-- Footer Start-->
                                    <div class="row-modal mt-5">
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                            <div class="form-group row ">
                                                <label for="" class="aksorn-Bold f-1-0">หมายเหตุ</label>
                                                <textarea rows="4" class="form-control h-25" id="exampleInputtext1" ng-model="BillingAdd.Remark" placeholder=""></textarea>
                                            </div>
                                            <div class="form-group row ">
                                                <label for="" class="aksorn-Bold f-1-0">โน้ตภายในบริษัท</label>
                                                <textarea rows="4" class="form-control h-25" id="exampleInputtext1" ng-model="BillingAdd.Noted" placeholder=""></textarea>
                                            </div>
                                            <div class="form-group row ">
                                                <label for="" class="aksorn-Bold f-1-0 col-sm-12"><i class="fa fa-paperclip"></i> แนบไฟล์</label>
                                                <div class="col-sm-6 col-6 col-lg-6 col-md-6 pl-0">
                                                    <input id="document_attach" class="dropify" type="file" ngf-select="OnUploadAttach($files)"
                                                           data-max-height="1400" data-max-widht="300" data-max-file-size="2M" data-allowed-file-extensions="jpg png jpeg pdf" />
                                                </div>
                                                <div class="col-sm-6 col-6 col-lg-6 col-md-6 pl-0">
                                                    <div class="form-group row px-2 mb-0 py-0" ng-repeat="attach in DocumentAttach">
                                                        <a class="col-sm-9 document-bottom" ng-click="OnClickShowAttach(attach.AttachKey)"><i class="" ng-class="{  'fa fa-file-pdf-o' : attach.AttachExtension == 'pdf' , 'fa fa-file-image-o' : attach.AttachExtension != 'pdf'  }"></i> {{attach.AttachName}}</a>
                                                        <a class="col-sm-3 document-delete" ng-click="OnClickDeleteAttach(attach.AttachKey)"><i class="fa fa-trash-o"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-check aksorn text-primary f-1-2">
                                                <label class="form-check-label f-1-0">
                                                    <input type="checkbox" class="form-check-input" ng-model="BillingAdd.Signature">
                                                    ลายเซ็นอิเล็กทรอนิกส์และตรายาง
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-6 col-sm-12 col-12 ml-auto">
                                            <div class="form-group row mb-0 ">
                                                <label for="" class="col-sm-6 col-form-label aksorn f-1-0 text-primary">รวมรายการ</label>
                                                <div class="col-sm-6 text-right">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{BillingAdd.TotalQTY}} รายการ</label>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-0 ">
                                                <label for="" class="col-sm-6 col-form-label aksorn f-1-0 text-primary">รวมเป็นเงิน</label>
                                                <div class="col-sm-6 text-right">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{BillingAdd.TotalAmount}}</label>
                                                </div>
                                            </div>
                                            <hr class=" hr-subtitle">
                                            <div class="form-group row mb-0">
                                                <label class="col-sm-6 col-form-label aksorn f-1-0  text-primary">มูลค่าที่ไม่มี/ยกเว้นภาษี</label>
                                                <div class="col-sm-6 text-right">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{BillingAdd.ExemptAmount}}</label>
                                                </div>
                                                <label class="col-sm-6 col-form-label aksorn f-1-0  text-primary">มูลค่าที่คำนวณภาษี</label>
                                                <div class="col-sm-6 text-right">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{BillingAdd.VatableAmount}}</label>
                                                </div>
                                                <label class="col-sm-6 col-form-label aksorn f-1-0  text-primary">ภาษีมูลค่าเพิ่ม</label>
                                                <div class="col-sm-6 text-right">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{BillingAdd.VAT}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-0">
                                                <label class="col-sm-6 col-form-label aksorn f-1-0  text-primary">จำนวนเงินรวมทั้งสิ้น</label>
                                                <div class="col-sm-6 text-right">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{BillingAdd.GrandAmount}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Footer End-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Modal Ends -->
    <!-- DebitNote Modal starts -->
    <div class="modal fade" id="modalinvoice-list" tabindex="-3" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-primary f-1-6 aksorn">เลือกเอกสารที่เกี่ยวข้อง</h5>
                    <button type="button" class="close" ng-click="OnClickCloseDocument()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row-modal mb-3">
                        <div class="col-lg-6 pl-0">
                            <div class="form-group row-modal text-left ">
                                <label for="exampleInputEmail2" class="col-sm-12 pl-0 col-form-label aksorn f-1-0">ค้นหาชื่อลูกค้า : </label>
                                <div class="col-sm-12 pl-0">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control aksorn f-1-0" placeholder="เลือกรายชื่อลูกค้า" aria-label="Username" disabled ng-model="document.ContactName" maxlength="200">
                                            <div class="dropdown ">
                                                <div class="input-group-append bg-primary cursor-pointer " id="dropdownMenuIconButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <span class="input-group-text bg-transparent px-2" ng-click="OnClickContactPopup()" ng-show="BillingAdd.CustomerKey == undefined"><i class="  icon-user-follow text-white"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 pl-0 ">
                        </div>
                        <div class="col-lg-2 pl-0 " style="border-right:1px solid #e6e9ee;">
                            <div class="form-group row-modal text-right ">
                                <label class="col-sm-12 pl-0 col-form-label aksorn-Bold f-1-2 ">รายการ</label>
                                <label class="col-sm-12 pl-0 text-primary col-form-label aksorn-Bold f-1-4 ">{{document.len}}</label>
                            </div>
                        </div>
                        <div class="col-lg-2 pl-4 ">
                            <div class="form-group row-modal text-right ">
                                <label class="col-sm-12 pl-0 col-form-label aksorn-Bold f-1-2 ">รวมทั้งสิ้น</label>
                                <label class="col-sm-12 pl-0 text-primary col-form-label aksorn-Bold f-1-4 ">{{document.total}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="row-modal ">
                        <div class="col-lg-12  grid-margin stretch-card pl-0 ">
                            <!-- Table Start-->
                            <div class="card card-weaccount border-fix-table w-100 ">
                                <div class="card-table search-table-outter table-responsive h-500px">
                                    <div id="loader" ng-show="document.binding == 1">
                                        <div id="loaderInner">
                                            <div class="circle-loader"></div>
                                        </div>
                                    </div>
                                    <table class="table aksorn  s-table" ng-show="document.binding == 0">
                                        <thead class="badge-softblue">
                                            <tr>
                                                <th width="5%" class="aksorn f-1-0">
                                                    <div class="form-check aksorn text-primary f-1-2 mt-0 mb-0">
                                                        <label class="form-check-label f-1-0">
                                                            <input type="checkbox" class="form-check-input" ng-model="CheckingAll" ng-click="OnClickcheckedAll()">
                                                        </label>
                                                    </div>
                                                </th>
                                                <th width="18%" class="aksorn f-1-0">เลขที่เอกสาร</th>
                                                <th width="35%" class="aksorn f-1-0">ชื่อลูกค้า/ชื่อโปรเจ็ค</th>
                                                <th width="15%" class="aksorn f-1-0">วันครบกำหนด</th>
                                                <th width="15%" class="aksorn text-right f-1-0">จำนวนเงิน</th>
                                            </tr>
                                        </thead>
                                        <tbody class="">
                                            <tr ng-repeat="values in Parameter.Param_Document  | offset: documentcurrentPage*documentitemsPerPage | limitTo: documentitemsPerPage ">
                                                <td>
                                                    <div class="form-check aksorn text-primary f-1-2 mt-0">
                                                        <label class="form-check-label f-1-0">
                                                            <input type="checkbox" class="form-check-input" ng-model="values.Mapping" ng-change="OnChangeMapping($index)">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td width="18%">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <p class="f-1-0">
                                                                <i class="fa fa-circle color-circle  mr-2" ng-class="{ 'color-status-lightgray' : values.InvoiceStatus == '1' ,
                                                'color-status-lightyellow' : values.InvoiceStatus == '2',
                                                'color-status-lightred' : values.InvoiceStatus == '3',
                                                'color-status-lightblue' : values.InvoiceStatus == '99' }"></i>
                                                                {{values.InvoiceNo}}
                                                                <i class="fa fa-file-text-o f-1-0 ml-2 text-primary" ng-show="values.DocumentRefNo != '' && values.DocumentRefNo != undefined" data-toggle="tooltip" data-html="true" data-placement="right" data-container="#modalinvoice-list"
                                                                   title="<div class='title' >เอกสารที่เกี่ยวข้อง </div> <hr class='mb-2'> เอกสารอ้างอิง <br> {{values.DocumentRefNo}} </div>" onmouseenter="$(this).tooltip('show')"></i>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td width="22%">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <p class="f-1-0">{{values.CustomerName}}</p>
                                                        </div>
                                                        <div class="col-12">
                                                            <p class="f-0-8 text-muted mb-0">{{values.ProjectName}}</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td width="15%">
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <p class="f-1-0" ng-show="values.CreditType == 'CD'">{{values.DueDate}}</p>
                                                            <p class="f-1-0" ng-show="values.CreditType == 'CN'">ไม่แสดงวันที่</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td width="15%">
                                                    <div class="row text-right">
                                                        <div class="col-12">
                                                            <p class="f-1-0">{{values.GrandAmountText}}</p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Table End-->
                        </div>
                        <div class="col-lg-6  grid-margin stretch-card pb-0 pl-0 mb-0">
                            <nav>
                                <ul class="pagination" ng-show="documentitemsCount  > 0">
                                    <li class="page-item" ng-class="documentpdocumentPageDisabled()" ng-click="documentpdocumentPage()"><a class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                    <li class="page-item" ng-class="{active : n.code === documentcurrentPage}" ng-repeat="n in documentretpage" ng-if="n.show == 1" ng-click="documentsetPage(n.code)"><a class="page-link">{{n.name}}</a></li>
                                    <li class="page-item"><a class="page-link" ng-class="documentnextPageDisabled()" ng-click="documentnextPage()"><i class="mdi mdi-chevron-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-lg-6 pb-0 pl-0 mb-0 text-right">
                            <button type="button" class="btn btn-gray btn-fw aksorn ml-auto f-1-0 mr-3" ng-click="OnClickCloseDocument()">ยกเลิก</button>
                            <button type="button" class="btn btn-primary btn-fw aksorn ml-auto f-1-0" ng-click="OnClickDocumentSelection()">เลือกเอกสาร</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- DebitNote Ends -->
    <!-- Customer Modal starts -->
    <div class="modal fade" id="modalcontact-list" tabindex="-2" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-primary f-1-6 aksorn">ค้นหาข้อมูลรายละเอียดจากสมุดรายชื่อ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row-modal mb-3">
                        <div class="col-lg-10 pl-0">
                            <div class="form-group row-modal text-left ">
                                <label class="col-sm-2 pl-0 col-form-label aksorn-Bold f-1-0">ค้นหา : </label>
                                <div class="col-sm-10 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" ng-model="SearchContact.InputFilter" placeholder="พิมพ์ชื่อธุรกิจ , เลขประจำตัวผู้เสียภาษี ตัวอย่างเช่น 'We Develop หรือ 00177422145'">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 pl-0">
                            <button type="button" class="btn btn-outline-primary aksorn f-1-0 btn-block" ng-click="OnClickContactSearch()"><i class="fa fa-search f-0-8"></i>ค้นหา</button>
                        </div>
                    </div>
                    <div class="row-modal ">
                        <div class="col-lg-12  grid-margin stretch-card pl-0 ">
                            <!-- Table Start-->
                            <div class="card card-weaccount border-fix-table w-100 ">
                                <div class="card-table search-table-outter table-responsive h-500px">
                                    <div id="loader" ng-show="contact.binding == 1">
                                        <div id="loaderInner">
                                            <div class="circle-loader"></div>
                                        </div>
                                    </div>
                                    <table class="table aksorn  s-table" ng-show="contact.binding == 0">
                                        <thead class="badge-softblue">
                                            <tr>
                                                <th width="15%" class="aksorn f-1-0">เลขที่ผู้เสียภาษี</th>
                                                <th width="10%" class="aksorn f-1-0">รหัสลูกค้า</th>
                                                <th width="20%" class="aksorn f-1-0">ชื่อลูกค้า</th>
                                                <th width="10%" class="aksorn f-1-0">สาขา</th>
                                                <th width="20%" class="aksorn f-1-0">ที่อยู่</th>
                                                <th width="15%" class="aksorn f-1-0"></th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="values in Parameter.Param_Contact | offset: contactcurrentPage*contactitemsPerPage | limitTo: contactitemsPerPage ">
                                            <tr>
                                                <td>
                                                    <p class="f-1-0">{{values.TaxID}}</p>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">{{values.ContactCode}}</p>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">{{values.BusinessName}}</p>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">{{values.BranchName}}</p>
                                                </td>
                                                <td>
                                                    <p class="f-1-0" style="line-height:25px; letter-spacing:0.5px;">{{values.Address}}</p>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-outline-primary aksorn f-1-0 btn-block" ng-click="OnClickContactSelection(values.ContactKey)">เลือก</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Table End-->

                        </div>
                        <div class="col-lg-12  grid-margin stretch-card pb-0 pl-0 mb-0">
                            <nav>
                                <ul class="pagination" ng-show="contactitemsCount  > 0">
                                    <li class="page-item" ng-class="contactpcontactPageDisabled()" ng-click="contactpcontactPage()"><a class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                    <li class="page-item" ng-class="{active : n.code === contactcurrentPage}" ng-repeat="n in contactretpage" ng-if="n.show == 1" ng-click="contactsetPage(n.code)"><a class="page-link">{{n.name}}</a></li>
                                    <li class="page-item"><a class="page-link" ng-class="contactnextPageDisabled()" ng-click="contactnextPage()"><i class="mdi mdi-chevron-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Customer Ends -->
    <div class="modal fade in" id="modal-content-report" style="padding-right: 17px; ">
        <div class="modal-dialog modal-del">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-4 aksorn flowlabel-blue ">{{document.typedesc}}เอกสาร {{document.DocNo}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body-del pl-3">
                    <div class="row">
                        <div class="col-md-2 text-left">
                            <div class="form-check aksorn text-primary f-1-2 ">
                                <label class="form-check-label f-1-0">
                                    <input type="checkbox" class="form-check-input" checked ng-model="document.original" ng-change="OnClickContentOriginalChange()">
                                    ต้นฉบับ
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 text-left">
                            <div class="form-check aksorn text-primary f-1-2  ">
                                <label class="form-check-label f-1-0">
                                    <input type="checkbox" class="form-check-input" checked ng-model="document.copy">
                                    สำเนา
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm dialog-lightgray-btn aksorn ml-auto" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                    <button type="button" class="flowbtnsm dialog-blue-btn aksorn ml-2" ng-disabled="!document.original && !document.copy" ng-click="OnClickReportType()">{{document.typedesc}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade in" id="modal-report" style="padding-right: 17px; ">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="height:850px;">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-4 aksorn flowlabel-blue ">พิมพ์เอกสาร {{document.DocNo}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body-del pl-3">
                    <div id="loader" class="loader-scroll-report mt-5" style="height:800px" ng-show="document.bindding == 1">
                        <div id="loaderInner">
                            <div class="circle-loader"></div>
                        </div>
                    </div>
                    <div class="form-horizontal" ng-show="document.bindding == 0">
                        <div class="box-body">
                            <div id="example1" style="height:700px;"></div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm dialog-lightgray-btn aksorn ml-auto" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade in" id="modal-attach" style="padding-right: 17px; ">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="min-height:{{DocumentAttachView.AttachHeight}}">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-4 aksorn flowlabel-blue ">ชื่อไฟล์แนบ {{DocumentAttachView.AttachName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body-del pl-3">
                    <div class="form-horizontal">
                        <div class="box-body">
                            <div id="exampleattach" style="height:700px;" ng-show="DocumentAttachView.AttachExtension == 'pdf'"></div>
                            <img class="modal-content-img" id="img01" ng-show="DocumentAttachView.AttachExtension != 'pdf'" src="{{DocumentAttachView.AttachShow}}">
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm dialog-lightgray-btn aksorn ml-auto" data-dismiss="modal" aria-label="Close">ปิดหน้าต่าง</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</form>