﻿
@using System.Web.Optimization;
@{
    Random d = new Random();
    string random = d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString();
}
@section RenderScriptWithPage
    {
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/bootstrap-datepicker.th.min.js"></script>
    <script src="~/lib/dropify/dropify.min.js"></script>
    <script src="~/js/controller/documentsellcontroller/receiptaddcontroller.js?nocache= + @random"></script>
    <script src="~/js/controller/documentsellcontroller/ParamServiceControl.js?nocache= + @random"></script>
    <script>
        $(document).ready(function () {
            $("body").addClass("noscroll");

            $('.dropdown-menu select.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });

        $(".settings-close").click(function () {
            $("#theme-settings").removeClass("open");
        });

        $("#setting-table").on("click", function () {
            $("#theme-settings").toggleClass("open");
        });

        (function ($) {
            'use strict';
            $('.dropify').dropify();
        })(jQuery);

        (function ($) {
            if ($("#inputreceiptdate-popup").length) {
                $('#inputreceiptdate-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    language: 'th-th',
                    container: '#modalreceipt-add',
                    format: "dd-mm-yyyy"
                });
            }

            if ($("#inputreceivedate-popup").length) {
                $('#inputreceivedate-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    language: 'th-th',
                    container: '#modalreceipt-receive',
                    format: "dd-mm-yyyy"
                });
            }

            if ($("#inputreceivechaque-popup").length) {
                $('#inputreceivechaque-popup').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                    autoclose: true,
                    language: 'th-th',
                    container: '#modalreceipt-receive',
                    format: "dd-mm-yyyy"
                });
            }
            
        })(jQuery);

        var $table = $('table.scroll'),
            $bodyCells = $table.find('tbody tr:first').children(),
            colWidth;

        // Adjust the width of thead cells when window resizes
        $(window).resize(function () {
            // Get the tbody columns width array
            colWidth = $bodyCells.map(function () {
                return $(this).width();
            }).get();

            // Set the width of thead columns
            $table.find('thead tr').children().each(function (i, v) {
                $(v).width(colWidth[i]);
            });
        }).resize(); // Trigger resize handler

        $('#modalreceipt-add').modal('show');

        
    </script>

}


<link href="~/lib/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
<title>ใบเสร็จรับเงิน | BeefAccount</title>
<form autocomplete="off" ng-controller="receiptaddcontroller" data-ng-init="init()">
    <!-- Dummy Modal Ends -->
    <div class="theme-setting-wrapper">

        <div id="theme-settings" class="settings-panel border-fix-table" style="top:0px !important;">
            <i class="settings-close mdi mdi-close"></i>
            <p class="settings-heading aksorn f-1-2">ตั้งค่าเอกสาร</p>
            <div class="row ml-4">
                <div class="col-sm-12 pt-2">
                    <label for="exampleInputtext1" class="aksorn f-1-0 text-muted">สำหรับเอกสาร {{ReceiptAdd.ReceiptNo}}</label>
                </div>
                <div class="col-sm-12 ">
                    <label for="exampleInputtext1" class="aksorn f-1-0"> <i class="fa fa-file-text-o f-1-0 ml-2 text-primary"></i>   ฟังชั่นเอกสาร</label>
                </div>

                <div class="col-sm-12  ml-2">
                    <div class="form-check aksorn text-primary f-1-2">
                        <label class="form-check-label f-1-0">
                            <input type="checkbox" class="form-check-input" ng-model="ReceiptAdd.IsTaxHeader" ng-change="OnChangeIsTaxHeader()" disabled>
                            ภาษีมูลค่าเพิ่มแยกรายการ
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 ml-2">
                    <div class="form-check aksorn text-primary f-1-2">
                        <label class="form-check-label f-1-0">
                            <input type="checkbox" class="form-check-input" ng-model="ReceiptAdd.IsDiscountHeader" ng-change="OnChangeIsDiscountHeader()" disabled>
                            ส่วนลดแยกรายการ
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Modal starts -->
    <div class="modal fade pr-0 modal-noscroll" id="modalreceipt-add" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog-full modal-full" role="document">
            <div class="modal-content-full">
                <div class="modal-header-full d-flex">
                    <div class="modal-header-title">
                        <h5 class="modal-title-full"><i class="fa fa-file-text-o f-1-0 mr-2 text-primary"></i>สร้างใบเสร็จรับเงิน</h5>
                        <h5 class="modal-subtitle-full text-primary f-1-6 aksorn">{{ReceiptAdd.ReceiptNo}}</h5>
                        <button type="button" class="btn  btn-fw aksorn f-1-0 px-3" style="cursor:default"
                                ng-class="{ 'btn-gray' : ReceiptAdd.ReceiptStatus == '1' ,
                                'btn-red' : ReceiptAdd.ReceiptStatus == '3',
                                'btn-green' : ReceiptAdd.ReceiptStatus == '99' }" ng-show="ReceiptAdd.ReceiptStatus != undefined">
                            {{ReceiptAdd.ReceiptStatusName}}
                        </button>
                    </div>
                    <div class="modal-header-button">
                        <button type="button" ng-click="OnClickCancel()" class="btn btn-inverse-light btn-fw aksorn f-1-2">ปิดหน้าต่าง</button>
                        <div class="btn-group">
                            <button type="button" class="btn btn-success  aksorn f-1-2" ng-click="OnClickSave()">บันทึกเอกสาร</button>
                            <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuSplitButton3">
                                <a class="dropdown-item  aksorn f-1-0" ng-click="OnClickSave(1)">บันทึกแล้วปิด</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body-full">
                    <div class="row ">
                        <div class="col-lg-12  grid-margin stretch-card ">
                            <div class="card card-weaccount border-fix-table scroll-modal  ">
                                <div id="loader" ng-show="table.binding == 1">
                                    <div id="loaderInner">
                                        <div class="circle-loader"></div>
                                    </div>
                                </div>
                                <div class="card-table search-table-outter p-4 pb-5">
                                    <!-- Hedear Start-->
                                    <div class="row-modal">
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label for="exampleInputtext1" class="aksorn-Bold f-1-0">ชื่อลูกค้า</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control aksorn f-1-0" placeholder="เลือกรายชื่อลูกค้า" aria-label="Username" disabled ng-model="ReceiptAdd.CustomerName" maxlength="200">
                                                    <div class="dropdown ">
                                                        <div class="input-group-append bg-primary cursor-pointer " id="dropdownMenuIconButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="input-group-text bg-transparent px-2" ng-hide="true"><i class="  icon-user-follow text-white"></i></span>
                                                            <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuIconButton6">
                                                                <a class="dropdown-item aksorn f-1-0 text-primary" ng-click="OnClickContactPopup()"><i class="icon-magnifier mr-2 "></i>ค้นหาจากสมุดรายชื่อ</a>
                                                                <a class="dropdown-item aksorn f-1-0 text-primary" ng-click="OnClickContactAdd()"><i class="icon-user-follow mr-2 "></i>เพิ่มรายชื่อผู้ติดต่อ</a>
                                                                <a class="dropdown-item aksorn f-1-0 text-primary" ng-click="OnClickRevenuePopup()"><i class="icon-book-open mr-2 "></i>ค้นหาข้อมูลจากฐานข้อมูลกรมสรรพากร</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputtext1" class="aksorn-Bold f-1-0">รายละเอียด</label>
                                                <textarea rows="4" class="form-control h-25 mb-1" id="exampleInputtext1" ng-model="ReceiptAdd.CustomerAddress " placeholder="รายละเอียดที่อยู่" maxlength="500"></textarea>
                                                <input type="text" class="form-control mb-1" id="exampleInputtext1" ng-model="ReceiptAdd.CustomerTaxID " placeholder="เลขที่ประจำตัวผู้เสียภาษี" maxlength="13" number-only disabled>
                                                <input type="text" class="form-control" id="exampleInputtext1" ng-model="ReceiptAdd.CustomerBranch " placeholder="สำนักงาน/สาขาเลขที่" maxlength="100">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label for="exampleInputtext1" class="aksorn f-1-0 col-12"></label>
                                                <label for="exampleInputtext1" class="aksorn f-1-0 col-12"></label>
                                                <label for="exampleInputtext1" class="aksorn f-1-0 col-12"></label>
                                            </div>
                                            <div class="row-modal mt-5" ng-show="ReceiptAdd.CustomerContactName != undefined && ReceiptAdd.CustomerContactName != ''">
                                                <label for="exampleInputtext1" class="aksorn-Bold f-1-0 pr-0 col-sm-3">ผู้ติดต่อ:</label>
                                                <label for="exampleInputtext1" class="aksorn f-1-0 pl-0 col-sm-9">{{ReceiptAdd.CustomerContactName}}</label>
                                                <label for="exampleInputtext1" class="aksorn-Bold f-1-0  pr-0 col-sm-3">โทร:</label>
                                                <label for="exampleInputtext1" class="aksorn f-1-0 pl-0 col-sm-9">{{ReceiptAdd.CustomerContactPhone}}</label>
                                                <label for="exampleInputtext1" class="aksorn-Bold f-1-0  pr-0 col-sm-3">อีเมล:</label>
                                                <label for="exampleInputtext1" class="aksorn f-1-0 pl-0 col-sm-9">{{ReceiptAdd.CustomerContactEmail}}</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-4  col-md-6 col-sm-12 col-12 ml-auto text-right">
                                            <button class="modal-option-item  cursor-pointer" ng-click="OnClickReportContent('Report')">
                                                <a class="modal-option-link ">
                                                    <i aria-hidden="true" class="fa fa-print"></i>
                                                    <span class="aksorn f-0-8">พิมพ์เอกสาร</span>
                                                </a>
                                            </button>
                                            <button class="modal-option-item  cursor-pointer" ng-click="OnClickReportContent('Download')">
                                                <a class="modal-option-link ">
                                                    <i aria-hidden="true" class="fa fa-download"></i>
                                                    <span class="aksorn f-0-8">ดาวน์โหลด</span>
                                                </a>
                                            </button>
                                            <button class="modal-option-item  cursor-pointer" id="setting-table">
                                                <a class="modal-option-link ">
                                                    <i aria-hidden="true" class="fa fa-ellipsis-h"></i>
                                                    <span class="aksorn f-0-8">เพิ่มเติม</span>
                                                </a>
                                            </button>

                                            <div class="form-group text-left">
                                                <div class="  row ">
                                                    <label for="exampleInputtext1" class="aksorn f-1-0">จำนวนเงินรวมทั้งสิ้น</label>
                                                </div>
                                                <div class=" row ">
                                                    <h5 class="modal-subtitle-full text-primary f-2-0 aksorn">{{ReceiptAdd.GrandAmount}}</h5>
                                                </div>
                                                <div class="form-group row ">
                                                    <label class="col-sm-4 col-form-label aksorn-Bold pl-0 f-1-0">วันที่ : </label>
                                                    <div class="col-sm-8">
                                                        <div id="inputreceiptdate-popup" class="input-group date datepicker no-border">
                                                            <input type="text" class="form-control input-group-addon" onkeydown="return false" ng-model="ReceiptAdd.ReceiptDate" ng-change="OnChangeReceiptDate()" ng-disabled=" OnDisabled()">
                                                        </div>
                                                    </div>
                                                    <label class="col-sm-4 col-form-label aksorn-Bold pl-0 f-1-0">พนักงานขาย : </label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control" id="exampleFormControlSelect2" ng-model="ReceiptAdd.SelectSale" ng-options="item as item.EmployeeName for item in Parameter.Param_Employee" ng-disabled=" OnDisabled() || UserProfile.Position == '004'">
                                                            <option value="" class="text-muted" selected style="display:none">--กรุณาเลือกพนักงานขาย--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Hedear End-->
                                    <hr>
                                    <!-- Detail Start-->
                                    <div class="row-modal">
                                        <div class="col-lg-5">
                                            <div class="form-group row ">
                                                <label class="col-sm-3 col-form-label aksorn-Bold f-1-0 px-1">ชื่อโปรเจค : </label>
                                                <div class="col-sm-9 px-1">
                                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" maxlength="100" ng-model="ReceiptAdd.ProjectName">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group row ">
                                                <label class="col-sm-4 col-form-label aksorn-Bold f-1-0 px-1">เลขที่อ้างอิง : </label>
                                                <div class="col-sm-8 px-1">
                                                    <input type="text" class="form-control" id="exampleInputtext2" maxlength="50" placeholder="" ng-model="ReceiptAdd.ReferenceNo" ng-disabled=" OnDisabled()">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 ">
                                            <div class="form-group row ">
                                                <label class="col-sm-4 px-1 col-form-label aksorn-Bold f-1-0">ราคาสินค้า : </label>
                                                <div class="col-sm-8 px-1">
                                                    <select class="form-control" id="exampleFormControlSelect2" ng-model="ReceiptAdd.TaxType" ng-change="OnChangeProductTaxType()" disabled>
                                                        <option value="N">ราคาไม่รวมภาษี</option>
                                                        <option value="V">ราคารวมภาษี</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Table Start-->
                                    <div class="row-modal">
                                        <div class="card card-weaccount border-fix-table w-100 ">
                                            <div class="card-table search-table-outter table-responsive ">
                                                <table class="table aksorn s-table">
                                                    <thead class="badge-softblue">
                                                        <tr>
                                                            <th width="5%" class="aksorn f-1-0 text-center">ลำดับ</th>
                                                            <th width="34%" class="aksorn f-1-0">ชื่อสินค้า/รายละเอียด</th>
                                                            <th width="10%" class="aksorn text-left f-1-0">จำนวน</th>
                                                            <th width="8%" class="aksorn text-left f-1-0">หน่วย</th>
                                                            <th width="10%" class="aksorn text-left f-1-0">ราคาต่อหน่วย</th>
                                                            <th width="10%" class="aksorn text-right f-1-0" ng-show="ReceiptAdd.IsDiscountHeader == 1">
                                                                <div class="dropdown ">
                                                                    <a class="f-1-0 cursor-pointer" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>ส่วนลด({{ReceiptAdd.IsDiscountHeaderType}}) <i class="fa fa-angle-down "></i></a>
                                                                    <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuIconButton6" ng-hide="true">
                                                                        <a class="dropdown-item aksorn f-1-0 text-black" ng-click="OnClickDiscountType('%')">เปอร์เซ็นต์ (%)</a>
                                                                        <a class="dropdown-item aksorn f-1-0 text-black" ng-click="OnClickDiscountType('฿')">จำนวนเงิน (฿)</a>
                                                                    </div>
                                                                </div>
                                                            </th>
                                                            <th width="8%" class="aksorn text-left f-1-0" ng-show="ReceiptAdd.IsTaxHeader == 1">ภาษี</th>
                                                            <th width="10%" class="aksorn text-right f-1-0">ราคารวม</th>
                                                            <th width="5%" class="aksorn f-1-0"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody ng-repeat="values in ReceiptAdd.ReceiptDetail">
                                                        <tr>
                                                            <td class="text-center">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <p class="f-1-0">{{values.Sequence}}</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control aksorn f-1-0" placeholder="ชื่อสินค้า" aria-label="Username" ng-model="values.Name" disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control aksorn f-1-0" placeholder="รายละเอียด" aria-label="Username" ng-model="values.Description">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <input type="text" class="form-control p-1 text-left" id="exampleInputtext2" placeholder="" decimal-only ng-model="values.Quantity" ng-blur="OnChangeDetailCalculate()" disabled>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-left">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <input type="text" class="form-control aksorn f-1-0" placeholder="" aria-label="Username" ng-model="values.Unit" disabled>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-right">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <input type="text" class="form-control p-1 text-left" id="exampleInputtext2" placeholder="" decimal-only ng-model="values.Price" ng-blur="OnChangeDetailCalculate()" disabled>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-right" ng-show="ReceiptAdd.IsDiscountHeader == 1">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <input type="text" class="form-control p-1 text-right" id="exampleInputtext2" placeholder="" decimal-only ng-show="values.DiscountType == '%'" ng-blur="OnChangeDetailCalculate()" ng-model="values.DiscountPercent" disabled>
                                                                        <input type="text" class="form-control p-1 text-right" id="exampleInputtext2" placeholder="" decimal-only ng-show="values.DiscountType == '฿'" ng-blur="OnChangeDetailCalculate()" ng-model="values.Discount" disabled>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-left" ng-show="ReceiptAdd.IsTaxHeader == 1">
                                                                <div class="row">
                                                                    <div class="col-12 ">
                                                                        <select class="form-control text-center" id="exampleFormControlSelect2" ng-model="values.VatType" ng-change="OnChangeDetailCalculate()" disabled>
                                                                            <option value="1">0%</option>
                                                                            <option value="2">7%</option>
                                                                            <option value="3">ยกเลิก</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-right">
                                                                <div class="row">
                                                                    <div class="col-12 ">
                                                                        <p class="f-1-0">{{values.Total}}</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="row">
                                                                    <div class="col-12 ">
                                                                        <div class="dropdown">
                                                                            <button type="button" class="btn btn-light mb-2 icon-btn dropdown-toggle-split p-2" id="dropdownMenuIconButton3" ng-click="OnClickProductDetailDelete($index)" disabled>
                                                                                <i class="fa fa-trash-o"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot ng-hide="true">
                                                        <tr>
                                                            <td class="text-center">
                                                                <div class="row">
                                                                    <div class="col-12">

                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control aksorn f-1-0" placeholder="เลือกรายการสินค้า/บริการ" ng-model="ProductDetailAdd.Name" aria-label="Username">
                                                                            <div class="dropdown ">
                                                                                <div class="input-group-append bg-primary cursor-pointer " id="dropdownMenuIconButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                    <span class="input-group-text bg-transparent px-2"><i class="  icon-plus text-white"></i></span>
                                                                                    <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuIconButton6">
                                                                                        <a class="dropdown-item aksorn f-1-0 text-primary" ng-click="OnClickProductPopup()"><i class="icon-magnifier mr-2 "></i>ค้นหาจากรายการสินค้า</a>
                                                                                        <a class="dropdown-item aksorn f-1-0 text-primary" ng-click="OnClickProductAdd()"><i class="ti-package mr-2 "></i>เพิ่มรายการสินค้า</a>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="input-group">
                                                                            <input type="text" class="form-control aksorn f-1-0" placeholder="รายละเอียด" aria-label="Username" ng-model="ProductDetailAdd.Description">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <input type="text" class="form-control p-1 text-right" id="exampleInputtext2" placeholder="" decimal-only ng-model="ProductDetailAdd.Quantity">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-right">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <input type="text" class="form-control p-1 text-left" id="exampleInputtext2" placeholder="" ng-model="ProductDetailAdd.Unit">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-right">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <input type="text" class="form-control p-1 text-right" id="exampleInputtext2" placeholder="" decimal-only ng-model="ProductDetailAdd.Price">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-right" ng-show="ReceiptAdd.IsDiscountHeader == 1">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <input type="text" class="form-control p-1 text-right" id="exampleInputtext2" placeholder="" decimal-only ng-show="ProductDetailAdd.DiscountType == '%' " ng-model="ProductDetailAdd.DiscountPercent">
                                                                        <input type="text" class="form-control p-1 text-right" id="exampleInputtext2" placeholder="" decimal-only ng-show="ProductDetailAdd.DiscountType == '฿'" ng-model="ProductDetailAdd.Discount">
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center" ng-show="ReceiptAdd.IsTaxHeader == 1">
                                                                <div class="row">
                                                                    <div class="col-12 ">
                                                                        <select class="form-control text-center" id="exampleFormControlSelect2" ng-model="ProductDetailAdd.VatType">
                                                                            <option value="1">0%</option>
                                                                            <option value="2">7%</option>
                                                                            <option value="3">ยกเลิก</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-right">
                                                                <div class="row">
                                                                    <div class="col-12 ">
                                                                        <p class="f-1-0">{{ProductDetailAdd.Total}}</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td class="text-center">
                                                                <div class="row">
                                                                    <div class="col-12 ">
                                                                        <div class="dropdown">
                                                                            <button type="button" class="btn btn-light mb-2 icon-btn dropdown-toggle-split p-2" id="dropdownMenuIconButton3" ng-click="OnClickProductDetailAdd()">
                                                                                <i class=" icon-plus"></i>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Table End-->
                                    <!-- Detail End-->
                                    <!-- Footer Start-->
                                    <div class="row-modal mt-5">
                                        <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                                            <div class="form-group row ">
                                                <label for="" class="aksorn-Bold f-1-0">หมายเหตุ</label>
                                                <textarea rows="4" class="form-control h-25" id="exampleInputtext1" ng-model="ReceiptAdd.Remark" placeholder=""></textarea>
                                            </div>
                                            <div class="form-group row ">
                                                <label for="" class="aksorn-Bold f-1-0">โน้ตภายในบริษัท</label>
                                                <textarea rows="4" class="form-control h-25" id="exampleInputtext1" ng-model="ReceiptAdd.Noted" placeholder=""></textarea>
                                            </div>
                                            <div class="form-group row ">
                                                <label for="" class="aksorn-Bold f-1-0 col-sm-12"><i class="fa fa-paperclip"></i> แนบไฟล์</label>
                                                <div class="col-sm-6 col-6 col-lg-6 col-md-6 pl-0">
                                                    <input id="document_attach" class="dropify" type="file" ngf-select="OnUploadAttach($files)"
                                                           data-max-height="1400" data-max-widht="300" data-max-file-size="2M" data-allowed-file-extensions="jpg png jpeg pdf" />
                                                </div>
                                                <div class="col-sm-6 col-6 col-lg-6 col-md-6 pl-0">
                                                    <div class="form-group row px-2 mb-0 py-0" ng-repeat="attach in DocumentAttach">
                                                        <a class="col-sm-9 document-bottom" ng-click="OnClickShowAttach(attach.AttachKey)"><i class="" ng-class="{  'fa fa-file-pdf-o' : attach.AttachExtension == 'pdf' , 'fa fa-file-image-o' : attach.AttachExtension != 'pdf'  }"></i> {{attach.AttachName}}</a>
                                                        <a class="col-sm-3 document-delete" ng-click="OnClickDeleteAttach(attach.AttachKey)"><i class="fa fa-trash-o"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-check aksorn text-primary f-1-2">
                                                <label class="form-check-label f-1-0">
                                                    <input type="checkbox" class="form-check-input" ng-model="ReceiptAdd.Signature">
                                                    ลายเซ็นอิเล็กทรอนิกส์และตรายาง
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-6 col-sm-12 col-12 ml-auto">

                                            <div class="form-group row mb-0 ">
                                                <label for="" class="col-sm-6 col-form-label aksorn f-1-0 text-primary">รวมเป็นเงิน</label>
                                                <div class="col-sm-6 text-right">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{ReceiptAdd.TotalAmount}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-0" ng-show="ReceiptAdd.IsDiscountHeader != 1">
                                                <label for="" class="col-sm-2 col-form-label aksorn f-1-0  text-primary">ส่วนลด </label>
                                                <div class="col-sm-3 text-right">
                                                    <input type="text" class="form-control" id="exampleInputtext2" ng-model="ReceiptAdd.DiscountPercent" ng-blur="OnChangeDiscountPercent()" decimal-only maxlength="5" placeholder="0.00" disabled>
                                                </div>
                                                <label for="" class="col-sm-4 col-form-label aksorn f-1-0  text-primary">% </label>
                                                <div class="col-sm-3 text-right">
                                                    <input type="text" class="form-control text-right" ng-model="ReceiptAdd.DiscountAmount" ng-blur="OnChangeDiscountAmount()" decimal-only maxlength="10" id="exampleInputtext2" placeholder="0.00" disabled>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-0" ng-show="ReceiptAdd.IsDiscountHeader == 1">
                                                <label for="" class="col-sm-6 col-form-label aksorn f-1-0 text-primary">ส่วนลดรวม</label>
                                                <div class="col-sm-6 text-right">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{ReceiptAdd.DiscountAmount}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-0 mt-2 ">
                                                <label class="col-sm-6 col-form-label aksorn f-1-0  text-primary">ราคาหลังหักส่วนลด</label>
                                                <div class="col-sm-6 text-right">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{ReceiptAdd.TotalAfterDiscountAmount}}</label>
                                                </div>
                                            </div>
                                            <hr class=" hr-subtitle" ng-show="ReceiptAdd.IsTaxHeader == 1">
                                            <div class="form-group row mb-0" ng-show="ReceiptAdd.IsTaxHeader == 1">
                                                <label class="col-sm-6 col-form-label aksorn f-1-0  text-primary">มูลค่าที่ไม่มี/ยกเว้นภาษี</label>
                                                <div class="col-sm-6 text-right">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{ReceiptAdd.ExemptAmount}}</label>
                                                </div>
                                                <label class="col-sm-6 col-form-label aksorn f-1-0  text-primary">มูลค่าที่คำนวณภาษี</label>
                                                <div class="col-sm-6 text-right">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{ReceiptAdd.VatableAmount}}</label>
                                                </div>
                                                <label class="col-sm-6 col-form-label aksorn f-1-0  text-primary">ภาษีมูลค่าเพิ่ม</label>
                                                <div class="col-sm-6 text-right">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{ReceiptAdd.VAT}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-0" ng-show="ReceiptAdd.TaxType == 'N' && ReceiptAdd.IsTaxHeader != 1 ">
                                                <div class="col-sm-6 text-left">
                                                    <div class="form-check aksorn text-primary f-1-2" ng-hide="true">
                                                        <label class="form-check-label f-1-0">
                                                            <input type="checkbox" class="form-check-input" ng-model="ReceiptAdd.IsTaxSummary" ng-change="OnClickNoTaxSummary()" disabled>
                                                            ภาษีมูลค่าเพิ่ม 7%
                                                        </label>
                                                    </div>
                                                    <label class=" col-form-label aksorn f-1-0  text-primary">ภาษีมูลค่าเพิ่ม 7%</label>
                                                </div>
                                                <div class="col-sm-6 text-right">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{ReceiptAdd.VAT}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-0">
                                                <label class="col-sm-6 col-form-label aksorn f-1-0  text-primary">จำนวนเงินรวมทั้งสิ้น</label>
                                                <div class="col-sm-6 text-right">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{ReceiptAdd.GrandAmount}}</label>
                                                </div>
                                            </div>
                                            <hr class=" hr-subtitle" ng-show="ReceiptAdd.TaxType == 'V' && ReceiptAdd.IsTaxHeader != 1">
                                            <div class="form-group row mb-0" ng-show="ReceiptAdd.TaxType == 'V' && ReceiptAdd.IsTaxHeader != 1">
                                                <label class="col-sm-6 col-form-label aksorn f-1-0  text-primary">ภาษีมูลค่าเพิ่ม 7%</label>
                                                <div class="col-sm-6 text-right">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{ReceiptAdd.VAT}}</label>
                                                </div>
                                                <label class="col-sm-6 col-form-label aksorn f-1-0  text-primary">ราคาไม่รวมภาษีมูลค่าเพิ่ม</label>
                                                <div class="col-sm-6 text-right">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{ReceiptAdd.TotalBeforeVatAmount}}</label>
                                                </div>
                                            </div>
                                            <hr class=" hr-subtitle">
                                            <div class="form-group row mb-0">
                                                <div class="col-sm-1 text-left pr-0">
                                                    <div class="form-check aksorn text-primary f-1-2">
                                                        <label class="form-check-label f-1-0">
                                                            <input type="checkbox" class="form-check-input" ng-model="ReceiptAdd.IsAdjustDiscount" ng-change="OnClickAdjustDiscount ()" ng-disabled=" OnDisabled()">
                                                        </label>
                                                    </div>
                                                </div>
                                                <label class="col-sm-6 col-form-label aksorn f-1-0  text-primary mt-2 pl-0">
                                                    เพิ่มรายการปรับลด  <i class="fa fa-info-circle f-1-0 ml-2 text-primary ml-1 my-tooltip" data-toggle="tooltip" data-html="true" data-placement="left" data-container="#modalreceipt-add"
                                                                          title="<div class='title' >เกี่ยวกับการปรับลด </div> <hr class='mb-2'> รายการปรับลดจะเป็นรายการหัก <br> จากยอดจำนวนเงินรวมตามวัตถุ <br> ประสงค์ต่างๆ เพื่อได้ยอดชำระที่ <br> เรียกเก็บเงินจริง </div>" onmouseenter="$(this).tooltip('show')"></i>
                                                </label>

                                                <div class="col-sm-7 text-right" ng-show="ReceiptAdd.IsAdjustDiscount">
                                                    <select class="form-control text-center" id="exampleFormControlSelect2" ng-model="ReceiptAdd.AdjustDiscountType" ng-disabled=" OnDisabled()">
                                                        <option value="1">ส่วนลดพิเศษ</option>
                                                        <option value="2">ค่านายหน้า/ส่วนแบ่งการขาย</option>
                                                        <option value="3">ค่าดำเนินการ</option>
                                                        <option value="4">ปัดเศษ</option>
                                                    </select>
                                                </div>
                                                <label class="col-sm-2 col-form-label aksorn f-1-0  text-primary" ng-show="ReceiptAdd.IsAdjustDiscount"></label>
                                                <div class="col-sm-3 text-right" ng-show="ReceiptAdd.IsAdjustDiscount">
                                                    <input type="text" class="form-control text-right" ng-model="ReceiptAdd.AdjustDiscountAmount" ng-blur="OnChangeDetailCalculate()" decimal-only maxlength="10" id="exampleInputtext2" placeholder="0.00" ng-disabled=" OnDisabled()">
                                                </div>
                                            </div>
                                            <div class="form-group row mb-0 mt-2" ng-show="ReceiptAdd.IsTaxHeader != 1">
                                                <div class="col-sm-1 text-left pr-0">
                                                    <div class="form-check aksorn text-primary f-1-2">
                                                        <label class="form-check-label f-1-0">
                                                            <input type="checkbox" class="form-check-input" ng-model="ReceiptAdd.IsWithholdingTax" ng-change="OnClickWithholdingTax()" ng-disabled=" OnDisabled()">

                                                        </label>
                                                    </div>
                                                </div>
                                                <label class="col-sm-3 pl-0 col-form-label aksorn f-1-0  text-primary mt-2 pl-0 pr-0">  หักภาษี ณ ที่จ่าย</label>
                                                <div class="col-sm-3 text-right" ng-show="ReceiptAdd.IsWithholdingTax">
                                                    <select class="form-control text-center" id="exampleFormControlSelect2" ng-model="ReceiptAdd.SelectWithholding" ng-change="OnClickWithholdingTax()" ng-disabled=" OnDisabled()" ng-options="item as item.Name for item in Parameter.Param_Quotation.Param_WithholdingRate"></select>
                                                </div>
                                                <div class="col-sm-5 text-right" ng-show="ReceiptAdd.IsWithholdingTax">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{ReceiptAdd.WithholdingAmount}}</label>
                                                </div>
                                            </div>
                                            <div class="form-group row mb-0 mt-2">
                                                <label class="col-sm-6 col-form-label aksorn f-1-0  text-primary" ng-show="ReceiptAdd.IsWithholdingTax || ReceiptAdd.IsAdjustDiscount">ยอดชำระ</label>
                                                <div class="col-sm-6 text-right" ng-show="ReceiptAdd.IsWithholdingTax || ReceiptAdd.IsAdjustDiscount">
                                                    <label class="col-sm-12 col-form-label aksorn f-1-0">{{ReceiptAdd.PaymentAmount}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Footer End-->
                                    <!-- Receipt Start-->
                                    <div class="card card-weaccount border-fix-table mt-5">
                                        <div class="card-table search-table-outter p-4 pb-5">
                                            <div class="row-modal">
                                                <label class="col-sm-3  col-form-label aksorn f-1-6 text-success">บันทึกการรับชำระเงิน</label>
                                                <div class="col-sm-3">
                                                    <button type="button" class="btn btn-success btn-receipt aksorn f-1-0 btn-fw" ng-click="OnClickPaymentAdd();" ng-disabled="ReceiptAdd.DocumentKey != undefined ||  OnDisabled()" ng-show="ReceiptAdd.ReceiptStatus == '1'">เพิ่มการรับชำระเงิน</button>
                                                </div>
                                            </div>
                                            <div class="row-modal" ng-show="ReceiptAdd.ReceiptStatus != '1'  && ReceiptAdd.ReceiptInfo != undefined">
                                                <div class="card card-weaccount border-fix-table w-100 ">
                                                    <div class="card-table search-table-outter table-responsive ">
                                                        <table class="table aksorn s-table">
                                                            <thead class="badge-softgreen">
                                                                <tr>
                                                                    <th width="10%" class="aksorn f-1-0 text-left">วันที่รับชำระ</th>
                                                                    <th width="15%" class="aksorn text-right f-1-0">ยอดรับชำระ</th>
                                                                    <th width="20%" class="aksorn text-left f-1-0">ช่องทางรับชำระ</th>
                                                                    <th width="50%" class="aksorn text-left f-1-0">หมายเหตุ</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="text-left">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <p class="f-1-0">{{ReceiptAdd.ReceiptInfo.PaymentDate}}</p>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-right">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <p class="f-1-0">
                                                                                    {{ReceiptAdd.ReceiptInfo.NetPaymentAmount}}
                                                                                    <i class="fa fa-info-circle f-1-0 ml-2 text-primary" data-toggle="tooltip" data-html="true" data-placement="left"
                                                                                       title="{{ReceiptAdd.ReceiptInfo.TagHtml}}" onmouseenter="$(this).tooltip('show')"></i>
                                                                                </p>

                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-left">
                                                                        <div class="row" ng-show="ReceiptAdd.ReceiptInfo.PaymentType == 'CA'">
                                                                            <div class="col-12">
                                                                                <p class="f-1-0">{{ReceiptAdd.ReceiptInfo.PaymentTypeName}}</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row" ng-show="ReceiptAdd.ReceiptInfo.PaymentType == 'TR'">
                                                                            <div class="col-12">
                                                                                <p class="f-1-0">{{ReceiptAdd.ReceiptInfo.PaymentTypeName}} - {{ReceiptAdd.ReceiptInfo.BankName}} {{ReceiptAdd.ReceiptInfo.BankAccountType}} {{ReceiptAdd.ReceiptInfo.BankAccountNo}}</p>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row" ng-show="ReceiptAdd.ReceiptInfo.PaymentType == 'CQ'">
                                                                            <div class="col-12">
                                                                                <p class="f-1-0">{{ReceiptAdd.ReceiptInfo.PaymentTypeName}} - เลขที่ {{ReceiptAdd.ReceiptInfo.ChequeNo}} วันที่ {{ReceiptAdd.ReceiptInfo.ChequeDate}} {{ReceiptAdd.ReceiptInfo.BankName}}</p>
                                                                            </div>
                                                                        </div> <div class="row" ng-show="ReceiptAdd.ReceiptInfo.PaymentType == 'CC'">
                                                                            <div class="col-12">
                                                                                <p class="f-1-0">{{ReceiptAdd.ReceiptInfo.PaymentTypeName}} -  {{ReceiptAdd.ReceiptInfo.BankName}}</p>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                    <td class="text-left">
                                                                        <div class="row">
                                                                            <div class="col-12">
                                                                                <p class="f-1-0">{{ReceiptAdd.ReceiptInfo.Comment}}</p>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Receipt End -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Modal Ends -->
    <!-- Receipt Modal starts -->
    <div class="modal fade" id="exampleModal-2" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-primary f-1-6 aksorn">กรุณาเลือกชื่อลูกค้าและเอกสาร</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row-modal mb-3">
                        <div class="col-lg-6 pl-0">
                            <div class="form-group row-modal text-left ">
                                <label class="col-sm-12 pl-0 col-form-label aksorn f-1-0">ค้นหาชื่อลูกค้า : </label>
                                <div class="col-sm-12 pl-0">
                                    <select class="form-control" id="exampleFormControlSelect2">
                                        <option>กรุณาเลือกลูกค้า</option>
                                        <option>ลูกค้า1</option>
                                        <option>ลูกค้า2</option>
                                        <option>ลูกค้า3</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 pl-0 ">
                        </div>
                        <div class="col-lg-2 pl-0 " style="border-right:1px solid #e6e9ee;">
                            <div class="form-group row-modal text-right ">
                                <label class="col-sm-12 pl-0 col-form-label aksorn-Bold f-1-2 ">รายการ</label>
                                <label class="col-sm-12 pl-0 text-primary col-form-label aksorn-Bold f-1-4 ">2</label>
                            </div>
                        </div>
                        <div class="col-lg-2 pl-4 ">
                            <div class="form-group row-modal text-left ">
                                <label class="col-sm-12 pl-0 col-form-label aksorn-Bold f-1-2 ">รวมทั้งสิ้น</label>
                                <label class="col-sm-12 pl-0 text-primary col-form-label aksorn-Bold f-1-4 ">100,000.00</label>
                            </div>
                        </div>
                    </div>
                    <div class="row-modal ">
                        <div class="col-lg-12  grid-margin stretch-card pl-0 ">
                            <!-- Table Start-->
                            <div class="card card-weaccount border-fix-table w-100 ">
                                <div class="card-table search-table-outter table-responsive h-500px">
                                    <table class="table aksorn  s-table">
                                        <thead class="badge-softblue">
                                            <tr>
                                                <th width="5%" class="aksorn f-1-0"></th>
                                                <th width="15%" class="aksorn f-1-0">เลขที่เอกสาร</th>
                                                <th width="40%" class="aksorn f-1-0">ชื่อลูกค้า/ชื่อโปรเจ็ค</th>
                                                <th width="20%" class="aksorn f-1-0">วันครบกำหนด</th>
                                                <th width="20%" class="aksorn f-1-0">จำนวนเงิน</th>
                                            </tr>
                                        </thead>
                                        <tbody class="">
                                            <tr>
                                                <td>
                                                    <div class="form-check aksorn text-primary f-1-2 mt-0">
                                                        <label class="form-check-label f-1-0">

                                                            <input type="checkbox" class="form-check-input" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">INV2020060016</p>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <p class="f-1-0">บริษัททดสอบ จำกัด มหาชน.</p>
                                                        </div>
                                                        <div class="col-12">
                                                            <p class="f-0-8 text-muted mb-0">Project-1</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">07-06-2020</p>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">100,000.00</p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check aksorn text-primary f-1-2 mt-0">
                                                        <label class="form-check-label f-1-0">
                                                            <input type="checkbox" class="form-check-input" checked>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">INV2020060016</p>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <p class="f-1-0">บริษัททดสอบ จำกัด มหาชน.</p>
                                                        </div>
                                                        <div class="col-12">
                                                            <p class="f-0-8 text-muted mb-0">Project-1</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">07-06-2020</p>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">100,000.00</p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check aksorn text-primary f-1-2 mt-0">
                                                        <label class="form-check-label f-1-0">
                                                            <input type="checkbox" class="form-check-input">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">INV2020060016</p>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <p class="f-1-0">บริษัททดสอบ จำกัด มหาชน.</p>
                                                        </div>
                                                        <div class="col-12">
                                                            <p class="f-0-8 text-muted mb-0">Project-1</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">07-06-2020</p>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">100,000.00</p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check aksorn text-primary f-1-2 mt-0">
                                                        <label class="form-check-label f-1-0">
                                                            <input type="checkbox" class="form-check-input">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">INV2020060016</p>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <p class="f-1-0">บริษัททดสอบ จำกัด มหาชน.</p>
                                                        </div>
                                                        <div class="col-12">
                                                            <p class="f-0-8 text-muted mb-0">Project-1</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">07-06-2020</p>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">100,000.00</p>
                                                </td>

                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="form-check aksorn text-primary f-1-2 mt-0">
                                                        <label class="form-check-label f-1-0">
                                                            <input type="checkbox" class="form-check-input">
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">INV2020060016</p>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <p class="f-1-0">บริษัททดสอบ จำกัด มหาชน.</p>
                                                        </div>
                                                        <div class="col-12">
                                                            <p class="f-0-8 text-muted mb-0">Project-1</p>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">07-06-2020</p>
                                                </td>
                                                <td>
                                                    <p class="f-1-0">100,000.00</p>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Table End-->

                        </div>
                        <div class="col-lg-12  grid-margin stretch-card pb-0 pl-0 mb-0">
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-left"></i></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><i class="mdi mdi-chevron-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse-light btn-fw aksorn f-1-0" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                    <button type="button" class="btn btn-primary btn-fw aksorn f-1-0">เลือกเอกสาร</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Receipt Ends -->
    <!-- Receipt Modal starts -->
    <div class="modal fade" id="modalreceipt-receive" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-text-md" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-primary f-1-6 aksorn">
                        บันทึกการรับชำระเงิน
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row-modal pl-2 mb-4">

                        <div class="col-lg-12 pl-0">
                            <div class="row-modal text-left ">
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">เลขที่เอกสาร: </label>
                                <label class="col-sm-8 pl-0 col-form-label aksorn f-1-0"> {{ReceiptAdd.ReceiptInfo.DocumentNo}} ({{ReceiptAdd.ReceiptInfo.CustomerName}})</label>
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ยอดที่ต้องชำระ:</label>
                                <label class="col-sm-8 pl-0 col-form-label aksorn f-1-0"> {{ReceiptAdd.ReceiptInfo.PaymentAmount}} </label>
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">วันที่รับชำระ:</label>
                                <div class="col-sm-7 pl-0 mt-2">
                                    <div id="inputreceivedate-popup" class="input-group date datepicker no-border">
                                        <input type="text" class="form-control input-group-addon" onkeydown="return false" ng-model="ReceiptAdd.ReceiptInfo.PaymentDate" ng-disabled=" OnDisabled()">
                                    </div>
                                </div>
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">
                                    ยอดรับสุทธิ:
                                </label>
                                <div class="col-sm-5 pl-0 mt-2">
                                    <input type="text" class="form-control" id="exampleInputtext2" decimal-only maxlength="20" placeholder="0.00" ng-model="ReceiptAdd.ReceiptInfo.NetPaymentAmount" ng-blur="OnChangeReceiveCalculate()" ng-disabled="ReceiptAdd.ReceiptInfo.IsPayment">
                                </div>
                                <div class="col-sm-2 pl-0">
                                    <span class="span-a mt-3 f-0-8 aksorn">
                                        <a class="blue-line " ng-click="OnClickIsPayment()" ng-show="ReceiptAdd.ReceiptInfo.IsPayment"><i class="fa fa-pencil-square-o"></i> แก้ไข</a>
                                    </span>
                                </div>
                                <div class="col-sm-3 text-left pl-0">
                                    <div class="form-check aksorn text-primary f-1-2">
                                        <label class="form-check-label f-1-0">
                                            <input type="checkbox" class="form-check-input" ng-model="ReceiptAdd.ReceiptInfo.IsDiscount" ng-change="OnChangeIsAdjustReceive()" ng-disabled=" ReceiptAdd.IsAdjustDiscount">
                                            เพิ่มรายการปรับลด
                                        </label>
                                    </div>
                                </div>
                                <label class="col-sm-1 pl-0 col-form-label aksorn f-1-0 mt-2">
                                    <i class="fa fa-info-circle f-1-0 ml-2 text-primary" data-toggle="tooltip" data-html="true" data-placement="right" data-container="#modalreceipt-receive"
                                       title=" ยอดรับสุทธิหลังหักภาษี ณ ที่จ่าย "></i>
                                </label>
                                <div class="col-sm-3 pl-0 mt-2">
                                    <select class="form-control text-center" id="exampleFormControlSelect2" ng-model="ReceiptAdd.ReceiptInfo.DiscountType" ng-show="ReceiptAdd.ReceiptInfo.IsDiscount" ng-disabled=" ReceiptAdd.IsAdjustDiscount">
                                        <option value="1">ส่วนลดพิเศษ</option>
                                        <option value="2">ค่านายหน้า/ส่วนแบ่งการขาย</option>
                                        <option value="3">ค่าดำเนินการ</option>
                                        <option value="4">ปัดเศษ</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 pl-0 mt-2">
                                    <input type="text" class="form-control" id="exampleInputtext2" decimal-only placeholder="0.00" ng-show="ReceiptAdd.ReceiptInfo.IsDiscount" ng-blur="OnChangeReceiveCalculate()" ng-model="ReceiptAdd.ReceiptInfo.DiscountAmount" ng-disabled=" ReceiptAdd.IsAdjustDiscount">
                                </div>
                                <div class="col-sm-4 text-left mb-2  pl-0">
                                    <div class="form-check aksorn text-primary f-1-2">
                                        <label class="form-check-label f-1-0">
                                            <input type="checkbox" class="form-check-input" ng-model="ReceiptAdd.ReceiptInfo.IsWithholdingTax" ng-change="OnChangeIsWithhollding()" ng-disabled=" OnDisabled()">
                                            หัก ณ ที่จ่าย:
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3 pl-0 mt-2">
                                    <select class="form-control text-center" id="exampleFormControlSelect2" ng-model="ReceiptAdd.ReceiptInfo.SelectWithholding" ng-show="ReceiptAdd.ReceiptInfo.IsWithholdingTax"
                                            ng-change="OnChangeWithholldingReceipt()" ng-options="item as item.Name for item in Parameter.Param_Quotation.Param_WithholdingRateReceipt" ng-disabled="ReceiptAdd.IsTaxHeader || !ReceiptAdd.ReceiptInfo.IsPayment"></select>
                                </div>
                                <div class="col-sm-4 pl-0 mt-2">
                                    <input type="text" class="form-control" id="exampleInputtext2" decimal-only placeholder="0.00" ng-disabled="ReceiptAdd.ReceiptInfo.SelectWithholding.ID != '0'"
                                           ng-blur="OnChangeReceiveCalculate()" ng-show="ReceiptAdd.ReceiptInfo.IsWithholdingTax" ng-model="ReceiptAdd.ReceiptInfo.WithholdingAmount">
                                </div>
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">วีธีการชำระ:</label>
                                <div class="col-sm-7 pl-0">
                                    <select class="form-control text-center" id="exampleFormControlSelect2" ng-model="ReceiptAdd.ReceiptInfo.PaymentType" ng-change="OnChangePaymentType()">
                                        <option value="CA">เงินสด</option>
                                        <option value="TR">โอนเงิน</option>
                                        <option value="CQ">เช็ค</option>
                                        <option value="CC">บัตรเครดิต</option>
                                    </select>
                                </div>
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0" ng-show="ReceiptAdd.ReceiptInfo.PaymentType == 'TR'">
                                    บัญชีรับเงิน: <i class="fa fa-info-circle f-1-0 ml-2 text-primary" data-toggle="tooltip" data-html="true" data-placement="right"
                                                     title="บัญชีธนาคารของบริษัทเรา " onmouseenter="$(this).tooltip('show')"></i>
                                </label>
                                <div class="col-sm-7 pl-0" ng-show="ReceiptAdd.ReceiptInfo.PaymentType == 'TR'">
                                    <select class="form-control text-center" id="exampleFormControlSelect2" ng-model="ReceiptAdd.ReceiptInfo.SelectBankTransfer" ng-options="item as item.BankName +' ' + item.DepositTypeName + ' ' + item.AccountNo for item in Parameter.BizBank"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-modal pl-2 mb-4">
                        <div class="col-lg-12 pl-0" style="position:relative;">
                            <h5 class="modal-subtitle-full text-primary pl-0 f-1-2  aksorn">
                                รายละเอียดเพิ่มเติม
                            </h5>
                        </div>
                        <div class="col-lg-12 pl-0" ng-show="ReceiptAdd.ReceiptInfo.PaymentType == 'CQ' || ReceiptAdd.ReceiptInfo.PaymentType == 'CC'">
                            <div class="row-modal text-left ">
                                <label class="col-sm-4 pl-0 col-form-label f-1-0 aksorn">
                                    ธนาคาร:  <i class="fa fa-info-circle f-1-0 ml-2 text-primary" data-toggle="tooltip" data-html="true" data-placement="right"
                                                title="ธนาคารที่ระบุหน้าเช็ค " onmouseenter="$(this).tooltip('show')"></i>
                                </label>
                                <div class="col-sm-7 pl-0">
                                    <select class="form-control" ng-model="ReceiptAdd.ReceiptInfo.SelectBank" ng-options="item as item.Name for item in Parameter.Param_Quotation.Param_Bank">
                                        <option value="" class="text-muted" selected style="display:none">โปรดระบุ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 pl-0" ng-show="ReceiptAdd.ReceiptInfo.PaymentType == 'CQ'">
                            <div class="row-modal text-left ">
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">วันที่หน้าเช็ค:</label>
                                <div class="col-sm-7 pl-0">
                                    <div id="inputreceivechaque-popup" class="input-group date datepicker no-border">
                                        <input type="text" class="form-control input-group-addon" onkeydown="return false" ng-model="ReceiptAdd.ReceiptInfo.ChequeDate" ng-disabled=" OnDisabled()">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 pl-0" ng-show="ReceiptAdd.ReceiptInfo.PaymentType == 'CQ'">
                            <div class="row-modal text-left ">
                                <label class="col-sm-4 pl-0 col-form-label f-1-0">เลขที่เช็ค: </label>
                                <div class="col-sm-7 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" ng-model="ReceiptAdd.ReceiptInfo.ChequeNo" ng-disabled=" OnDisabled()">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 pl-0 mt-2">
                            <div class="row-modal text-left ">
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">หมายเหตุ: </label>
                                <div class="col-sm-7 pl-0">
                                    <textarea rows="4" class="form-control form-textarea" id="exampleInputtext2" placeholder="" ng-model="ReceiptAdd.ReceiptInfo.Comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="hr-subtitle" />
                    <div class="row-modal pl-2 mb-4">
                        <div class="col-lg-12 pl-0">
                            <div class="row-modal text-left ">
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ยอดคงเหลือ: </label>
                                <label class="col-sm-7 pl-0 col-form-label aksorn f-1-0" ng-class="{ 'text-danger' : ReceiptAdd.ReceiptInfo.IsCauseType == false}">{{ ReceiptAdd.ReceiptInfo.IsText}} {{ReceiptAdd.ReceiptInfo.Balance}} บาท </label>
                                <label class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ระบุสาเหตุ: </label>
                                <div class="col-sm-7 pl-0">
                                    <select class="form-control" id="exampleFormControlSelect2" ng-disabled="ReceiptAdd.ReceiptInfo.IsCauseType" ng-model="ReceiptAdd.ReceiptInfo.CauseType">
                                        <option value="" class="text-muted" selected style="display:none">--กรุณาเลือกสาเหตุ--</option>
                                        <option value="1">ค่าธรรมเนียม</option>
                                        <option value="2">เงินขาด/เงินเกิน</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse-light btn-fw aksorn f-1-0" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                    <button type="button" class="btn btn-success btn-fw aksorn f-1-0" ng-click="OnClickReceiptPayment()">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Receipt Ends -->
    <div class="modal fade in" id="modal-content-report" style="padding-right: 17px; ">
        <div class="modal-dialog modal-del">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-4 aksorn flowlabel-blue ">{{document.typedesc}}เอกสาร {{document.DocNo}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body-del pl-3">
                    <div class="row">
                        <div class="col-md-2 text-left">
                            <div class="form-check aksorn text-primary f-1-2 ">
                                <label class="form-check-label f-1-0">
                                    <input type="checkbox" class="form-check-input" checked ng-model="document.original" ng-change="OnClickContentOriginalChange()">
                                    ต้นฉบับ
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 text-left">
                            <div class="form-check aksorn text-primary f-1-2  ">
                                <label class="form-check-label f-1-0">
                                    <input type="checkbox" class="form-check-input" checked ng-model="document.copy">
                                    สำเนา
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm dialog-lightgray-btn aksorn ml-auto" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                    <button type="button" class="flowbtnsm dialog-blue-btn aksorn ml-2" ng-disabled="!document.original && !document.copy" ng-click="OnClickReportType()">{{document.typedesc}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade in" id="modal-report" style="padding-right: 17px; ">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="height:850px;">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-4 aksorn flowlabel-blue ">พิมพ์เอกสาร {{document.DocNo}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body-del pl-3">
                    <div id="loader" class="loader-scroll-report mt-5" style="height:800px" ng-show="document.bindding == 1">
                        <div id="loaderInner">
                            <div class="circle-loader"></div>
                        </div>
                    </div>
                    <div class="form-horizontal" ng-show="document.bindding == 0">
                        <div class="box-body">
                            <div id="example1" style="height:700px;"></div>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm dialog-lightgray-btn aksorn ml-auto" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal fade in" id="modal-attach" style="padding-right: 17px; ">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" style="min-height:{{DocumentAttachView.AttachHeight}}">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-4 aksorn flowlabel-blue ">ชื่อไฟล์แนบ {{DocumentAttachView.AttachName}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body-del pl-3">
                    <div class="form-horizontal">
                        <div class="box-body">
                            <div id="exampleattach" style="height:700px;" ng-show="DocumentAttachView.AttachExtension == 'pdf'"></div>
                            <img class="modal-content-img" id="img01" ng-show="DocumentAttachView.AttachExtension != 'pdf'" src="{{DocumentAttachView.AttachShow}}">
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm dialog-lightgray-btn aksorn ml-auto" data-dismiss="modal" aria-label="Close">ปิดหน้าต่าง</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</form>