﻿
@using System.Web.Optimization;
@{
    Random d = new Random();
    string random = d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString() + d.Next(0, 9).ToString();
}

@section RenderScriptWithPage
    {
    <script src="~/js/controller/productcontroller/productscontroller.js?nocache= + @random"></script>
    <script src="~/lib/dropify/dropify.min.js"></script>
    <script>
        (function ($) {
            'use strict';
            $('.dropify').dropify();
        })(jQuery);

    </script>
}

    <title>สินค้า | BeefAccount</title>
<form autocomplete="off" ng-controller="productscontroller" data-ng-init="init()">
    <div class="row">
        <div class="col-md-12 ">
            <div class="d-flex">
                <h5 class="title-page-1">
                    รายการสินค้าทั้งหมด
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb pl-0">
                            <li class="breadcrumb-item" aria-current="page">รายการสินค้า</li>
                            <li class="breadcrumb-item active">แสดงทั้งหมด</li>
                        </ol>
                    </nav>
                </h5>
                <div class="h-25 ml-auto">
                    <div class="btn-group">
                        <button type="button" ng-click="OnClickAdd()" class="btn btn-success btn-fw px-5 aksorn f-1-2">สร้างใหม่</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 ">
            <nav>
                <ul class="pagination rounded aksorn f-1-0 ">
                    <li class="page-item border-paiging text-center" ng-click="OnClickSelectType('ALL')"><a class="page-link" ng-class="{ 'paging-active-subtitle' : Search.ProductType == 'ALL'}">แสดงทั้งหมด</a></li>
                    <li class="page-item border-paiging text-center" ng-click="OnClickSelectType('S')"><a class="page-link"  ng-class="{ 'paging-active-subtitle' : Search.ProductType == 'S'}"> <i class="ti-hummer f-0-8 mr-2"></i>บริการ</a></li>
                    <li class="page-item border-paiging text-center" ng-click="OnClickSelectType('P')"><a class="page-link"  ng-class="{ 'paging-active-subtitle' : Search.ProductType == 'P'}"> <i class="ti-package f-0-8 mr-2"></i>สินค้า</a></li>
                    <li class="page-item mega-dropdown border-paiging text-center">
                        <a class="page-link paging-non-active-subtitle" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ค้นหา <i class="ml-3 f-0-6  icon-arrow-down"></i></a>
                        <div class="dropdown-menu dropdown-menu-search  border-fix" aria-labelledby="dropdownMenuButton1">
                            <h6 class="dropdown-header aksorn f-1-0">ค้นหา : </h6>
                            <div class="form-group px-4  pb-0 mb-0 pt-1">
                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" ng-model="Search.InputFilter">
                            </div>
                            <h6 class="dropdown-header text-muted aksorn f-0-8" >ค้นหาจากชื่อ , รหัสสินค้า หรือบาร์โค้ด</h6>
                            <div class="dropdown-divider"></div>
                            <div class="form-group px-4  pb-0 mb-0 pt-1 text-right">
                                <button type="button" class="btn btn-primary btn-fw aksorn f-1-0 p-1" ng-click="OnClickSearch()">ค้นหา</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card card-weaccount border-fix-table">
                <div class="card-table search-table-outter table-responsive c-fixheight">
                    <div id="loader" ng-show="table.binding == 1">
                        <div id="loaderInner">
                            <div class="circle-loader"></div>
                        </div>
                    </div>
                    <table class="table table-hover  aksorn s-table  " ng-show="table.binding == 0">
                        <thead class="table-softyellow">
                            <tr>
                                <th width="15%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer a-hover-orderby" ng-click="orderByField='ProductCode'; reverseSort = !reverseSort">
                                        รหัสสินค้า
                                        <span class="ml-2" ng-show="orderByField == 'ProductCode'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="40%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer  a-hover-orderby" ng-click="orderByField='ProductName'; reverseSort = !reverseSort">
                                        ชื่อสินค้า
                                        <span class="ml-2" ng-show="orderByField == 'ProductName'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="20%" class="aksorn f-1-0 text-right">
                                    <a class="text-black cursor-pointer  a-hover-orderby" ng-click="orderByField='SellPriceOrder'; reverseSort = !reverseSort">
                                        ราคาต่อหน่วย
                                        <span class="ml-2" ng-show="orderByField == 'SellPriceOrder'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="10%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer  a-hover-orderby" ng-click="orderByField='UnitTypeName'; reverseSort = !reverseSort">
                                        หน่วย
                                        <span class="ml-2" ng-show="orderByField == 'UnitTypeName'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>

                                </th>
                                <th width="12%" class="aksorn f-1-0">
                                    <a class="text-black cursor-pointer  a-hover-orderby" ng-click="orderByField='CategoryName'; reverseSort = !reverseSort">
                                        หมวดสินค้า
                                        <span class="ml-2" ng-show="orderByField == 'CategoryName'"><span ng-show="!reverseSort"><i class="fa fa fa-sort-alpha-asc"></i></span><span ng-show="reverseSort"><i class="fa fa fa-sort-alpha-desc"></i></span></span>
                                    </a>
                                </th>
                                <th width="3%" class="aksorn f-1-0"></th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr class="cursor-pointer" ng-repeat="values in BusinessProduct  | offset: currentPage*itemsPerPage | limitTo: itemsPerPage  | orderBy:orderByField:reverseSort track by $index">
                                <td width="15%" ng-click="OnClickUpdate(values.ProductKey)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0"><i class="mr-2" ng-class="{ 'ti-package' : values.ProductType == 'P' , 'ti-hummer' : values.ProductType == 'S' }"></i>{{values.ProductCode}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td width="40%" ng-click="OnClickUpdate(values.ProductKey)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0">
                                                {{values.ProductName}}
                                            </p>
                                        </div>
                                        <div class="col-12">
                                            <p class="f-0-8 text-muted mb-0">
                                                {{values.ProductDescription}}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td width="20%" ng-click="OnClickUpdate(values.ProductKey)">
                                    <div class="row">
                                        <div class="col-12 text-right">
                                            <p class="f-1-0">
                                                {{values.SellPriceText}}
                                                </p>
                                        </div>
                                    </div>
                                </td>
                                <td width="10%" ng-click="OnClickUpdate(values.ProductKey)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0">
                                                {{values.UnitTypeName}}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td width="12%" ng-click="OnClickUpdate(values.ProductKey)">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="f-1-0">
                                                {{values.CategoryName}}
                                            </p>
                                        </div>
                                    </div>
                                </td>
                                <td width="3%">
                                    <div class="row">
                                        <div class="col-12 ">
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-light mb-2 icon-btn dropdown-toggle-split p-2" id="dropdownMenuIconButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-options"></i>
                                                </button>
                                                <div class="dropdown-menu border-fix" aria-labelledby="dropdownMenuIconButton3">
                                                    <a class="dropdown-item" ng-click="OnClickUpdate(values.ProductKey)"><i class="fa fa-edit mr-2 "></i>แก้ไข</a>
                                                    <a class="dropdown-item py-2" ng-click="OnClickDuplicate(values.ProductKey)"><i class="fa fa-files-o mr-2 "></i>สร้างซ้ำ</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item py-2 text-softred" ng-click="OnclickDelete(values.ProductKey)"><i class="fa fa-trash-o mr-2 "></i>ลบสินค้า</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-12   grid-margin stretch-card pb-0 ml-3 mt-3 mb-0">
                        <nav>
                            <ul class="pagination" ng-show="itemsCount  > 0">
                                <li class="page-item" ng-class="prevPageDisabled()" ng-click="prevPage()"><a class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                <li class="page-item" ng-class="{active : n.code === currentPage}" ng-repeat="n in retpage" ng-if="n.show == 1" ng-click="setPage(n.code)"><a class="page-link">{{n.name}}</a></li>
                                <li class="page-item"><a class="page-link" ng-class="nextPageDisabled()" ng-click="nextPage()"><i class="mdi mdi-chevron-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- ProductAdd Modal starts -->
    <div class="modal fade" id="modalproduct-add" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-text" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-subtitle-full text-primary f-1-6 aksorn">
                        สร้างบริการหรือสินค้า
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row-modal pl-2 mb-4">
                        <div class="col-lg-7 pl-0">
                            <div class="row-modal text-left ">
                                <label for="exampleInputEmail2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ประเภทสินค้า: </label>
                                <div class="col-sm-7 pl-0">
                                    <select class="form-control" id="exampleFormControlSelect2" ng-model="BusinessProductAdd.ProductType" ng-disabled="BusinessProductAdd.ProductKey != undefined">
                                        <option value="S">บริการ</option>
                                        <option value="P">สินค้า</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row-modal text-left ">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">รหัสสินค้า: </label>
                                <div class="col-sm-7 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" ng-model="BusinessProductAdd.ProductCode">
                                </div>
                            </div>
                            <div class=" row-modal text-left ">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ชื่อสินค้า: </label>
                                <div class="col-sm-7 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" ng-model="BusinessProductAdd.ProductName">
                                </div>
                            </div>
                            <div class=" row-modal text-left ">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">รายละเอียดสินค้า: </label>
                                <div class="col-sm-7 pl-0">
                                    <textarea rows="4" class="form-control form-textarea" id="exampleInputtext2" placeholder="" ng-model="BusinessProductAdd.ProductDescription"></textarea>
                                </div>
                            </div>
                            <div class=" row-modal text-left mt-1 ">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">หน่วยสินค้า:</label>
                                <div class="col-sm-7 pl-0">
                                    <div class=" pl-0" id="productunit">
                                        <input class="typeahead form-control" type="text" placeholder="" id="input_unittype" autocomplete="off" ng-model="BusinessProductAdd.UnitTypeName">
                                    </div>
                                </div>
                            </div>
                            <div class=" row-modal text-left mt-1 ">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0 mt-2">หมวดสินค้า:</label>
                                <div class="col-sm-7 pl-0">
                                    <div class=" pl-0" id="productcategory">
                                        <input class="typeahead form-control" type="text" placeholder="" id="input_categorytype" autocomplete="off" ng-model="BusinessProductAdd.CategoryName">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 pl-0">
                            <div class=" row-modal text-left ">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ราคาขาย: </label>
                                <div class="col-sm-8 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" decimal-only ng-model="BusinessProductAdd.SellPrice">
                                </div>
                            </div>
                            <div class=" row-modal text-left ">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ภาษีมูลค่าเพิ่ม: </label>
                                <div class="col-sm-8 pl-0">
                                    <select class="form-control" id="exampleFormControlSelect2" ng-model="BusinessProductAdd.SellTaxType">
                                        <option value="1">ราคาไม่รวม VAT</option>
                                        <option value="2">ราคารวม VAT แล้ว</option>
                                        <option value="3">VAT 0%</option>
                                        <option value="4">สินค้าได้รับยกเว้นภาษี (N/A)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-modal pl-2 mb-4" ng-show="BusinessProductAdd.ProductType == 'P'">
                        <div class="col-lg-12 pl-0" style="position:relative;">
                            <h5 class="modal-subtitle-full text-primary pl-0 f-1-2  aksorn">
                                รายละเอียดการซื้อ
                            </h5>
                            <div class="hr-title">&nbsp;</div>
                        </div>
                        <div class="col-lg-7 pl-0">
                            <div class=" row-modal text-left ">

                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">
                                    รายละเอียดการซื้อ:
                                </label>
                                <div class="col-sm-7 pl-0">
                                    <textarea rows="4" class="form-control form-textarea" id="exampleInputtext2" placeholder="" ng-model="BusinessProductAdd.BuyDescription"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 pl-0">
                            <div class=" row-modal text-left ">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ราคาซื้อ: </label>
                                <div class="col-sm-8 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" decimal-only ng-model="BusinessProductAdd.BuyPrice">
                                </div>
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">ภาษีมูลค่าเพิ่ม: </label>
                                <div class="col-sm-8 pl-0">
                                    <select class="form-control" id="exampleFormControlSelect2" ng-model="BusinessProductAdd.BuyTaxType">
                                        <option value="1">ราคาไม่รวม VAT</option>
                                        <option value="2">ราคารวม VAT แล้ว</option>
                                        <option value="3">VAT 0%</option>
                                        <option value="4">สินค้าได้รับยกเว้นภาษี (N/A)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row-modal pl-2 mb-4">
                        <div class="col-lg-12 pl-0" style="position:relative;">
                            <h5 class="modal-subtitle-full text-primary pl-0 f-1-2  aksorn">
                                รายละเอียดเพิ่มเติม
                            </h5>
                            <div class="hr-title">&nbsp;</div>
                        </div>
                        <div class="col-lg-7 pl-0">
                            <div class="row-modal text-left ">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">รหัสบาร์โค้ด: </label>
                                <div class="col-sm-7 pl-0">
                                    <input type="text" class="form-control" id="exampleInputtext2" placeholder="" ng-model="BusinessProductAdd.ProductBarCode">
                                </div>
                            </div>
                            <div class="row-modal text-left ">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0">รูปสินค้า: </label>
                                <div class="col-sm-7 pl-0">
                                    <input id="product_thumnail" type="file" ngf-select="UploadFiles($files)"
                                           data-max-file-size="3M" data-allowed-file-extensions="jpg png jpeg" />
                                </div>
                            </div>
                            <div class="row-modal text-left ">
                                <label for="exampleInputtext2" class="col-sm-4 pl-0 col-form-label aksorn f-1-0"></label>
                                <div class="col-sm-7 pl-0">
                                    <label for="exampleInputtext2" class="col-sm-12 text-muted pl-0 col-form-label aksorn f-0-8">*ขนาดภาพที่แนะนำ ขนาดไม่เกิน 3MB นามสกุลไฟล์ .jpg .png .jpeg เท่านั้น</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-inverse-light btn-fw aksorn f-1-0" data-dismiss="modal" aria-label="Close">ยกเลิก</button>
                    <button type="button" class="btn btn-success btn-fw aksorn f-1-0" ng-click="OnClickSave()">บันทึก</button>
                </div>
            </div>
        </div>
    </div>
    <!-- ProductAdd Ends -->
    <div class="modal fade" id="modalproduct-del" tabindex="-1" data-keyboard="false" role="dialog" aria-labelledby="exampleModalLabel-2" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-del modal-del" role="document">
            <div class="modal-content modal-content-del">
                <div class="modal-header-del">
                    <h5 class="modal-subtitle-full text-center pr-0 f-1-6 aksorn">ยืนยันการลบสินค้า/บริการนี้</h5>
                    <button type="button" class="close-del" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body-del">
                    <div>
                        <p class="f-1-0 aksorn">คุณกำลังลบสินค้า / บริการ, ต้องการดำเนินการต่อหรือไม่?</p>
                    </div>
                </div>
                <div class="modal-footer-del">
                    <button type="button" class="flowbtnsm close-btn mr-3 aksorn" data-dismiss="modal" aria-label="Close">ปิด</button>
                    <button type="button" class="flowbtnsm dialog-red-btn aksorn " ng-click="OnClickConfirmDelete()">ลบข้อมูล</button>
                </div>
            </div>
        </div>
    </div>
</form>
